flows.json
[{"id":"3656ea08.e66c36","type":"tab","label":"リモコン操作","disabled":false,"info":""},{"id":"5010b6a2.5a7b68","type":"tab","label":"状態表示","disabled":false,"info":""},{"id":"fc98f891.4634f8","type":"tab","label":"タイマー予約","disabled":false,"info":""},{"id":"becd009d.22055","type":"tab","label":"温度制御","disabled":false,"info":""},{"id":"3b4cac19.267214","type":"tab","label":"熱帯夜対策","disabled":false,"info":""},{"id":"e5a3bdc8.169cc","type":"mqtt-broker","name":"Free Public MQTT 5 Broker Server","broker":"broker.emqx.io","port":"1883","tls":"4ad98a91.f81c14","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dfd49bd6.cc2368","type":"mqtt-broker","name":"Free Public MQTT 5 Broker Server","broker":"broker.emqx.io","port":"1883","tls":"544a6b04.86de24","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ad98a91.f81c14","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"544a6b04.86de24","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"e1e02ba8.a642c8","type":"ui_tab","name":"L-remocon1","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"7a1d18d9.d0e8a8","type":"ui_tab","name":"L-remocon2","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"652fc399.133f8c","type":"ui_tab","name":"タイマー予約","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"dc755b72.c0f8a8","type":"ui_tab","name":"状態表示","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"76bdb2c2.5d23cc","type":"ui_group","name":"制御信号送出","tab":"e1e02ba8.a642c8","order":1,"disp":true,"width":6,"collapse":false},{"id":"aaa71eb9.29497","type":"ui_group","name":"リモコン信号学習","tab":"7a1d18d9.d0e8a8","order":2,"disp":true,"width":6,"collapse":false},{"id":"ebdf4025.6ac128","type":"ui_group","name":"タイマー予約","tab":"652fc399.133f8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"e7db4c84.3f1de","type":"ui_group","name":"状態表示","tab":"dc755b72.c0f8a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"31099e77.1809e2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d0ddd7c4.f67588","type":"ui_group","name":"Group 1","tab":"82af5ff3.61c89","order":1,"disp":false,"width":"6","collapse":false},{"id":"82af5ff3.61c89","type":"ui_tab","name":"リモコン操作","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"e81b78b6.7e9d78","type":"ui_group","name":"予約削除","tab":"652fc399.133f8c","order":2,"disp":true,"width":6,"collapse":true},{"id":"260efeb3.289722","type":"ui_group","name":"温度制御-1","tab":"90344612.5fb458","order":1,"disp":true,"width":"6","collapse":true},{"id":"367a7b24.1ca594","type":"ui_group","name":"温度制御-2","tab":"90344612.5fb458","order":2,"disp":true,"width":"6","collapse":true},{"id":"90344612.5fb458","type":"ui_tab","name":"温度制御","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"5ac6c0f0.22751","type":"ui_tab","name":"熱帯夜対策","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"b101cc74.8c0ec","type":"ui_group","name":"熱帯夜クーラー制御","tab":"5ac6c0f0.22751","order":1,"disp":true,"width":"6","collapse":false},{"id":"ed36775d.94f978","type":"ui_spacer","name":"spacer","group":"b101cc74.8c0ec","order":3,"width":6,"height":1},{"id":"f9a7557d.8317f8","type":"ui_spacer","name":"spacer","group":"b101cc74.8c0ec","order":5,"width":1,"height":1},{"id":"8174df2c.4a7a1","type":"ui_spacer","name":"spacer","group":"b101cc74.8c0ec","order":8,"width":1,"height":1},{"id":"d84bb85d.3feff8","type":"exec","z":"3656ea08.e66c36","command":"","addpay":true,"append":" ","useSpawn":"false","timer":"60","oldrc":false,"name":"赤外線信号送出","x":880,"y":480,"wires":[["55302481.cb009c"],["e80842f8.538cb"],["2b7a2b97.e520a4"]]},{"id":"4846f54d.6f594c","type":"inject","z":"3656ea08.e66c36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["9d1906e3.f3b5d8"]]},{"id":"1f88571f.eb1bd9","type":"template","z":"3656ea08.e66c36","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{user}}/{{folder}}/irrp_long.py -p -g22 -f /home/{{user}}/{{folder}}/{{payload}}","output":"str","x":660,"y":480,"wires":[["d84bb85d.3feff8","1f652c6a.515444"]]},{"id":"81486dad.8c7fc","type":"change","z":"3656ea08.e66c36","name":"L_remocon","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"folder","pt":"msg","to":"L_remocon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":400,"wires":[["4aa13116.e5f0d","ccc08f55.52391"]]},{"id":"f2c6b2d8.1ac7a","type":"link out","z":"3656ea08.e66c36","name":"","links":["5b00f051.c12cc","170bb2d2.7c386d"],"x":315,"y":460,"wires":[]},{"id":"5b00f051.c12cc","type":"link in","z":"3656ea08.e66c36","name":"","links":["f2c6b2d8.1ac7a"],"x":335,"y":300,"wires":[["fb80f47b.4d5458"]]},{"id":"f330c6b5.fa70c8","type":"comment","z":"3656ea08.e66c36","name":"制御モードと学習モードを1画面で実現。","info":"","x":699,"y":85,"wires":[]},{"id":"a9878c03.c655f","type":"comment","z":"3656ea08.e66c36","name":"folder","info":"","x":650,"y":360,"wires":[]},{"id":"960c1999.e0f098","type":"comment","z":"3656ea08.e66c36","name":"user","info":"","x":530,"y":360,"wires":[]},{"id":"9e72c744.5427a8","type":"change","z":"3656ea08.e66c36","name":"pi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"user","pt":"msg","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":400,"wires":[["81486dad.8c7fc"]]},{"id":"9d1906e3.f3b5d8","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":3,"width":3,"height":1,"passthru":true,"label":"aircon cool_H","tooltip":"","color":"","bgcolor":"","icon":"","payload":"aircon cool_H","payloadType":"str","topic":"","topicType":"str","x":140,"y":100,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"9af4bbca.f3f338","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":4,"width":3,"height":1,"passthru":true,"label":"aircon cool_L","tooltip":"","color":"","bgcolor":"","icon":"","payload":"aircon cool_L","payloadType":"str","topic":"","topicType":"str","x":140,"y":140,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"adacc354.d54e9","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":5,"width":3,"height":1,"passthru":true,"label":"aircon heat","tooltip":"","color":"","bgcolor":"","icon":"","payload":"aircon heat","payloadType":"str","topic":"","topicType":"str","x":130,"y":180,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"8e44f372.aadbe","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":6,"width":3,"height":1,"passthru":true,"label":"aircon off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"aircon off","payloadType":"str","topic":"","topicType":"str","x":120,"y":220,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"285dee18.4341d2","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":8,"width":2,"height":2,"passthru":true,"label":"tv on-off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tv on-off","payloadType":"str","topic":"","topicType":"str","x":120,"y":260,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"cc5f34d4.c09628","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":7,"width":2,"height":1,"passthru":true,"label":"ch_up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tv ch_up","payloadType":"str","topic":"","topicType":"str","x":110,"y":300,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"4d9c0753.efc338","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":10,"width":2,"height":1,"passthru":true,"label":"ch_down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tv ch_down","payloadType":"str","topic":"","topicType":"str","x":120,"y":340,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"695efbd1.d1b244","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":12,"width":0,"height":0,"passthru":true,"label":"light on-off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"light on-off","payloadType":"str","topic":"","topicType":"str","x":130,"y":460,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"42f568cd.2c16f8","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":13,"width":0,"height":0,"passthru":true,"label":"fan on-off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fan on-off","payloadType":"str","topic":"","topicType":"str","x":120,"y":500,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"86b3d35a.a9f73","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":14,"width":3,"height":1,"passthru":true,"label":"ext no1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ext no1","payloadType":"str","topic":"","topicType":"str","x":120,"y":540,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"73f0956f.f8a95c","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":15,"width":3,"height":1,"passthru":true,"label":"ext no2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ext no2","payloadType":"str","topic":"","topicType":"str","x":120,"y":580,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"5c945554.523f5c","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":16,"width":3,"height":1,"passthru":true,"label":"ext no3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ext no3","payloadType":"str","topic":"","topicType":"str","x":120,"y":620,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"173bde71.a6d7f2","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":17,"width":3,"height":1,"passthru":true,"label":"ext no4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ext no4","payloadType":"str","topic":"","topicType":"str","x":120,"y":660,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"ec580950.02f768","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":9,"width":2,"height":1,"passthru":true,"label":"vol_up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tv vol_up","payloadType":"str","topic":"","topicType":"str","x":110,"y":380,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"acfea8af.8d0588","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":11,"width":2,"height":1,"passthru":true,"label":"vol_down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tv vol_down","payloadType":"str","topic":"","topicType":"str","x":120,"y":420,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"c1629703.c6ca98","type":"ui_switch","z":"3656ea08.e66c36","name":"","label":"モード","tooltip":"","group":"d0ddd7c4.f67588","order":2,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":469,"y":165,"wires":[["ab914186.9861b"]]},{"id":"a9d21b88.f25398","type":"ui_text","z":"3656ea08.e66c36","group":"d0ddd7c4.f67588","order":1,"width":5,"height":1,"name":"","label":"リモコン画面　","format":"{{msg.payload}}","layout":"row-right","x":1059,"y":165,"wires":[]},{"id":"ab914186.9861b","type":"switch","z":"3656ea08.e66c36","name":"モード設定","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":609,"y":165,"wires":[["e79b7569.58edf8","8ec49c4c.b5af2"],["f8aa59f5.d95b88","4f7d84a1.49d1ac"]]},{"id":"f8aa59f5.d95b88","type":"template","z":"3656ea08.e66c36","name":"学習モード","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"学習モード","output":"str","x":829,"y":205,"wires":[["a9d21b88.f25398"]]},{"id":"e79b7569.58edf8","type":"template","z":"3656ea08.e66c36","name":"制御モード","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"制御モード","output":"str","x":829,"y":125,"wires":[["a9d21b88.f25398"]]},{"id":"4f7d84a1.49d1ac","type":"change","z":"3656ea08.e66c36","name":"set:学習","rules":[{"t":"set","p":"mode","pt":"flow","to":"学習","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":819,"y":245,"wires":[[]]},{"id":"8ec49c4c.b5af2","type":"change","z":"3656ea08.e66c36","name":"set:制御","rules":[{"t":"set","p":"mode","pt":"flow","to":"制御","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":819,"y":165,"wires":[[]]},{"id":"4aa13116.e5f0d","type":"switch","z":"3656ea08.e66c36","name":"モード判定","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"制御","vt":"str"},{"t":"eq","v":"学習","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":455,"y":512,"wires":[["1f88571f.eb1bd9"],["dff3fc98.83c75"]]},{"id":"5f010737.6a8f88","type":"exec","z":"3656ea08.e66c36","command":"","addpay":true,"append":" ","useSpawn":"false","timer":"20","oldrc":false,"name":"赤外線信号受信","x":880,"y":540,"wires":[["55302481.cb009c","92119571.de9ac8"],["e80842f8.538cb"],["2b7a2b97.e520a4","92119571.de9ac8","792aecd0.cf90b4"]]},{"id":"55302481.cb009c","type":"debug","z":"3656ea08.e66c36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":460,"wires":[]},{"id":"4c9c1c8e.0dd844","type":"rpi-gpio out","z":"3656ea08.e66c36","name":"表示LED#5","pin":"29","set":true,"level":"0","freq":"","out":"out","x":1150,"y":660,"wires":[]},{"id":"b58b2758.989bf8","type":"delay","z":"3656ea08.e66c36","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":660,"wires":[["1d3fd86.4216b28"]]},{"id":"9cef96cc.54b3d8","type":"inject","z":"3656ea08.e66c36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":950,"y":700,"wires":[["4c9c1c8e.0dd844","5d5eecc9.711b04"]]},{"id":"8fa5444.34e82b8","type":"inject","z":"3656ea08.e66c36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":950,"y":740,"wires":[["4c9c1c8e.0dd844","5d5eecc9.711b04"]]},{"id":"e80842f8.538cb","type":"debug","z":"3656ea08.e66c36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1151,"y":508,"wires":[]},{"id":"2b7a2b97.e520a4","type":"debug","z":"3656ea08.e66c36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1151,"y":555,"wires":[]},{"id":"1d3fd86.4216b28","type":"change","z":"3656ea08.e66c36","name":"LED点灯","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":660,"wires":[["4c9c1c8e.0dd844","5d5eecc9.711b04"]]},{"id":"92119571.de9ac8","type":"change","z":"3656ea08.e66c36","name":"LED消灯","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":620,"wires":[["4c9c1c8e.0dd844","792aecd0.cf90b4","5d5eecc9.711b04"]]},{"id":"dff3fc98.83c75","type":"template","z":"3656ea08.e66c36","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{user}}/{{folder}}/irrp_long.py -r -g4 -f /home/{{user}}/{{folder}}/{{payload}}  --no-confirm --post 130","output":"str","x":660,"y":540,"wires":[["5f010737.6a8f88","b58b2758.989bf8","63caedac.786134"]]},{"id":"25b6f0d1.83c9","type":"inject","z":"3656ea08.e66c36","name":"起動時設定 制御on  学習off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":459,"y":125,"wires":[["c1629703.c6ca98"]]},{"id":"e6b95e9.4f5d7a","type":"ui_template","z":"3656ea08.e66c36","group":"d0ddd7c4.f67588","name":"押されたボタンを表示","order":18,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1160,"y":360,"wires":[[]]},{"id":"1f652c6a.515444","type":"delay","z":"3656ea08.e66c36","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":400,"wires":[["792aecd0.cf90b4"]]},{"id":"792aecd0.cf90b4","type":"template","z":"3656ea08.e66c36","name":"表示を消去","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":1110,"y":400,"wires":[["e6b95e9.4f5d7a"]]},{"id":"ccc08f55.52391","type":"template","z":"3656ea08.e66c36","name":"押されたボタン","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"コマンド :  {{payload}} ","output":"str","x":860,"y":360,"wires":[["e6b95e9.4f5d7a"]]},{"id":"c665974.0c5a068","type":"inject","z":"3656ea08.e66c36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":740,"wires":[["173bde71.a6d7f2"]]},{"id":"fb80f47b.4d5458","type":"delay","z":"3656ea08.e66c36","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":300,"wires":[["9e72c744.5427a8"]]},{"id":"6ce688f1.5d1ec8","type":"debug","z":"fc98f891.4634f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":840,"wires":[]},{"id":"19c7353b.5b46fb","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"sousa","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":840,"wires":[["6ce688f1.5d1ec8","377a66a8.0ea03a"]]},{"id":"d3a7334d.39c0f","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"jikan","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":880,"wires":[["6ce688f1.5d1ec8","377a66a8.0ea03a"]]},{"id":"b77e6afa.8494a8","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"fun","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":920,"wires":[["6ce688f1.5d1ec8","377a66a8.0ea03a"]]},{"id":"377a66a8.0ea03a","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"sousa","pt":"msg","to":"sousa","tot":"flow"},{"t":"set","p":"jikan","pt":"msg","to":"jikan","tot":"flow"},{"t":"set","p":"fun","pt":"msg","to":"fun","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":920,"wires":[["93399711.25c918"]]},{"id":"ff26d0fe.46128","type":"comment","z":"fc98f891.4634f8","name":"新規タイマー予約する　操作内容　と　時間　分　を指定","info":"","x":330,"y":800,"wires":[]},{"id":"9724b83.53c1448","type":"comment","z":"fc98f891.4634f8","name":"操作内容、時間、分を 新規ファイルに保存","info":"","x":280,"y":1000,"wires":[]},{"id":"51e1b950.18d078","type":"csv","z":"fc98f891.4634f8","name":"データを変数に代入","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"sousa1,jikan1,fun1,sousa2,jikan2,fun2,sousa3,jikan3,fun3,sousa4,jikan4,fun4","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":560,"y":400,"wires":[["fd4abe12.74253","be547559.762008"]]},{"id":"f8f18d40.cbb61","type":"file in","z":"fc98f891.4634f8","name":"予約ファイル読込","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":610,"y":260,"wires":[["51e1b950.18d078","b98179af.7792c8"]]},{"id":"701575b2.9a149c","type":"inject","z":"fc98f891.4634f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":260,"wires":[["b49e43c7.01946"]]},{"id":"62db33d5.1c435c","type":"link out","z":"fc98f891.4634f8","name":"","links":["dc8e9d0c.2bf4a","aedb0b64.6986f8","d3314fff.c948e"],"x":1395,"y":500,"wires":[]},{"id":"be547559.762008","type":"change","z":"fc98f891.4634f8","name":"予約データ1のセット","rules":[{"t":"set","p":"sousa1","pt":"flow","to":"payload.sousa1","tot":"msg"},{"t":"set","p":"jikan1","pt":"flow","to":"payload.jikan1","tot":"msg"},{"t":"set","p":"fun1","pt":"flow","to":"payload.fun1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":400,"wires":[["5d5c96a.28e6868"]]},{"id":"d6e4aa15.002138","type":"file","z":"fc98f891.4634f8","name":"新規予約ファイル書込み","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":888.7500076293945,"y":1125,"wires":[["71884595.4e838c","c986b636.85d0c8"]]},{"id":"4b58ed9.0616614","type":"template","z":"fc98f891.4634f8","name":"新規追加予約データセット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.sousa}},{{flow.jikan}},{{flow.fun}},","output":"str","x":618.7500076293945,"y":1125,"wires":[["d6e4aa15.002138"]]},{"id":"e36d2262.9571e","type":"change","z":"fc98f891.4634f8","name":"L_remocon","rules":[{"t":"set","p":"folder","pt":"flow","to":"L_remocon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":100,"wires":[["435c1d8c.6e75e4"]]},{"id":"91c4aaec.a72658","type":"comment","z":"fc98f891.4634f8","name":"user","info":"","x":324.99997329711914,"y":47.4999680519104,"wires":[]},{"id":"fcca811c.c9974","type":"change","z":"fc98f891.4634f8","name":"pi","rules":[{"t":"set","p":"user","pt":"flow","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":100,"wires":[["e36d2262.9571e"]]},{"id":"709a1a3b.b774c4","type":"comment","z":"fc98f891.4634f8","name":"folder","info":"","x":464.99997329711914,"y":47.4999680519104,"wires":[]},{"id":"1a1fed2d.844083","type":"inject","z":"fc98f891.4634f8","name":"起動時に","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["fcca811c.c9974"]]},{"id":"4dda9c4f.70e194","type":"template","z":"fc98f891.4634f8","name":"yoyaku_new.csv","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/yoyaku_new.csv","output":"str","x":398.75000762939453,"y":1125,"wires":[["4b58ed9.0616614"]]},{"id":"b49e43c7.01946","type":"template","z":"fc98f891.4634f8","name":"yoyaku.csv","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/yoyaku.csv","output":"str","x":430,"y":260,"wires":[["f8f18d40.cbb61"]]},{"id":"d52ade9.1ecb22","type":"catch","z":"fc98f891.4634f8","name":"","scope":["51e1b950.18d078"],"uncaught":false,"x":530,"y":440,"wires":[["ad764229.c86b8"]],"info":"予約の1にしかデータがないときに削除すると、\nデータ全てがなくなり、ファイルから読み取ったデータがからになる。\nこれほcsvで読み取るとエラーになるので、\nこのエラーが発生した時は、予約1を空白でセットする。\n"},{"id":"ad764229.c86b8","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"sousa1","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":440,"wires":[["733477a6.ae5c38"]]},{"id":"733477a6.ae5c38","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"jikan1","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":440,"wires":[["f5b0c057.ef85"]]},{"id":"f5b0c057.ef85","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"fun1","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":440,"wires":[[]]},{"id":"435c1d8c.6e75e4","type":"link out","z":"fc98f891.4634f8","name":"","links":["9b39585c.108468"],"x":675,"y":100,"wires":[]},{"id":"9b39585c.108468","type":"link in","z":"fc98f891.4634f8","name":"","links":["435c1d8c.6e75e4"],"x":155,"y":320,"wires":[["b49e43c7.01946"]]},{"id":"c5e0843b.457b68","type":"exec","z":"fc98f891.4634f8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"予約ファイル整理","x":930,"y":2080,"wires":[["b37fba5f.60a738","f81835d1.bbdd38"],["76bd4754.6ffa48","f81835d1.bbdd38","df88ecd1.a584d"],["6c31c97e.fe7bb8"]],"info":"python3 /home/tk/L_remocon/yoyaku_reload.py\n\nファィルをfilenameで取れない場合は、\n直接指定するしかないのか?\n\nflowではダメだがpayloadなら行けそうだ\n\nexec フローはfilenameを受け取り処理するが、\nflowでは受け取れない\npayloadで渡す必要がある。"},{"id":"a8c29fec.8e17","type":"template","z":"fc98f891.4634f8","name":"yoyaku_del.csv","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/yoyaku_del.csv","output":"str","x":1180,"y":1840,"wires":[["31b0e4b9.f3e2bc"]]},{"id":"31b0e4b9.f3e2bc","type":"file","z":"fc98f891.4634f8","name":"予約ファイル削除","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1390,"y":1840,"wires":[["5fcbdbb3.2e9914"]]},{"id":"ac56b66a.9cac58","type":"comment","z":"fc98f891.4634f8","name":"対象ファィルをfowで指定するとエラーになる","info":"exec フローはfilenameを受け取り処理するが、\nflowでは受け取れない\npayloadで渡す必要がある。\n","x":590,"y":2140,"wires":[]},{"id":"bf97c045.2420d","type":"template","z":"fc98f891.4634f8","name":"yoyaku_reload_03.py","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{user}}/{{folder}}/yoyaku_reload_03.py","output":"str","x":700,"y":2080,"wires":[["c5e0843b.457b68"]]},{"id":"3bbce251.bf7e7e","type":"change","z":"fc98f891.4634f8","name":"folder","rules":[{"t":"set","p":"folder","pt":"msg","to":"folder","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2080,"wires":[["bf97c045.2420d"]]},{"id":"b13f3e6a.777d8","type":"change","z":"fc98f891.4634f8","name":"user","rules":[{"t":"set","p":"user","pt":"msg","to":"user","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2080,"wires":[["3bbce251.bf7e7e"]]},{"id":"c7a7689a.823c28","type":"switch","z":"fc98f891.4634f8","name":"予約が4つの時は受け付けない","property":"sousa4","propertyType":"flow","rules":[{"t":"null"},{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":551.2500381469727,"y":1057.500015258789,"wires":[["9cdcbb0d.039438"],["9cdcbb0d.039438"],["eb14c337.39983"]]},{"id":"5a108c59.b7b314","type":"ui_button","z":"fc98f891.4634f8","name":"","group":"ebdf4025.6ac128","order":5,"width":0,"height":0,"passthru":false,"label":"保存","tooltip":"","color":"","bgcolor":"","icon":"save","payload":"","payloadType":"str","topic":"","topicType":"str","x":173.7500343322754,"y":1057.5000319480896,"wires":[["57c4647b.aad79c"]]},{"id":"92d9e81f.49aa38","type":"ui_button","z":"fc98f891.4634f8","name":"","group":"e81b78b6.7e9d78","order":9,"width":6,"height":1,"passthru":true,"label":"全予約 削除","tooltip":"","color":"","bgcolor":"","icon":"delete_forever","payload":"true","payloadType":"bool","topic":"","x":230,"y":1720,"wires":[["4053a2fa.d9a5ac","cf505dcb.624d5","4e952183.de9ce","fc3611c.fcf7df"]]},{"id":"57839f3f.3dbad","type":"ui_dropdown","z":"fc98f891.4634f8","name":"","label":"操作内容","tooltip":"","place":"Select option","group":"ebdf4025.6ac128","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Aircon cool_L on","value":"aircon cool_L","type":"str"},{"label":"Aircon Heat on","value":"aircon heat","type":"str"},{"label":"Aircon off","value":"aircon off","type":"str"},{"label":"TV","value":"TV on-off","type":"str"},{"label":"Light","value":"Light  on-off","type":"str"},{"label":"fan","value":"fan on-off","type":"str"},{"label":"ext no1","value":"ext no1","type":"str"},{"label":"ext no2","value":"ext no2","type":"str"},{"label":"ext no3","value":"ext no3","type":"str"},{"label":"ext no4","value":"ext no4","type":"str"}],"payload":"","topic":"","x":260,"y":840,"wires":[["19c7353b.5b46fb"]]},{"id":"7a4d5d7e.b44464","type":"ui_slider","z":"fc98f891.4634f8","name":"","label":"時間","tooltip":"","group":"ebdf4025.6ac128","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"23","step":1,"x":250,"y":880,"wires":[["d3a7334d.39c0f"]]},{"id":"6128469a.6bfbf8","type":"ui_slider","z":"fc98f891.4634f8","name":"","label":"　分","tooltip":"","group":"ebdf4025.6ac128","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"59","step":1,"x":250,"y":920,"wires":[["b77e6afa.8494a8"]]},{"id":"93399711.25c918","type":"ui_text","z":"fc98f891.4634f8","group":"ebdf4025.6ac128","order":4,"width":0,"height":0,"name":"","label":"予約内容","format":"{{msg.sousa}} : {{msg.jikan}}時 {{msg.fun}}分","layout":"row-spread","x":940,"y":920,"wires":[]},{"id":"c2e52062.262c6","type":"ui_text","z":"fc98f891.4634f8","group":"e81b78b6.7e9d78","order":1,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1210,"y":640,"wires":[]},{"id":"b84e99d3.6bbe58","type":"ui_text","z":"fc98f891.4634f8","group":"e81b78b6.7e9d78","order":3,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1210,"y":680,"wires":[]},{"id":"fc8eab0c.4dd0d8","type":"ui_text","z":"fc98f891.4634f8","group":"e81b78b6.7e9d78","order":5,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1210,"y":720,"wires":[]},{"id":"607b4c4a.163e44","type":"ui_text","z":"fc98f891.4634f8","group":"e81b78b6.7e9d78","order":7,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1210,"y":760,"wires":[]},{"id":"b37fba5f.60a738","type":"debug","z":"fc98f891.4634f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":2040,"wires":[]},{"id":"6c31c97e.fe7bb8","type":"debug","z":"fc98f891.4634f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1152.500015258789,"y":2121.249993801117,"wires":[]},{"id":"76bd4754.6ffa48","type":"debug","z":"fc98f891.4634f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":2079,"wires":[]},{"id":"9cdcbb0d.039438","type":"switch","z":"fc98f891.4634f8","name":"操作内容 not null","property":"sousa","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":1040,"wires":[["3274efb0.f859"],["7823062f.330a28"]]},{"id":"3274efb0.f859","type":"switch","z":"fc98f891.4634f8","name":"時間  not null","property":"jikan","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":1040,"wires":[["6441b996.6f3328"],["7823062f.330a28"]]},{"id":"6441b996.6f3328","type":"switch","z":"fc98f891.4634f8","name":"分  not null","property":"fun","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":1040,"wires":[["4dda9c4f.70e194"],["7823062f.330a28"]]},{"id":"d2061f08.94be3","type":"ui_text","z":"fc98f891.4634f8","group":"ebdf4025.6ac128","order":6,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1090,"y":600,"wires":[]},{"id":"83fd7618.a38528","type":"ui_text","z":"fc98f891.4634f8","group":"ebdf4025.6ac128","order":8,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1090,"y":640,"wires":[]},{"id":"8ef9266f.bba958","type":"ui_text","z":"fc98f891.4634f8","group":"ebdf4025.6ac128","order":10,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1090,"y":680,"wires":[]},{"id":"d473d7b3.1a8ee8","type":"ui_text","z":"fc98f891.4634f8","group":"ebdf4025.6ac128","order":12,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1090,"y":720,"wires":[]},{"id":"dc8e9d0c.2bf4a","type":"link in","z":"fc98f891.4634f8","name":"","links":["62db33d5.1c435c"],"x":695,"y":680,"wires":[["2ac2e0d0.0eaf5","2fcb548.2786aac","13b48a78.01e336","4c2308bb.8a5b48"]]},{"id":"2d03a04c.d0d9d","type":"ui_switch","z":"fc98f891.4634f8","name":"","label":"sw1","tooltip":"","group":"ebdf4025.6ac128","order":7,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":910,"y":1300,"wires":[["5e69e9b2.d9cc28"]]},{"id":"fc77fc1b.f8fb2","type":"ui_switch","z":"fc98f891.4634f8","name":"","label":"sw2","tooltip":"","group":"ebdf4025.6ac128","order":9,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":910,"y":1380,"wires":[["64a6d7b4.440d28"]]},{"id":"4d15e939.76a5e8","type":"ui_switch","z":"fc98f891.4634f8","name":"","label":"sw3","tooltip":"","group":"ebdf4025.6ac128","order":11,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":910,"y":1460,"wires":[["36abd49b.72971c"]]},{"id":"f6fdf48f.487418","type":"ui_switch","z":"fc98f891.4634f8","name":"","label":"sw4","tooltip":"","group":"ebdf4025.6ac128","order":13,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":910,"y":1540,"wires":[["e65b4f95.c9ca9"]]},{"id":"71884595.4e838c","type":"debug","z":"fc98f891.4634f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1168.7500076293945,"y":1165,"wires":[]},{"id":"5e69e9b2.d9cc28","type":"switch","z":"fc98f891.4634f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1300,"wires":[["1116e87e.dd9088"],["2060c4ae.52d43c"]]},{"id":"1116e87e.dd9088","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"sw1","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1280,"wires":[["321af50.2182b0c"]]},{"id":"2b256ec9.896c02","type":"template","z":"fc98f891.4634f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\"1\"","output":"str","x":340,"y":1400,"wires":[["42b68637.a21cc8","ac07d159.75fc9","468e788c.1b8338","fe9002b5.63b2"]]},{"id":"4e3284e8.b40c0c","type":"change","z":"fc98f891.4634f8","name":"sw全削除","rules":[{"t":"set","p":"sw1","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"sw2","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"sw3","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"sw4","pt":"flow","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1820,"wires":[[]]},{"id":"9442b1e3.169","type":"comment","z":"fc98f891.4634f8","name":"予約の活殺","info":"","x":180,"y":1280,"wires":[]},{"id":"3709bddb.bcc1d2","type":"change","z":"fc98f891.4634f8","name":"予約データ1の削除","rules":[{"t":"set","p":"sousa1","pt":"flow","to":"","tot":"str"},{"t":"set","p":"jikan1","pt":"flow","to":"","tot":"str"},{"t":"set","p":"fun1","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1660,"wires":[[]]},{"id":"fbc4c2b1.23798","type":"comment","z":"fc98f891.4634f8","name":"全ファイルのデータを読み込み　変数に設定","info":"","x":290,"y":200,"wires":[]},{"id":"7a19776e.2ec338","type":"template","z":"fc98f891.4634f8","name":"yoyaku_sw.csv","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/yoyaku_sw.csv","output":"str","x":540,"y":500,"wires":[["478e618d.5f9ae"]]},{"id":"478e618d.5f9ae","type":"file in","z":"fc98f891.4634f8","name":"予約ファイル読込","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":750,"y":500,"wires":[["2acdb02f.8aa27"]]},{"id":"2acdb02f.8aa27","type":"csv","z":"fc98f891.4634f8","name":"データを変数に代入","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"sw1,sw2,sw3,sw4","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":980,"y":500,"wires":[["9b8f7fed.fda24"]]},{"id":"9b8f7fed.fda24","type":"change","z":"fc98f891.4634f8","name":"sw - > flow.swにセット","rules":[{"t":"set","p":"sw1","pt":"flow","to":"payload.sw1","tot":"msg"},{"t":"set","p":"sw2","pt":"flow","to":"payload.sw2","tot":"msg"},{"t":"set","p":"sw3","pt":"flow","to":"payload.sw3","tot":"msg"},{"t":"set","p":"sw4","pt":"flow","to":"payload.sw4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":500,"wires":[["62db33d5.1c435c","1903b6a.7676d49"]]},{"id":"5d5c96a.28e6868","type":"change","z":"fc98f891.4634f8","name":"予約データ2のセット","rules":[{"t":"set","p":"sousa2","pt":"flow","to":"payload.sousa2","tot":"msg"},{"t":"set","p":"jikan2","pt":"flow","to":"payload.jikan2","tot":"msg"},{"t":"set","p":"fun2","pt":"flow","to":"payload.fun2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":400,"wires":[["afe2ec63.c048a"]]},{"id":"afe2ec63.c048a","type":"change","z":"fc98f891.4634f8","name":"予約データ3のセット","rules":[{"t":"set","p":"sousa3","pt":"flow","to":"payload.sousa3","tot":"msg"},{"t":"set","p":"jikan3","pt":"flow","to":"payload.jikan3","tot":"msg"},{"t":"set","p":"fun3","pt":"flow","to":"payload.fun3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":400,"wires":[["c1fb28d7.d6b6a8"]]},{"id":"c1fb28d7.d6b6a8","type":"change","z":"fc98f891.4634f8","name":"予約データ4のセット","rules":[{"t":"set","p":"sousa4","pt":"flow","to":"payload.sousa4","tot":"msg"},{"t":"set","p":"jikan4","pt":"flow","to":"payload.jikan4","tot":"msg"},{"t":"set","p":"fun4","pt":"flow","to":"payload.fun4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":400,"wires":[[]]},{"id":"b98179af.7792c8","type":"delay","z":"fc98f891.4634f8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":500,"wires":[["7a19776e.2ec338"]]},{"id":"4df30a6b.c4daf4","type":"comment","z":"fc98f891.4634f8","name":"操作内容を反映したので、pythonでよろしくやっといてね","info":"","x":330,"y":2020,"wires":[]},{"id":"fd4abe12.74253","type":"debug","z":"fc98f891.4634f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":360,"wires":[]},{"id":"7a7ead96.140464","type":"change","z":"fc98f891.4634f8","name":"no削除","rules":[{"t":"set","p":"no","pt":"flow","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1860,"wires":[[]]},{"id":"f71f311.7bd42d","type":"template","z":"fc98f891.4634f8","name":"全削除　コード9","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"9","output":"str","x":930,"y":1840,"wires":[["a8c29fec.8e17"]]},{"id":"278078a5.f6b8c8","type":"ui_button","z":"fc98f891.4634f8","name":"","group":"e81b78b6.7e9d78","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"delete_forever","payload":"1","payloadType":"str","topic":"","x":870,"y":1660,"wires":[["d2d88e86.3bca1"]]},{"id":"c761e4a.028cf18","type":"ui_button","z":"fc98f891.4634f8","name":"","group":"e81b78b6.7e9d78","order":4,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"delete_forever","payload":"2","payloadType":"str","topic":"","x":890,"y":1700,"wires":[["6898f385.5dc3cc"]]},{"id":"573ae8fa.41fce8","type":"ui_button","z":"fc98f891.4634f8","name":"","group":"e81b78b6.7e9d78","order":6,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"delete_forever","payload":"3","payloadType":"str","topic":"","topicType":"str","x":910,"y":1740,"wires":[["1bf64f44.50e8a1"]]},{"id":"3e2dcb2.582c834","type":"ui_button","z":"fc98f891.4634f8","name":"","group":"e81b78b6.7e9d78","order":8,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"delete_forever","payload":"4","payloadType":"str","topic":"","topicType":"str","x":930,"y":1780,"wires":[["71b35006.49f79"]]},{"id":"246590e2.56b7f","type":"comment","z":"fc98f891.4634f8","name":"予約データの削除","info":"","x":210,"y":1660,"wires":[]},{"id":"d7f0256.e33c8d8","type":"change","z":"fc98f891.4634f8","name":"予約データ2の削除","rules":[{"t":"set","p":"sousa2","pt":"flow","to":"","tot":"str"},{"t":"set","p":"jikan2","pt":"flow","to":"","tot":"str"},{"t":"set","p":"fun2","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1700,"wires":[[]]},{"id":"c6f53be0.188688","type":"change","z":"fc98f891.4634f8","name":"予約データ3の削除","rules":[{"t":"set","p":"sousa3","pt":"flow","to":"","tot":"str"},{"t":"set","p":"jikan3","pt":"flow","to":"","tot":"str"},{"t":"set","p":"fun3","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1740,"wires":[[]]},{"id":"8bab4480.b686a8","type":"change","z":"fc98f891.4634f8","name":"予約データ4の削除","rules":[{"t":"set","p":"sousa4","pt":"flow","to":"","tot":"str"},{"t":"set","p":"jikan4","pt":"flow","to":"","tot":"str"},{"t":"set","p":"fun4","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1780,"wires":[["f71f311.7bd42d"]]},{"id":"2ac2e0d0.0eaf5","type":"template","z":"fc98f891.4634f8","name":"データ1セット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.sousa1}} : {{flow.jikan1}}時{{flow.fun1}}分","output":"str","x":900,"y":620,"wires":[["d2061f08.94be3","c2e52062.262c6"]]},{"id":"2fcb548.2786aac","type":"template","z":"fc98f891.4634f8","name":"データ2セット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.sousa2}} : {{flow.jikan2}}時{{flow.fun2}}分","output":"str","x":900,"y":660,"wires":[["83fd7618.a38528","b84e99d3.6bbe58"]]},{"id":"13b48a78.01e336","type":"template","z":"fc98f891.4634f8","name":"データ3セット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.sousa3}} : {{flow.jikan3}}時{{flow.fun3}}分","output":"str","x":900,"y":700,"wires":[["8ef9266f.bba958","fc8eab0c.4dd0d8"]]},{"id":"4c2308bb.8a5b48","type":"template","z":"fc98f891.4634f8","name":"データ4セット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.sousa4}} : {{flow.jikan4}}時{{flow.fun4}}分","output":"str","x":900,"y":740,"wires":[["d473d7b3.1a8ee8","607b4c4a.163e44"]]},{"id":"98433d90.10ddf","type":"comment","z":"fc98f891.4634f8","name":"予約活殺の表示","info":"","x":1080,"y":560,"wires":[]},{"id":"2d6f5ff2.f0924","type":"comment","z":"fc98f891.4634f8","name":"予約削除の表示","info":"","x":1280,"y":600,"wires":[]},{"id":"1903b6a.7676d49","type":"debug","z":"fc98f891.4634f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1450,"y":540,"wires":[]},{"id":"d3314fff.c948e","type":"link in","z":"fc98f891.4634f8","name":"","links":["62db33d5.1c435c"],"x":195,"y":1440,"wires":[["2b256ec9.896c02"]]},{"id":"c986b636.85d0c8","type":"link out","z":"fc98f891.4634f8","name":"","links":["4f0a1cac.2cc5f4","962c731.af5169"],"x":1393.7500076293945,"y":1125,"wires":[]},{"id":"4f0a1cac.2cc5f4","type":"link in","z":"fc98f891.4634f8","name":"","links":["c986b636.85d0c8","5fcbdbb3.2e9914"],"x":235,"y":2080,"wires":[["b13f3e6a.777d8"]]},{"id":"5fcbdbb3.2e9914","type":"link out","z":"fc98f891.4634f8","name":"","links":["4f0a1cac.2cc5f4","962c731.af5169"],"x":1535,"y":1840,"wires":[]},{"id":"f81835d1.bbdd38","type":"link out","z":"fc98f891.4634f8","name":"","links":["debd1ef2.fe896"],"x":1035,"y":2000,"wires":[]},{"id":"debd1ef2.fe896","type":"link in","z":"fc98f891.4634f8","name":"","links":["f81835d1.bbdd38"],"x":155,"y":380,"wires":[["b49e43c7.01946"]]},{"id":"dda953f6.3b2e1","type":"inject","z":"fc98f891.4634f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":2160,"wires":[["b13f3e6a.777d8"]]},{"id":"2abc8054.26dd5","type":"debug","z":"fc98f891.4634f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":1680,"wires":[]},{"id":"ebb89639.6ec398","type":"switch","z":"fc98f891.4634f8","name":"","property":"sousa1","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":1660,"wires":[["a8c29fec.8e17"],[]]},{"id":"eb73a255.04356","type":"switch","z":"fc98f891.4634f8","name":"","property":"sousa2","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":1700,"wires":[["a8c29fec.8e17"],[]]},{"id":"2fb4665f.cef06a","type":"switch","z":"fc98f891.4634f8","name":"","property":"sousa3","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":1740,"wires":[["a8c29fec.8e17"],[]]},{"id":"a0c534c8.646018","type":"switch","z":"fc98f891.4634f8","name":"","property":"sousa4","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":1780,"wires":[["a8c29fec.8e17"],[]]},{"id":"ebcb72c9.89042","type":"inject","z":"fc98f891.4634f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":890,"y":1260,"wires":[["2d03a04c.d0d9d"]]},{"id":"9d1217ac.9bd608","type":"inject","z":"fc98f891.4634f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":890,"y":1220,"wires":[["2d03a04c.d0d9d"]]},{"id":"2060c4ae.52d43c","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"sw1","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1320,"wires":[["321af50.2182b0c"]]},{"id":"64a6d7b4.440d28","type":"switch","z":"fc98f891.4634f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1380,"wires":[["50edb229.0618dc"],["2b12fa3f.87f826"]]},{"id":"50edb229.0618dc","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"sw2","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1360,"wires":[["321af50.2182b0c"]]},{"id":"2b12fa3f.87f826","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"sw2","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1400,"wires":[["321af50.2182b0c"]]},{"id":"36abd49b.72971c","type":"switch","z":"fc98f891.4634f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1460,"wires":[["bc6ea343.f297c"],["43f72193.202ee"]]},{"id":"bc6ea343.f297c","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"sw3","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1440,"wires":[["321af50.2182b0c"]]},{"id":"43f72193.202ee","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"sw3","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1480,"wires":[["321af50.2182b0c"]]},{"id":"e65b4f95.c9ca9","type":"switch","z":"fc98f891.4634f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1540,"wires":[["9ae4c52a.e71238"],["3ec5b485.b53acc"]]},{"id":"9ae4c52a.e71238","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"sw4","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1520,"wires":[["321af50.2182b0c"]]},{"id":"3ec5b485.b53acc","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"sw4","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1560,"wires":[["321af50.2182b0c"]]},{"id":"fe9002b5.63b2","type":"switch","z":"fc98f891.4634f8","name":"","property":"sw4","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1540,"wires":[["c10dbe02.efc28"],["c232cffb.9ca69"]]},{"id":"c10dbe02.efc28","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1520,"wires":[["f6fdf48f.487418"]]},{"id":"c232cffb.9ca69","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1560,"wires":[["f6fdf48f.487418"]]},{"id":"468e788c.1b8338","type":"switch","z":"fc98f891.4634f8","name":"","property":"sw3","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1460,"wires":[["589211b9.0536f"],["5804c28c.d9447c"]]},{"id":"589211b9.0536f","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1440,"wires":[["4d15e939.76a5e8"]]},{"id":"5804c28c.d9447c","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1480,"wires":[["4d15e939.76a5e8"]]},{"id":"ac07d159.75fc9","type":"switch","z":"fc98f891.4634f8","name":"","property":"sw2","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1380,"wires":[["a1150aaa.8bb198"],["f8d1c9eb.8d57a8"]]},{"id":"a1150aaa.8bb198","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1360,"wires":[["fc77fc1b.f8fb2"]]},{"id":"f8d1c9eb.8d57a8","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1400,"wires":[["fc77fc1b.f8fb2"]]},{"id":"42b68637.a21cc8","type":"switch","z":"fc98f891.4634f8","name":"","property":"sw1","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1300,"wires":[["e7b980bb.d56b"],["23f0d30e.db1d9c"]]},{"id":"e7b980bb.d56b","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1280,"wires":[["2d03a04c.d0d9d"]]},{"id":"23f0d30e.db1d9c","type":"change","z":"fc98f891.4634f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1320,"wires":[["2d03a04c.d0d9d"]]},{"id":"c0d31809.738008","type":"inject","z":"fc98f891.4634f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":1320,"wires":[["2b256ec9.896c02"]]},{"id":"c3809e41.82c92","type":"file","z":"fc98f891.4634f8","name":"swファイル書込み","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1570,"y":1440,"wires":[["6d950658.34ff98"]]},{"id":"9e6ead3a.dbe72","type":"template","z":"fc98f891.4634f8","name":"swデータセット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.sw1}},{{flow.sw2}},{{flow.sw3}},{{flow.sw4}},","output":"str","x":1520,"y":1400,"wires":[["c3809e41.82c92"]]},{"id":"2916ecea.c8cb94","type":"template","z":"fc98f891.4634f8","name":"yoyaku_sw.csv","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/yoyaku_sw.csv","output":"str","x":1460,"y":1360,"wires":[["9e6ead3a.dbe72"]]},{"id":"27d8c522.19e5ba","type":"template","z":"fc98f891.4634f8","name":"iR_command.txt","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/iR_command.txt","output":"str","x":1460,"y":1520,"wires":[["c6b87191.2605f"]]},{"id":"c6b87191.2605f","type":"template","z":"fc98f891.4634f8","name":"reload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"reload","output":"str","x":1490,"y":1560,"wires":[["d5618668.2d2328"]]},{"id":"d5618668.2d2328","type":"file","z":"fc98f891.4634f8","name":"reload書込み","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1550,"y":1600,"wires":[["2abc8054.26dd5"]]},{"id":"fbbb1bd0.ca10c8","type":"catch","z":"fc98f891.4634f8","name":"","scope":["c5e0843b.457b68"],"uncaught":false,"x":850,"y":2160,"wires":[["df88ecd1.a584d"]]},{"id":"321af50.2182b0c","type":"delay","z":"fc98f891.4634f8","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1460,"y":1300,"wires":[["2916ecea.c8cb94"]]},{"id":"73a7025f.a8c8bc","type":"ui_text","z":"fc98f891.4634f8","group":"ebdf4025.6ac128","order":13,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1408.7500076293945,"y":925,"wires":[]},{"id":"eb14c337.39983","type":"template","z":"fc98f891.4634f8","name":"既に一杯です。","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"既に一杯です。","output":"str","x":1178.7500076293945,"y":925,"wires":[["73a7025f.a8c8bc","868a363c.ecec28"]]},{"id":"868a363c.ecec28","type":"delay","z":"fc98f891.4634f8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1278.7500076293945,"y":885,"wires":[["e9fc9108.daa94"]]},{"id":"e9fc9108.daa94","type":"template","z":"fc98f891.4634f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"　","output":"str","x":1418.7500076293945,"y":885,"wires":[["73a7025f.a8c8bc"]]},{"id":"7823062f.330a28","type":"template","z":"fc98f891.4634f8","name":"データが足りません。","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"データが足りません。","output":"str","x":1198.7500076293945,"y":965,"wires":[["868a363c.ecec28","73a7025f.a8c8bc"]]},{"id":"d2d88e86.3bca1","type":"delay","z":"fc98f891.4634f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1030,"y":1660,"wires":[["ebb89639.6ec398"]]},{"id":"6898f385.5dc3cc","type":"delay","z":"fc98f891.4634f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1050,"y":1700,"wires":[["eb73a255.04356"]]},{"id":"1bf64f44.50e8a1","type":"delay","z":"fc98f891.4634f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1070,"y":1740,"wires":[["2fb4665f.cef06a"]]},{"id":"71b35006.49f79","type":"delay","z":"fc98f891.4634f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1090,"y":1780,"wires":[["a0c534c8.646018"]]},{"id":"57c4647b.aad79c","type":"delay","z":"fc98f891.4634f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":323.75000762939453,"y":1057.5000162124634,"wires":[["c7a7689a.823c28"]]},{"id":"6a9b249a.6d6c6c","type":"delay","z":"fc98f891.4634f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":1840,"wires":[["3709bddb.bcc1d2","d7f0256.e33c8d8","c6f53be0.188688","8bab4480.b686a8","4e3284e8.b40c0c","7a7ead96.140464"]]},{"id":"4053a2fa.d9a5ac","type":"switch","z":"fc98f891.4634f8","name":"","property":"sousa1","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1660,"wires":[["6a9b249a.6d6c6c"],[]]},{"id":"cf505dcb.624d5","type":"switch","z":"fc98f891.4634f8","name":"","property":"sousa2","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":1700,"wires":[["6a9b249a.6d6c6c"],[]]},{"id":"4e952183.de9ce","type":"switch","z":"fc98f891.4634f8","name":"","property":"sousa3","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":1740,"wires":[["6a9b249a.6d6c6c"],[]]},{"id":"fc3611c.fcf7df","type":"switch","z":"fc98f891.4634f8","name":"","property":"sousa4","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1780,"wires":[["6a9b249a.6d6c6c"],[]]},{"id":"e5dc4549.2e6ea8","type":"catch","z":"fc98f891.4634f8","name":"","scope":["f8f18d40.cbb61"],"uncaught":false,"x":810,"y":260,"wires":[["70ebcdd7.1c0ea4"]]},{"id":"1a68b9e1.d56846","type":"template","z":"fc98f891.4634f8","name":"reload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":1090,"y":260,"wires":[["81c544fd.61c9c8"]]},{"id":"81c544fd.61c9c8","type":"file","z":"fc98f891.4634f8","name":"reload書込み","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1230,"y":260,"wires":[["838f5ae5.bfc728"]]},{"id":"70ebcdd7.1c0ea4","type":"template","z":"fc98f891.4634f8","name":"yoyaku.csv","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/yoyaku.csv","output":"str","x":950,"y":260,"wires":[["1a68b9e1.d56846"]]},{"id":"838f5ae5.bfc728","type":"debug","z":"fc98f891.4634f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":260,"wires":[]},{"id":"1adbfbd4.634ee4","type":"template","z":"fc98f891.4634f8","name":"reload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1070,"y":2240,"wires":[["ad91ca69.dcbe18"]]},{"id":"ad91ca69.dcbe18","type":"file","z":"fc98f891.4634f8","name":"reload書込み","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1210,"y":2240,"wires":[["99cc83d8.116c2"]]},{"id":"df88ecd1.a584d","type":"template","z":"fc98f891.4634f8","name":"yoyaku_no.csv","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/yoyaku_no.csv","output":"str","x":920,"y":2240,"wires":[["1adbfbd4.634ee4"]]},{"id":"99cc83d8.116c2","type":"debug","z":"fc98f891.4634f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":2240,"wires":[]},{"id":"6d950658.34ff98","type":"delay","z":"fc98f891.4634f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1480,"y":1480,"wires":[["27d8c522.19e5ba"]]},{"id":"b54fad0f.cdc87","type":"mqtt out","z":"5010b6a2.5a7b68","name":"","topic":"testmqtt/remocon/temp999","qos":"0","retain":"","broker":"e5a3bdc8.169cc","x":1140,"y":280,"wires":[]},{"id":"3aa15dc0.c1c7c2","type":"file in","z":"5010b6a2.5a7b68","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":300,"wires":[["b12a99d6.d99d38","463ee8e7.a2c888","b54fad0f.cdc87","fb2701f0.f3c03","d54935df.3cad38","98fb25d4.581348","13d592bd.bb72fd"]]},{"id":"8460e807.0ce978","type":"inject","z":"5010b6a2.5a7b68","name":"1分周期","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/home/tk","payloadType":"str","x":180,"y":100,"wires":[["189352e6.cc7f0d"]]},{"id":"b12a99d6.d99d38","type":"function","z":"5010b6a2.5a7b68","name":"温度を取り出す。","func":"var outputMsgs = [];\nvar lastMsg = [];\nvar words = msg.payload.split(\" \");\nfor (var w in words) {\n    outputMsgs.push({payload:words[w]});\n}\nlastMsg.push({payload:words[w]});\nreturn [lastMsg]","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":160,"wires":[[]],"info":"ファィルの中身が\n2021/01/07 14:19  :摂氏: 12.937\nであるので、\nスペースで切り出し、最後の温度だけを出力します。"},{"id":"463ee8e7.a2c888","type":"debug","z":"5010b6a2.5a7b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":240,"wires":[]},{"id":"78f25d20.53bd04","type":"comment","z":"5010b6a2.5a7b68","name":"1分周期に温度を取得する。エラーがあっても1分後にデータを取得できる。","info":"1分周期にデータを取得していると\nエラーをキャッチしてリトライしなくても、ファィルがあればデータを取得できる。\nテイル読み込みよりエラーに強い。","x":690,"y":100,"wires":[]},{"id":"83cd957a.7eb258","type":"file in","z":"5010b6a2.5a7b68","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":460,"wires":[["d38fcad6.0e2568"]]},{"id":"3ab2d983.e025d6","type":"file in","z":"5010b6a2.5a7b68","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":520,"wires":[["4d4ad749.a21688"]]},{"id":"d38fcad6.0e2568","type":"csv","z":"5010b6a2.5a7b68","name":"cpu_temp","sep":":","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"time,null,null1,cpu_temp","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":680,"y":460,"wires":[["73acbd92.f4f0e4"]]},{"id":"4d4ad749.a21688","type":"csv","z":"5010b6a2.5a7b68","name":"cpu_rate","sep":":","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"time,null,cpu_rate","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":680,"y":520,"wires":[["70fcce49.57818"]]},{"id":"165f1912.1e38d7","type":"debug","z":"5010b6a2.5a7b68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":540,"wires":[]},{"id":"5221ce13.1639b","type":"change","z":"5010b6a2.5a7b68","name":"L_remocon","rules":[{"t":"set","p":"folder","pt":"msg","to":"L_remocon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":220,"wires":[["2b25e3a.dbe511c","6a892cde.7fe7f4","260ce89d.495008"]]},{"id":"384020f9.456b8","type":"comment","z":"5010b6a2.5a7b68","name":"user","info":"","x":190,"y":180,"wires":[]},{"id":"189352e6.cc7f0d","type":"change","z":"5010b6a2.5a7b68","name":"pi","rules":[{"t":"set","p":"user","pt":"msg","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":220,"wires":[["5221ce13.1639b"]]},{"id":"6ce484d.338627c","type":"comment","z":"5010b6a2.5a7b68","name":"folder","info":"","x":350,"y":180,"wires":[]},{"id":"2b25e3a.dbe511c","type":"template","z":"5010b6a2.5a7b68","name":"temp_data.txt","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{user}}/{{folder}}/temp_data_last.txt\n","output":"str","x":320,"y":300,"wires":[["3aa15dc0.c1c7c2"]]},{"id":"6a892cde.7fe7f4","type":"template","z":"5010b6a2.5a7b68","name":"cpu_temp_data.txt","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{user}}/{{folder}}/cpu_temp_data.txt\n","output":"str","x":330,"y":460,"wires":[["83cd957a.7eb258"]]},{"id":"260ce89d.495008","type":"template","z":"5010b6a2.5a7b68","name":"cpu_temp_data.txt","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{user}}/{{folder}}/cpu_rate_data.txt\n","output":"str","x":330,"y":520,"wires":[["3ab2d983.e025d6"]]},{"id":"ea23ab4d.626ed8","type":"comment","z":"5010b6a2.5a7b68","name":"filenameプロパティでファイルネームを渡す。","info":"","x":410,"y":580,"wires":[]},{"id":"9dacc8a3.6a2de8","type":"mqtt out","z":"5010b6a2.5a7b68","name":"","topic":"testmqtt/remocon/temp999","qos":"","retain":"","broker":"dfd49bd6.cc2368","x":1160,"y":180,"wires":[]},{"id":"273466a2.4f48ea","type":"inject","z":"5010b6a2.5a7b68","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":970,"y":180,"wires":[["9dacc8a3.6a2de8"]]},{"id":"73acbd92.f4f0e4","type":"calculator","z":"5010b6a2.5a7b68","name":"1:1","inputMsgField":"payload.cpu_temp","outputMsgField":"payload","operation":"div","constant":"1","round":false,"decimals":0,"x":852,"y":460,"wires":[["9e8b7c2b.0361","165f1912.1e38d7"]]},{"id":"70fcce49.57818","type":"calculator","z":"5010b6a2.5a7b68","name":"1:1","inputMsgField":"payload.cpu_rate","outputMsgField":"payload","operation":"div","constant":"1","round":false,"decimals":0,"x":851,"y":519,"wires":[["a44aaf84.2976a","165f1912.1e38d7"]]},{"id":"fb2701f0.f3c03","type":"ui_gauge","z":"5010b6a2.5a7b68","name":"","group":"e7db4c84.3f1de","order":1,"width":0,"height":0,"gtype":"gage","title":"現在温度","label":"units","format":"{{value}}度","min":"0","max":"40","colors":["#3d48e1","#41ec7d","#e7440d"],"seg1":"22","seg2":"28","x":960,"y":320,"wires":[]},{"id":"9e8b7c2b.0361","type":"ui_gauge","z":"5010b6a2.5a7b68","name":"","group":"e7db4c84.3f1de","order":4,"width":0,"height":0,"gtype":"gage","title":"CPU温度","label":"units","format":"{{value}}度","min":"0","max":"80","colors":["#3d48e1","#e3f11e","#e7440d"],"seg1":"40","seg2":"60","x":1048,"y":459,"wires":[]},{"id":"a44aaf84.2976a","type":"ui_gauge","z":"5010b6a2.5a7b68","name":"","group":"e7db4c84.3f1de","order":5,"width":0,"height":0,"gtype":"gage","title":"CPU使用率","label":"units","format":"{{value}}%","min":"0","max":"100","colors":["#3d48e1","#41ec7d","#e7440d"],"seg1":"20","seg2":"50","x":1050,"y":500,"wires":[]},{"id":"d54935df.3cad38","type":"ui_chart","z":"5010b6a2.5a7b68","name":"","group":"e7db4c84.3f1de","order":2,"width":0,"height":0,"label":"温度トレンド","chartType":"line","legend":"false","xformat":"HH","interpolate":"linear","nodata":"計測準備中","dot":false,"ymin":"10","ymax":"30","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#65d44e","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":970,"y":360,"wires":[[]]},{"id":"98fb25d4.581348","type":"ui_chart","z":"5010b6a2.5a7b68","name":"","group":"e7db4c84.3f1de","order":3,"width":0,"height":0,"label":"長期温度トレンド","chartType":"line","legend":"false","xformat":"M/D","interpolate":"linear","nodata":"計測準備中","dot":false,"ymin":"0","ymax":"40","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#22aa22","#52dd36","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":990,"y":400,"wires":[[]]},{"id":"13d592bd.bb72fd","type":"change","z":"5010b6a2.5a7b68","name":"現在の温度をglobal.tempに代入","rules":[{"t":"set","p":"temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":380,"wires":[[]]},{"id":"e00d6aac.8f04f8","type":"change","z":"becd009d.22055","name":"L_remocon","rules":[{"t":"set","p":"folder","pt":"flow","to":"L_remocon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":100,"wires":[[]]},{"id":"79262f0.4f5a7d","type":"comment","z":"becd009d.22055","name":"user","info":"","x":410,"y":60,"wires":[]},{"id":"3b8abc9.4be7d44","type":"change","z":"becd009d.22055","name":"pi","rules":[{"t":"set","p":"user","pt":"flow","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":100,"wires":[["e00d6aac.8f04f8"]]},{"id":"6a00b4dc.eaff1c","type":"comment","z":"becd009d.22055","name":"folder","info":"","x":550,"y":60,"wires":[]},{"id":"491de642.027d38","type":"inject","z":"becd009d.22055","name":"起動時に","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":100,"wires":[["3b8abc9.4be7d44","17e71051.19d9e","1f9aee47.8a8e42","c7df5599.9b1608"]]},{"id":"c6470dca.ee568","type":"debug","z":"becd009d.22055","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":300,"wires":[]},{"id":"13304b39.c29e05","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T1-sousa","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":300,"wires":[["c6470dca.ee568"]]},{"id":"155b1f81.430c7","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T1-temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":340,"wires":[["c6470dca.ee568"]]},{"id":"825605a4.918b28","type":"comment","z":"becd009d.22055","name":"温度制御の条件指定　1","info":"","x":420,"y":260,"wires":[]},{"id":"60b5ab50.6d6a14","type":"ui_dropdown","z":"becd009d.22055","name":"","label":"操作内容","tooltip":"","place":"Select option","group":"260efeb3.289722","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Aircon cool_L on","value":"aircon cool_L","type":"str"},{"label":"Aircon Heat on","value":"aircon heat","type":"str"},{"label":"Aircon off","value":"aircon off","type":"str"},{"label":"TV","value":"TV on-off","type":"str"},{"label":"Light","value":"Light  on-off","type":"str"},{"label":"fan","value":"fan on-off","type":"str"},{"label":"ext no1","value":"ext no1","type":"str"},{"label":"ext no2","value":"ext no2","type":"str"},{"label":"ext no3","value":"ext no3","type":"str"},{"label":"ext no4","value":"ext no4","type":"str"},{"label":"","value":"指定なし","type":"str"}],"payload":"","topic":"","topicType":"str","x":460,"y":300,"wires":[["13304b39.c29e05","83677fa.7a6618"]]},{"id":"688f3515.7145ec","type":"ui_slider","z":"becd009d.22055","name":"","label":"温度","tooltip":"","group":"260efeb3.289722","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"40","step":1,"x":450,"y":340,"wires":[["155b1f81.430c7","83677fa.7a6618"]]},{"id":"9c0c616c.3c0fb","type":"debug","z":"becd009d.22055","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":400,"wires":[]},{"id":"e7bfcc75.d15a6","type":"ui_text_input","z":"becd009d.22055","name":"","label":"","tooltip":"","group":"260efeb3.289722","order":4,"width":5,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":1160,"y":400,"wires":[["9c0c616c.3c0fb"]]},{"id":"80cd95f7.7b3c78","type":"ui_template","z":"becd009d.22055","group":"260efeb3.289722","name":"","order":3,"width":0,"height":0,"format":"<div ng-init=\"model_b=超えたら\">\n   <label> <input type=\"radio\" ng-model=\"model_a\" name=\"model_a\" value=\"超えたら\" /> 超えたら </label>\n   <label> <input type=\"radio\" ng-model=\"model_a\" name=\"model_a\" value=\"下回れば\" /> 下回れば </label>\n   <md-button ng-click=\"send({payload:model_a})\">   決定  </md-button>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":520,"wires":[["fdbf9181.c938e","cacf3b79.498288","92fcc189.63f84","63859101.00a3"]],"info":"<div ng-init=\"model_b=2\">\n   <label> <input type=\"radio\" ng-model=\"model_b\" name=\"model_b\" value=\"超えたら\" /> 超えたら </label>\n   <label> <input type=\"radio\" ng-model=\"model_b\" name=\"model_b\" value=\"下回れば\" /> 下回れば </label>\n   <md-button ng-click=\"send({payload:model_b})\"> 決定 {{model_b}}</md-button>\n</div>"},{"id":"743ad627.1d3d98","type":"template","z":"becd009d.22055","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"温度 {{flow.T1-temp}} 度を  {{flow.T1-ctl}} ","output":"str","x":880,"y":440,"wires":[["e7bfcc75.d15a6"]]},{"id":"83677fa.7a6618","type":"template","z":"becd009d.22055","name":"クリア","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"　","output":"str","x":650,"y":400,"wires":[["e7bfcc75.d15a6","e33c60df.5a6e3","aa8bc917.54a798"]]},{"id":"e33c60df.5a6e3","type":"ui_text_input","z":"becd009d.22055","name":"","label":"","tooltip":"","group":"260efeb3.289722","order":7,"width":5,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":940,"y":540,"wires":[[]]},{"id":"fdbf9181.c938e","type":"template","z":"becd009d.22055","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" {{flow.T1-sousa}} を操作します。","output":"str","x":640,"y":540,"wires":[["e33c60df.5a6e3"]]},{"id":"4c98f8f9.b2d878","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T2-sousa","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":680,"wires":[[]]},{"id":"14bad8b4.2856a7","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T2-temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":720,"wires":[[]]},{"id":"3d76b0cb.6c027","type":"comment","z":"becd009d.22055","name":"温度制御の条件指定　2","info":"","x":420,"y":640,"wires":[]},{"id":"585dbae3.cb2f24","type":"ui_dropdown","z":"becd009d.22055","name":"","label":"操作内容","tooltip":"","place":"Select option","group":"367a7b24.1ca594","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Aircon cool_L on","value":"aircon cool_L","type":"str"},{"label":"Aircon Heat on","value":"aircon heat","type":"str"},{"label":"Aircon off","value":"aircon off","type":"str"},{"label":"TV","value":"TV on-off","type":"str"},{"label":"Light","value":"Light  on-off","type":"str"},{"label":"fan","value":"fan on-off","type":"str"},{"label":"ext no1","value":"ext no1","type":"str"},{"label":"ext no2","value":"ext no2","type":"str"},{"label":"ext no3","value":"ext no3","type":"str"},{"label":"ext no4","value":"ext no4","type":"str"},{"label":"","value":"指定なし","type":"str"}],"payload":"","topic":"","topicType":"str","x":460,"y":680,"wires":[["4c98f8f9.b2d878","2a39242f.dd354c"]]},{"id":"ad6bdf90.d4629","type":"ui_slider","z":"becd009d.22055","name":"","label":"温度","tooltip":"","group":"367a7b24.1ca594","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"40","step":1,"x":450,"y":720,"wires":[["14bad8b4.2856a7","2a39242f.dd354c"]]},{"id":"21b6d777.8f2958","type":"ui_text_input","z":"becd009d.22055","name":"","label":"","tooltip":"","group":"367a7b24.1ca594","order":4,"width":5,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":1160,"y":780,"wires":[[]]},{"id":"f63b51c0.1b34f","type":"ui_template","z":"becd009d.22055","group":"367a7b24.1ca594","name":"","order":3,"width":0,"height":0,"format":"<div ng-init=\"model_b=超えたら\">\n   <label> <input type=\"radio\" ng-model=\"model_b\" name=\"model_b\" value=\"超えたら\" /> 超えたら </label>\n   <label> <input type=\"radio\" ng-model=\"model_b\" name=\"model_b\" value=\"下回れば\" /> 下回れば </label>\n   <md-button ng-click=\"send({payload:model_b})\">   決定  </md-button>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":880,"wires":[["97fdf2c5.4aeed","bf604230.3fd2c","8b54055c.037be8","b3b2efc5.a5653"]],"info":"<div ng-init=\"model_b=2\">\n   <label> <input type=\"radio\" ng-model=\"model_b\" name=\"model_b\" value=\"超えたら\" /> 超えたら </label>\n   <label> <input type=\"radio\" ng-model=\"model_b\" name=\"model_b\" value=\"下回れば\" /> 下回れば </label>\n   <md-button ng-click=\"send({payload:model_b})\"> 決定 {{model_b}}</md-button>\n</div>"},{"id":"cb81dc38.4ce1","type":"template","z":"becd009d.22055","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"温度 {{flow.T2-temp}} 度を  {{payload}} ","output":"str","x":880,"y":820,"wires":[["21b6d777.8f2958"]]},{"id":"2a39242f.dd354c","type":"template","z":"becd009d.22055","name":"クリア","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"　","output":"str","x":650,"y":780,"wires":[["21b6d777.8f2958","dfb5da7c.3aef98","9505899e.044828"]]},{"id":"dfb5da7c.3aef98","type":"ui_text_input","z":"becd009d.22055","name":"","label":"","tooltip":"","group":"367a7b24.1ca594","order":7,"width":5,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":940,"y":920,"wires":[[]]},{"id":"97fdf2c5.4aeed","type":"template","z":"becd009d.22055","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" {{flow.T2-sousa}} を操作します。","output":"str","x":640,"y":920,"wires":[["dfb5da7c.3aef98"]]},{"id":"38200328.46b79c","type":"switch","z":"becd009d.22055","name":"T1チェック","property":"temp","propertyType":"global","rules":[{"t":"gt","v":"T1-temp","vt":"flow"},{"t":"lt","v":"T1-temp","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1240,"wires":[["3b89a795.9784a8"],["b695699c.b014f8"]]},{"id":"3b89a795.9784a8","type":"switch","z":"becd009d.22055","name":"超えたら","property":"T1-ctl","propertyType":"flow","rules":[{"t":"eq","v":"超えたら","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":1220,"wires":[["958aef76.066f3","1d07ee8d.2d8c71"],["8717096f.e45ea8"]]},{"id":"b695699c.b014f8","type":"switch","z":"becd009d.22055","name":"下回れば","property":"T1-ctl","propertyType":"flow","rules":[{"t":"eq","v":"下回れば","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":1260,"wires":[["1d07ee8d.2d8c71"],[]]},{"id":"b0dd71d9.bb59a","type":"exec","z":"becd009d.22055","command":"","addpay":true,"append":" ","useSpawn":"false","timer":"60","oldrc":false,"name":"赤外線信号送出","x":1240,"y":1760,"wires":[[],[],[]]},{"id":"597ae874.b33a58","type":"template","z":"becd009d.22055","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{user}}/{{folder}}/irrp_long.py -p -g22 -f /home/{{user}}/{{folder}}/{{payload}}","output":"str","x":1000,"y":1760,"wires":[["b0dd71d9.bb59a","84250b17.715a88"]]},{"id":"54761e46.a0637","type":"change","z":"becd009d.22055","name":"T1-操作内容","rules":[{"t":"set","p":"payload","pt":"msg","to":"T1-sousa","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1400,"wires":[["b0f720bf.d142e"]]},{"id":"84250b17.715a88","type":"debug","z":"becd009d.22055","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":1700,"wires":[]},{"id":"90ae18f.05729e8","type":"switch","z":"becd009d.22055","name":"T2チェック","property":"temp","propertyType":"global","rules":[{"t":"gt","v":"T2-temp","vt":"flow"},{"t":"lt","v":"T2-temp","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1540,"wires":[["e6e5075a.7591b8"],["80d2b2de.f974d"]]},{"id":"e6e5075a.7591b8","type":"switch","z":"becd009d.22055","name":"超えたら","property":"T2-ctl","propertyType":"flow","rules":[{"t":"eq","v":"超えたら","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":1520,"wires":[["2c42e374.812c0c"],[]]},{"id":"80d2b2de.f974d","type":"switch","z":"becd009d.22055","name":"下回れば","property":"T2-ctl","propertyType":"flow","rules":[{"t":"eq","v":"下回れば","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":1560,"wires":[["2c42e374.812c0c"],[]]},{"id":"3c7a052c.06d4aa","type":"comment","z":"becd009d.22055","name":"1分に1度、温度をチッェクして条件が整えば制御","info":"","x":340,"y":1180,"wires":[]},{"id":"2ad2c1cf.d6e60e","type":"inject","z":"becd009d.22055","name":"","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1380,"wires":[["38200328.46b79c","90ae18f.05729e8"]]},{"id":"958aef76.066f3","type":"debug","z":"becd009d.22055","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":1160,"wires":[]},{"id":"8717096f.e45ea8","type":"debug","z":"becd009d.22055","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":1200,"wires":[]},{"id":"cacf3b79.498288","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T1-ctl","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":500,"wires":[[]]},{"id":"bf604230.3fd2c","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T2-ctl","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":880,"wires":[[]]},{"id":"e58a638c.3b581","type":"change","z":"becd009d.22055","name":"L_remocon","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"folder","pt":"msg","to":"L_remocon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1700,"wires":[["597ae874.b33a58"]]},{"id":"1271c764.6df259","type":"comment","z":"becd009d.22055","name":"folder","info":"","x":950,"y":1660,"wires":[]},{"id":"470ba162.99f14","type":"comment","z":"becd009d.22055","name":"user","info":"","x":830,"y":1660,"wires":[]},{"id":"f55c9f40.584b3","type":"change","z":"becd009d.22055","name":"pi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"user","pt":"msg","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1700,"wires":[["e58a638c.3b581"]]},{"id":"57e87b46.82edc4","type":"change","z":"becd009d.22055","name":"T2-操作内容","rules":[{"t":"set","p":"payload","pt":"msg","to":"T2-sousa","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1700,"wires":[["f55c9f40.584b3"]]},{"id":"17e71051.19d9e","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T1-sousa","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":160,"wires":[["5b639462.551fec"]]},{"id":"aa8bc917.54a798","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"delete","p":"T1-ctl","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":360,"wires":[[]]},{"id":"5b639462.551fec","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T2-sousa","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":160,"wires":[[]]},{"id":"9505899e.044828","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"delete","p":"T2-ctl","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":720,"wires":[[]]},{"id":"302d3f15.2d702","type":"delay","z":"becd009d.22055","name":"10分に一度のみ制御","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1180,"y":1300,"wires":[["54761e46.a0637"]]},{"id":"1d07ee8d.2d8c71","type":"switch","z":"becd009d.22055","name":"T1-sousa　設定ずみか?","property":"T1-sousa","propertyType":"flow","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":1240,"wires":[["2f27775f.1f5078","ceaca5d8.8a8fe8"],[]]},{"id":"2f27775f.1f5078","type":"switch","z":"becd009d.22055","name":"T1-ctl　設定ずみか?","property":"T1-ctl","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":1300,"wires":[["e2d41b2d.a073b8","302d3f15.2d702"],[]]},{"id":"2c42e374.812c0c","type":"switch","z":"becd009d.22055","name":"T2-sousa　設定ずみか?","property":"T2-sousa","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":1540,"wires":[["3ef2e6f4.ad96fa"],[]]},{"id":"3ef2e6f4.ad96fa","type":"switch","z":"becd009d.22055","name":"T2-ctl　設定ずみか?","property":"T2-ctl","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":1600,"wires":[["e4700743.482068"],[]]},{"id":"ceaca5d8.8a8fe8","type":"debug","z":"becd009d.22055","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":1180,"wires":[]},{"id":"e2d41b2d.a073b8","type":"debug","z":"becd009d.22055","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":1220,"wires":[]},{"id":"e4700743.482068","type":"delay","z":"becd009d.22055","name":"10分に一度のみ制御","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1180,"y":1600,"wires":[["57e87b46.82edc4"]]},{"id":"bf715a09.733b08","type":"exec","z":"becd009d.22055","command":"","addpay":true,"append":" ","useSpawn":"false","timer":"60","oldrc":false,"name":"赤外線信号送出","x":1240,"y":1460,"wires":[[],[],[]]},{"id":"8fcd9412.bdac18","type":"template","z":"becd009d.22055","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{user}}/{{folder}}/irrp_long.py -p -g22 -f /home/{{user}}/{{folder}}/{{payload}}","output":"str","x":1000,"y":1460,"wires":[["bf715a09.733b08","ebd757b6.eb2c48"]]},{"id":"ebd757b6.eb2c48","type":"debug","z":"becd009d.22055","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":1400,"wires":[]},{"id":"31fd02ac.9de96e","type":"change","z":"becd009d.22055","name":"L_remocon","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"folder","pt":"msg","to":"L_remocon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1400,"wires":[["8fcd9412.bdac18"]]},{"id":"9abeba7.f9fb548","type":"comment","z":"becd009d.22055","name":"folder","info":"","x":950,"y":1360,"wires":[]},{"id":"e69da1bd.b00b9","type":"comment","z":"becd009d.22055","name":"user","info":"","x":830,"y":1360,"wires":[]},{"id":"b0f720bf.d142e","type":"change","z":"becd009d.22055","name":"pi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"user","pt":"msg","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1400,"wires":[["31fd02ac.9de96e"]]},{"id":"66c53ff6.afce3","type":"delay","z":"becd009d.22055","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":400,"wires":[["83677fa.7a6618"]]},{"id":"1aaefcee.e4c013","type":"delay","z":"becd009d.22055","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":780,"wires":[["2a39242f.dd354c"]]},{"id":"c7df5599.9b1608","type":"ui_button","z":"becd009d.22055","name":"","group":"260efeb3.289722","order":8,"width":0,"height":0,"passthru":true,"label":"設定削除","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":260,"y":340,"wires":[["60b5ab50.6d6a14","688f3515.7145ec","66c53ff6.afce3"]]},{"id":"1f9aee47.8a8e42","type":"ui_button","z":"becd009d.22055","name":"","group":"367a7b24.1ca594","order":8,"width":0,"height":0,"passthru":true,"label":"設定削除","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":260,"y":720,"wires":[["585dbae3.cb2f24","ad6bdf90.d4629","1aaefcee.e4c013"]]},{"id":"92fcc189.63f84","type":"switch","z":"becd009d.22055","name":"空です","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":460,"wires":[["743ad627.1d3d98"],["83677fa.7a6618","5f6584e.756637c"]]},{"id":"91949b29.c56998","type":"template","z":"becd009d.22055","name":"ちゃんと選択してね","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ちゃんと選択してね","output":"str","x":1100,"y":480,"wires":[["e7bfcc75.d15a6"]]},{"id":"5f6584e.756637c","type":"delay","z":"becd009d.22055","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":480,"wires":[["91949b29.c56998"]]},{"id":"4ffaacae.0500e4","type":"template","z":"becd009d.22055","name":"ちゃんと選択してね","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ちゃんと選択してね","output":"str","x":1100,"y":860,"wires":[["21b6d777.8f2958"]]},{"id":"ac25b91a.45ced8","type":"delay","z":"becd009d.22055","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":860,"wires":[["4ffaacae.0500e4"]]},{"id":"8b54055c.037be8","type":"switch","z":"becd009d.22055","name":"空です","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":840,"wires":[["cb81dc38.4ce1"],["2a39242f.dd354c","ac25b91a.45ced8"]]},{"id":"63859101.00a3","type":"switch","z":"becd009d.22055","name":"T1-sousaが空です。","property":"T1-sousa","propertyType":"flow","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":580,"wires":[["83677fa.7a6618","5f6584e.756637c"],[]]},{"id":"b3b2efc5.a5653","type":"switch","z":"becd009d.22055","name":"T2-sousaが空です。","property":"T2-sousa","propertyType":"flow","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":960,"wires":[["ac25b91a.45ced8","2a39242f.dd354c"],[]]},{"id":"5d5eecc9.711b04","type":"rpi-gpio out","z":"3656ea08.e66c36","name":"表示LED#12","pin":"32","set":true,"level":"0","freq":"","out":"out","x":1150,"y":720,"wires":[]},{"id":"b616434b.8875","type":"change","z":"3b4cac19.267214","name":"L_remocon","rules":[{"t":"set","p":"folder","pt":"flow","to":"L_remocon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":80,"wires":[[]]},{"id":"4d1b26b.c5eb1d8","type":"comment","z":"3b4cac19.267214","name":"user","info":"","x":390,"y":40,"wires":[]},{"id":"32c6d500.d033aa","type":"change","z":"3b4cac19.267214","name":"pi","rules":[{"t":"set","p":"user","pt":"flow","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":80,"wires":[["b616434b.8875"]]},{"id":"7cda5e96.1d6b9","type":"comment","z":"3b4cac19.267214","name":"folder","info":"","x":530,"y":40,"wires":[]},{"id":"a791d9d3.7358c8","type":"inject","z":"3b4cac19.267214","name":"起動時に","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":80,"wires":[["32c6d500.d033aa"]]},{"id":"2d0a9eb5.94c8e2","type":"comment","z":"3b4cac19.267214","name":"熱帯夜を少しでも快適に過ごすためのクーラー制御するかしないか","info":"","x":380,"y":160,"wires":[]},{"id":"57e7854b.47467c","type":"ui_switch","z":"3b4cac19.267214","name":"","label":"モード","tooltip":"","group":"b101cc74.8c0ec","order":2,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":310,"y":240,"wires":[["72c65d03.7795a4","4966e97c.37aa28"]]},{"id":"a4548fbd.cefdb","type":"ui_text","z":"3b4cac19.267214","group":"b101cc74.8c0ec","order":1,"width":5,"height":1,"name":"","label":"熱帯夜制御 設定","format":"{{msg.payload}}","layout":"row-right","x":900,"y":240,"wires":[]},{"id":"72c65d03.7795a4","type":"switch","z":"3b4cac19.267214","name":"モード設定","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":240,"wires":[["55261410.e52acc","daf08d1b.40ebf"],["2ffd4ff3.afeee","25b5cf1.fe1973"]]},{"id":"2ffd4ff3.afeee","type":"template","z":"3b4cac19.267214","name":"offモード","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"off モード","output":"str","x":660,"y":280,"wires":[["a4548fbd.cefdb"]]},{"id":"55261410.e52acc","type":"template","z":"3b4cac19.267214","name":"onモード","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"on モード","output":"str","x":660,"y":200,"wires":[["a4548fbd.cefdb"]]},{"id":"25b5cf1.fe1973","type":"change","z":"3b4cac19.267214","name":"set:off","rules":[{"t":"set","p":"mode","pt":"flow","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":320,"wires":[[]]},{"id":"daf08d1b.40ebf","type":"change","z":"3b4cac19.267214","name":"set:on","rules":[{"t":"set","p":"mode","pt":"flow","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":240,"wires":[[]]},{"id":"f5039a5b.5b4c08","type":"inject","z":"3b4cac19.267214","name":"熱帯夜設定 制御on  制御off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":300,"y":200,"wires":[["57e7854b.47467c","4966e97c.37aa28"]]},{"id":"43a463f.660939c","type":"switch","z":"3b4cac19.267214","name":"モード判定","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1180,"wires":[["63fa43ef.bbd93c","a1f695e8.c089f8"],[]]},{"id":"1b677d56.349153","type":"comment","z":"3b4cac19.267214","name":"熱帯夜クーラー制御開始時間の設定","info":"","x":280,"y":340,"wires":[]},{"id":"3adba052.6bcfb","type":"comment","z":"3b4cac19.267214","name":"熱帯夜クーラー制御終了時間の設定","info":"","x":280,"y":500,"wires":[]},{"id":"ca73b1d2.8d021","type":"comment","z":"3b4cac19.267214","name":"熱帯夜クーラー制御温度設定　上限設定","info":"","x":300,"y":660,"wires":[]},{"id":"747e58ad.f0dd08","type":"comment","z":"3b4cac19.267214","name":"熱帯夜クーラー制御温度設定　下限設定","info":"","x":300,"y":760,"wires":[]},{"id":"d9d4666e.184518","type":"comment","z":"3b4cac19.267214","name":"熱帯夜クーラー制御 モード判定した上で時分を抽出","info":"","x":330,"y":1120,"wires":[]},{"id":"d294eb2e.669b28","type":"change","z":"3b4cac19.267214","name":"","rules":[{"t":"set","p":"start-jikan","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":380,"wires":[[]]},{"id":"749f8d44.809714","type":"change","z":"3b4cac19.267214","name":"","rules":[{"t":"set","p":"start-fun","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":440,"wires":[[]]},{"id":"c910dade.6ece78","type":"ui_slider","z":"3b4cac19.267214","name":"","label":"開始時間","tooltip":"","group":"b101cc74.8c0ec","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":0,"max":"23","step":1,"x":260,"y":380,"wires":[["d294eb2e.669b28"]]},{"id":"da35fccf.9bb54","type":"ui_slider","z":"3b4cac19.267214","name":"","label":"開始　分","tooltip":"","group":"b101cc74.8c0ec","order":6,"width":5,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"59","step":1,"x":260,"y":440,"wires":[["749f8d44.809714"]]},{"id":"2918df2e.7cf36","type":"change","z":"3b4cac19.267214","name":"","rules":[{"t":"set","p":"end-jikan","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":540,"wires":[[]]},{"id":"3b8020a4.b0846","type":"change","z":"3b4cac19.267214","name":"","rules":[{"t":"set","p":"end-fun","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":600,"wires":[[]]},{"id":"d67cc589.f1e9b8","type":"ui_slider","z":"3b4cac19.267214","name":"","label":"終了時間","tooltip":"","group":"b101cc74.8c0ec","order":7,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":0,"max":"23","step":1,"x":260,"y":540,"wires":[["2918df2e.7cf36"]]},{"id":"f9110229.e2129","type":"ui_slider","z":"3b4cac19.267214","name":"","label":"終了　分","tooltip":"","group":"b101cc74.8c0ec","order":9,"width":5,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"59","step":1,"x":260,"y":600,"wires":[["3b8020a4.b0846"]]},{"id":"4c160434.718bcc","type":"ui_slider","z":"3b4cac19.267214","name":"","label":"上限温度","tooltip":"","group":"b101cc74.8c0ec","order":10,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"20","max":"35","step":"0.5","x":260,"y":700,"wires":[["a5404d0f.bca58"]]},{"id":"a5404d0f.bca58","type":"change","z":"3b4cac19.267214","name":"","rules":[{"t":"set","p":"high-temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":700,"wires":[[]]},{"id":"adc3f79b.22f378","type":"change","z":"3b4cac19.267214","name":"","rules":[{"t":"set","p":"low-temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":800,"wires":[[]]},{"id":"809540cc.7483f","type":"ui_slider","z":"3b4cac19.267214","name":"","label":"下限温度","tooltip":"","group":"b101cc74.8c0ec","order":11,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"20","max":"35","step":"0.5","x":260,"y":800,"wires":[["adc3f79b.22f378"]]},{"id":"7e588fe3.2a38b","type":"comment","z":"3b4cac19.267214","name":"温度上限時の制御内容 summer hi","info":"","x":270,"y":860,"wires":[]},{"id":"adb6ad8d.8b8a","type":"comment","z":"3b4cac19.267214","name":"温度下限時の制御内容 summer low","info":"","x":280,"y":960,"wires":[]},{"id":"5b93a255.d6973c","type":"exec","z":"3b4cac19.267214","command":"","addpay":true,"append":" ","useSpawn":"false","timer":"20","oldrc":false,"name":"赤外線信号受信","x":760,"y":940,"wires":[["e464c297.6ae38","3a334b73.0bc8d4"],["e464c297.6ae38"],["e464c297.6ae38","3a334b73.0bc8d4"]]},{"id":"30d93e03.bb3f72","type":"template","z":"3b4cac19.267214","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{flow.user}}/{{flow.folder}}/irrp_long.py -r -g4 -f /home/{{flow.user}}/{{flow.folder}}/summer hi  --no-confirm --post 130","output":"str","x":520,"y":900,"wires":[["5b93a255.d6973c","d183c52a.55ffa8"]]},{"id":"2193e7ed.387538","type":"ui_button","z":"3b4cac19.267214","name":"","group":"b101cc74.8c0ec","order":12,"width":0,"height":0,"passthru":false,"label":"上限時制御学習","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":280,"y":900,"wires":[["30d93e03.bb3f72"]]},{"id":"e2c8657b.d58378","type":"ui_button","z":"3b4cac19.267214","name":"","group":"b101cc74.8c0ec","order":13,"width":0,"height":0,"passthru":false,"label":"下限時制御学習","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":280,"y":1000,"wires":[["1608ae9d.e06631"]]},{"id":"1608ae9d.e06631","type":"template","z":"3b4cac19.267214","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{flow.user}}/{{flow.folder}}/irrp_long.py -r -g4 -f /home/{{flow.user}}/{{flow.folder}}/summer low  --no-confirm --post 130","output":"str","x":520,"y":1000,"wires":[["d183c52a.55ffa8","5b93a255.d6973c"]]},{"id":"acc8eba9.d4bfd8","type":"inject","z":"3b4cac19.267214","name":"1分タイマー","props":[{"p":"payload"}],"repeat":"9","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1180,"wires":[["43a463f.660939c","6b9e4af1.1e4104"]]},{"id":"63fa43ef.bbd93c","type":"debug","z":"3b4cac19.267214","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":1180,"wires":[]},{"id":"e464c297.6ae38","type":"debug","z":"3b4cac19.267214","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":900,"wires":[]},{"id":"63caedac.786134","type":"debug","z":"3656ea08.e66c36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":620,"wires":[]},{"id":"a62ae563.6ef0e8","type":"rpi-gpio out","z":"3b4cac19.267214","name":"表示LED#5","pin":"29","set":true,"level":"0","freq":"","out":"out","x":1210,"y":1000,"wires":[]},{"id":"d183c52a.55ffa8","type":"delay","z":"3b4cac19.267214","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":1000,"wires":[["b290cac2.1220e8"]]},{"id":"e3f3c528.d1c938","type":"inject","z":"3b4cac19.267214","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1010,"y":1040,"wires":[["a62ae563.6ef0e8","31cef173.a89a3e"]]},{"id":"31813e08.b0ccc2","type":"inject","z":"3b4cac19.267214","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1010,"y":1080,"wires":[["a62ae563.6ef0e8","31cef173.a89a3e"]]},{"id":"b290cac2.1220e8","type":"change","z":"3b4cac19.267214","name":"LED点灯","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1000,"wires":[["a62ae563.6ef0e8","31cef173.a89a3e"]]},{"id":"3a334b73.0bc8d4","type":"change","z":"3b4cac19.267214","name":"LED消灯","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":960,"wires":[["a62ae563.6ef0e8","31cef173.a89a3e"]]},{"id":"31cef173.a89a3e","type":"rpi-gpio out","z":"3b4cac19.267214","name":"表示LED#12","pin":"32","set":true,"level":"0","freq":"","out":"out","x":1210,"y":1060,"wires":[]},{"id":"15e8b358.c35bed","type":"mqtt out","z":"3b4cac19.267214","name":"","topic":"testmqtt/remocon/temp999","qos":"0","retain":"","broker":"e5a3bdc8.169cc","x":820,"y":1240,"wires":[]},{"id":"b119c2.62a4164","type":"template","z":"3b4cac19.267214","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{flow.user}}/{{flow.folder}}/irrp_long.py -p -g22 -f /home/{{flow.user}}/{{flow.folder}}/summer hi","output":"str","x":720,"y":2340,"wires":[["af56fe02.2640d","9303176d.d90178"]]},{"id":"b6cba095.9cbb2","type":"exec","z":"3b4cac19.267214","command":"","addpay":true,"append":" ","useSpawn":"false","timer":"60","oldrc":false,"name":"赤外線信号送出  下限制御","x":970,"y":2560,"wires":[[],[],[]]},{"id":"59d047d2.b9c088","type":"template","z":"3b4cac19.267214","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{flow.user}}/{{flow.folder}}/irrp_long.py -p -g22 -f /home/{{flow.user}}/{{flow.folder}}/summer low","output":"str","x":720,"y":2560,"wires":[["b6cba095.9cbb2","af56fe02.2640d"]]},{"id":"f68f3ccd.02dbc","type":"comment","z":"3b4cac19.267214","name":"開始時間と同一時分なら以後　時間内","info":"","x":290,"y":1460,"wires":[]},{"id":"b1ab648b.1d0e08","type":"comment","z":"3b4cac19.267214","name":"終了時間と同一時分なら以後　時間外","info":"","x":290,"y":1680,"wires":[]},{"id":"8cb5c585.e430b8","type":"comment","z":"3b4cac19.267214","name":"温度が上限を超えたら上限制御　ただし10分に一度","info":"","x":470,"y":2180,"wires":[]},{"id":"a57bc56b.831708","type":"comment","z":"3b4cac19.267214","name":"温度が下限を下回れば下限制御　ただし10分に一度","info":"","x":470,"y":2420,"wires":[]},{"id":"9cc3479b.70e248","type":"delay","z":"3b4cac19.267214","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":2340,"wires":[["b119c2.62a4164"]]},{"id":"52292b61.fcd304","type":"delay","z":"3b4cac19.267214","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":2560,"wires":[["59d047d2.b9c088"]]},{"id":"3def248e.460cdc","type":"switch","z":"3b4cac19.267214","name":"high-tempチェック","property":"high-temp","propertyType":"flow","rules":[{"t":"lt","v":"temp","vt":"global"},{"t":"gt","v":"temp","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":2260,"wires":[["8693804f.732ed","9cc3479b.70e248"],["5a71e5eb.83c6cc"]]},{"id":"af56fe02.2640d","type":"debug","z":"3b4cac19.267214","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":2460,"wires":[]},{"id":"cb05e9ca.312fc8","type":"inject","z":"3b4cac19.267214","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":2260,"wires":[["3def248e.460cdc"]]},{"id":"8693804f.732ed","type":"debug","z":"3b4cac19.267214","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":2240,"wires":[]},{"id":"5a71e5eb.83c6cc","type":"debug","z":"3b4cac19.267214","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":2280,"wires":[]},{"id":"1934f14b.99cf2f","type":"switch","z":"3b4cac19.267214","name":"low-tempチェック","property":"low-temp","propertyType":"flow","rules":[{"t":"lt","v":"temp","vt":"global"},{"t":"gt","v":"temp","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":2500,"wires":[["6bc5c221.09a79c"],["eac3bc0.a956548","52292b61.fcd304"]]},{"id":"c14ad932.365c58","type":"inject","z":"3b4cac19.267214","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":2500,"wires":[["1934f14b.99cf2f"]]},{"id":"6bc5c221.09a79c","type":"debug","z":"3b4cac19.267214","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":2480,"wires":[]},{"id":"eac3bc0.a956548","type":"debug","z":"3b4cac19.267214","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":2520,"wires":[]},{"id":"9303176d.d90178","type":"exec","z":"3b4cac19.267214","command":"","addpay":true,"append":" ","useSpawn":"false","timer":"60","oldrc":false,"name":"赤外線信号送出  上限制御","x":970,"y":2340,"wires":[[],[],[]]},{"id":"14eb82eb.c439dd","type":"inject","z":"3b4cac19.267214","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":290,"y":1340,"wires":[["2a5f2f01.947d7"]]},{"id":"2a5f2f01.947d7","type":"function","z":"3b4cac19.267214","name":"日付時刻の追加","func":"var d = new Date();\nvar localTime = d.getTime();\nvar localOffset = d.getTimezoneOffset() * 60000;\nvar utc = localTime + localOffset;\nvar offset = -9.0;\nvar result = utc - (3600000 * offset);\nvar date = parseInt(new Date(result) / 1000);\nvar dt = new Date(result);\n\nvar year = dt.getFullYear();\nvar month = dt.getMonth()+1;\nvar day = dt.getDate();\nvar hour = dt.getHours();\nvar minute = dt.getMinutes();\nvar second = dt.getSeconds();\nif (!msg.payload) {\n    msg.payload = { \"initial\": \"value\" };\n}\nmsg.payload.date = {\n        \"date\": date,\n        \"year\": year,\n        \"month\": month,\n        \"day\": day,\n        \"hour\": hour,\n        \"minute\": minute,\n        \"second\": second\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1340,"wires":[["c59ca39c.9b9138","96f9501a.b885e","86a5015.4686a","e3ee47a6.48c618"]]},{"id":"c59ca39c.9b9138","type":"debug","z":"3b4cac19.267214","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.date.minute","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1360,"wires":[]},{"id":"96f9501a.b885e","type":"debug","z":"3b4cac19.267214","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.date.hour","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1320,"wires":[]},{"id":"a1f695e8.c089f8","type":"change","z":"3b4cac19.267214","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1280,"wires":[["2a5f2f01.947d7"]]},{"id":"86c64928.3331f8","type":"comment","z":"3b4cac19.267214","name":"熱帯夜制御onモードなら時、分を出力","info":"","x":330,"y":1240,"wires":[]},{"id":"86a5015.4686a","type":"switch","z":"3b4cac19.267214","name":"開始時間　時チェック","property":"payload.date.hour","propertyType":"msg","rules":[{"t":"eq","v":"start-jikan","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":1520,"wires":[["75d9b08d.19484","9e937f34.f0b55"]]},{"id":"75d9b08d.19484","type":"switch","z":"3b4cac19.267214","name":"開始時間　分チェック","property":"payload.date.minute","propertyType":"msg","rules":[{"t":"eq","v":"start-fun","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1580,"wires":[["c69cbd9e.cd4cc","5022af07.1849a"]]},{"id":"9e937f34.f0b55","type":"debug","z":"3b4cac19.267214","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":1520,"wires":[]},{"id":"c69cbd9e.cd4cc","type":"debug","z":"3b4cac19.267214","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":1580,"wires":[]},{"id":"e3ee47a6.48c618","type":"switch","z":"3b4cac19.267214","name":"終了時間　時チェック","property":"payload.date.hour","propertyType":"msg","rules":[{"t":"eq","v":"end-jikan","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":1740,"wires":[["1203cbb3.846e34","790a1712.56bdc8"]]},{"id":"1203cbb3.846e34","type":"switch","z":"3b4cac19.267214","name":"終了時間　分チェック","property":"payload.date.minute","propertyType":"msg","rules":[{"t":"eq","v":"end-fun","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1800,"wires":[["c0323f56.b77a9","84fdfef5.df347"]]},{"id":"790a1712.56bdc8","type":"debug","z":"3b4cac19.267214","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":1740,"wires":[]},{"id":"c0323f56.b77a9","type":"debug","z":"3b4cac19.267214","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":1800,"wires":[]},{"id":"1b6b61fa.a2bf4e","type":"ui_switch","z":"3b4cac19.267214","name":"","label":"時間内-時間外","tooltip":"","group":"b101cc74.8c0ec","order":15,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":480,"y":1920,"wires":[["f096c8f.6c8a138"]]},{"id":"535fe0bc.3e076","type":"ui_text","z":"3b4cac19.267214","group":"b101cc74.8c0ec","order":14,"width":5,"height":1,"name":"","label":"熱帯夜制御 動作","format":"{{msg.payload}}","layout":"row-right","x":1140,"y":1900,"wires":[]},{"id":"f096c8f.6c8a138","type":"switch","z":"3b4cac19.267214","name":"時間内-時間外 設定","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":1920,"wires":[["54e522bd.828e5c","c07474d2.c6c6a8"],["587f2b4.9d195d4","fdd29f59.62fd4"]]},{"id":"587f2b4.9d195d4","type":"template","z":"3b4cac19.267214","name":"時間外","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"時間外","output":"str","x":890,"y":1940,"wires":[["535fe0bc.3e076"]]},{"id":"54e522bd.828e5c","type":"template","z":"3b4cac19.267214","name":"時間内","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"時間内","output":"str","x":890,"y":1860,"wires":[["535fe0bc.3e076"]]},{"id":"fdd29f59.62fd4","type":"change","z":"3b4cac19.267214","name":"Non-operation","rules":[{"t":"set","p":"operation","pt":"flow","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":1980,"wires":[[]]},{"id":"c07474d2.c6c6a8","type":"change","z":"3b4cac19.267214","name":"In operation","rules":[{"t":"set","p":"operation","pt":"flow","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1900,"wires":[[]]},{"id":"e4355bb3.432858","type":"inject","z":"3b4cac19.267214","name":"熱帯夜設定 制御on  制御off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":520,"y":1860,"wires":[["1b6b61fa.a2bf4e"]]},{"id":"5022af07.1849a","type":"change","z":"3b4cac19.267214","name":"時間内","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1900,"wires":[["1b6b61fa.a2bf4e"]]},{"id":"84fdfef5.df347","type":"change","z":"3b4cac19.267214","name":"時間外","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1940,"wires":[["1b6b61fa.a2bf4e"]]},{"id":"68431e60.50aab","type":"switch","z":"3b4cac19.267214","name":"モード判定","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":2100,"wires":[["f9b9478c.5b94f8"],[]]},{"id":"b50a45b3.afe918","type":"inject","z":"3b4cac19.267214","name":"1分タイマー","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":2040,"wires":[["68431e60.50aab"]]},{"id":"f9b9478c.5b94f8","type":"switch","z":"3b4cac19.267214","name":"時間内判定","property":"operation","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":554,"y":2096,"wires":[["3def248e.460cdc","1934f14b.99cf2f"],[]]},{"id":"6b00126a.b391ec","type":"comment","z":"3b4cac19.267214","name":"onモードで 時間内なら温度判定を行う","info":"","x":450,"y":2040,"wires":[]},{"id":"6b9e4af1.1e4104","type":"change","z":"3b4cac19.267214","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1240,"wires":[["15e8b358.c35bed"]]},{"id":"4966e97c.37aa28","type":"link out","z":"3b4cac19.267214","name":"","links":["45e976fa.f3c2d8"],"x":495,"y":300,"wires":[]},{"id":"45e976fa.f3c2d8","type":"link in","z":"3b4cac19.267214","name":"","links":["4966e97c.37aa28"],"x":175,"y":1940,"wires":[["84fdfef5.df347"]]}]