flows.json
[
    {
        "id": "74e34207.b386cc",
        "type": "tab",
        "label": "LED+SW-03",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d96c2049.36e13",
        "type": "tab",
        "label": "距離測定",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dbdf4cec.c5115",
        "type": "tab",
        "label": "センサー測定",
        "disabled": false,
        "info": ""
    },
    {
        "id": "be8e813.ab22c8",
        "type": "tab",
        "label": "赤外線リモコン受信",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a757053b.5f7438",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "c396bec2.67068",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c396bec2.67068",
        "type": "ui_tab",
        "name": "LED+SW",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "58f7389c96c81162",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED ダッシュボード",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e5a3bdc8.169cc",
        "type": "mqtt-broker",
        "name": "Free Public MQTT 5 Broker Server",
        "broker": "broker.emqx.io",
        "port": "1883",
        "tls": "4ad98a91.f81c14",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dfd49bd6.cc2368",
        "type": "mqtt-broker",
        "name": "Free Public MQTT 5 Broker Server",
        "broker": "broker.emqx.io",
        "port": "1883",
        "tls": "544a6b04.86de24",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e7db4c84.3f1de",
        "type": "ui_group",
        "name": "状態表示",
        "tab": "dc755b72.c0f8a8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4ad98a91.f81c14",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "544a6b04.86de24",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "dc755b72.c0f8a8",
        "type": "ui_tab",
        "name": "状態表示",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "efe4dfaf.b734d",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "76e50a6c.781644",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "76e50a6c.781644",
        "type": "ui_tab",
        "name": "OLED表示",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "27b1033b.cf626c",
        "type": "ui_group",
        "name": "距離測定",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "724182e9.49bcdc",
        "type": "mqtt-broker",
        "name": "Free Public MQTT 5 Broker Server",
        "broker": "broker.emqx.io",
        "port": "1883",
        "tls": "2e3bc5cf.2d783a",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2e3bc5cf.2d783a",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "d0ddd7c4.f67588",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "20d5ca7b2093199d",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "6907d453.6cadfc",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 7
    },
    {
        "id": "b35f46ce84847ec9",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d7bb0aa2b21ca1eb",
        "type": "ui_group",
        "name": "センサー表示",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "66095ad.a851fa4",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "16e2d8b3.eadb37",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "16e2d8b3.eadb37",
        "type": "ui_tab",
        "name": "LED+SW",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f1d9160c.d75ee8",
        "type": "ui_tab",
        "name": "SR04",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4230db4a.d49bc4",
        "type": "ui_group",
        "name": "センサー表示",
        "tab": "2e6bdd3b.d62752",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "2e6bdd3b.d62752",
        "type": "ui_tab",
        "name": "センサー測定",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9086b1fa.2a7ca",
        "type": "ui_tab",
        "name": "赤外線受信",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b4662c72.2656f",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "9086b1fa.2a7ca",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "d1845bff.5575e8",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "f1d9160c.d75ee8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7210899a.896388",
        "type": "rpi-gpio in",
        "z": "74e34207.b386cc",
        "name": "",
        "pin": "6",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 200,
        "y": 580,
        "wires": [
            [
                "529b4e4d.29a7b"
            ]
        ]
    },
    {
        "id": "cf4bee5b.ec02e",
        "type": "rpi-gpio out",
        "z": "74e34207.b386cc",
        "name": "",
        "pin": "27",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "c5f9cef1.7ff58",
        "type": "inject",
        "z": "74e34207.b386cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 690,
        "y": 160,
        "wires": [
            [
                "cf4bee5b.ec02e"
            ]
        ]
    },
    {
        "id": "36213c79.f01234",
        "type": "inject",
        "z": "74e34207.b386cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 690,
        "y": 200,
        "wires": [
            [
                "cf4bee5b.ec02e"
            ]
        ]
    },
    {
        "id": "be26d89c.3e8108",
        "type": "ui_button",
        "z": "74e34207.b386cc",
        "name": "",
        "group": "66095ad.a851fa4",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "1-LED off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "8b4b3e00.36142"
            ]
        ]
    },
    {
        "id": "92620235.38e3f",
        "type": "ui_button",
        "z": "74e34207.b386cc",
        "name": "",
        "group": "66095ad.a851fa4",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "1-LED on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "8b4b3e00.36142"
            ]
        ]
    },
    {
        "id": "e6c75795.206f18",
        "type": "ui_switch",
        "z": "74e34207.b386cc",
        "name": "",
        "label": "switch-1",
        "tooltip": "",
        "group": "66095ad.a851fa4",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 720,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "529b4e4d.29a7b",
        "type": "switch",
        "z": "74e34207.b386cc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "83d3686f.9a83a8"
            ],
            [
                "f778c04c.69a51"
            ]
        ]
    },
    {
        "id": "83d3686f.9a83a8",
        "type": "change",
        "z": "74e34207.b386cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "e6c75795.206f18"
            ]
        ]
    },
    {
        "id": "f778c04c.69a51",
        "type": "change",
        "z": "74e34207.b386cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 600,
        "wires": [
            [
                "e6c75795.206f18"
            ]
        ]
    },
    {
        "id": "8b4b3e00.36142",
        "type": "delay",
        "z": "74e34207.b386cc",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 450,
        "y": 180,
        "wires": [
            [
                "cf4bee5b.ec02e"
            ]
        ]
    },
    {
        "id": "da53a74c.e675d8",
        "type": "rpi-gpio out",
        "z": "74e34207.b386cc",
        "name": "",
        "pin": "17",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 900,
        "y": 280,
        "wires": []
    },
    {
        "id": "a0c08fe4.0fbb4",
        "type": "inject",
        "z": "74e34207.b386cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 690,
        "y": 260,
        "wires": [
            [
                "da53a74c.e675d8"
            ]
        ]
    },
    {
        "id": "2d942eae.e0e292",
        "type": "inject",
        "z": "74e34207.b386cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "da53a74c.e675d8"
            ]
        ]
    },
    {
        "id": "41a25f9a.abce8",
        "type": "ui_button",
        "z": "74e34207.b386cc",
        "name": "",
        "group": "66095ad.a851fa4",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "2-LED off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "360dd2c7.ee40ee"
            ]
        ]
    },
    {
        "id": "143d80f1.03520f",
        "type": "ui_button",
        "z": "74e34207.b386cc",
        "name": "",
        "group": "66095ad.a851fa4",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "2-LED on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "360dd2c7.ee40ee"
            ]
        ]
    },
    {
        "id": "360dd2c7.ee40ee",
        "type": "delay",
        "z": "74e34207.b386cc",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "da53a74c.e675d8"
            ]
        ]
    },
    {
        "id": "99645177.0ec05",
        "type": "inject",
        "z": "74e34207.b386cc",
        "name": "起動時",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "567823f2.cd777c"
            ]
        ]
    },
    {
        "id": "567823f2.cd777c",
        "type": "template",
        "z": "74e34207.b386cc",
        "name": "初期値 off 設定",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "8b4b3e00.36142",
                "360dd2c7.ee40ee"
            ]
        ]
    },
    {
        "id": "5ecaf324.4f017c",
        "type": "rpi-gpio in",
        "z": "74e34207.b386cc",
        "name": "",
        "pin": "5",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 200,
        "y": 660,
        "wires": [
            [
                "dd53d7d5.9133d8"
            ]
        ]
    },
    {
        "id": "692e7cc3.d02234",
        "type": "ui_switch",
        "z": "74e34207.b386cc",
        "name": "",
        "label": "switch-2",
        "tooltip": "",
        "group": "66095ad.a851fa4",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 720,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "dd53d7d5.9133d8",
        "type": "switch",
        "z": "74e34207.b386cc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 660,
        "wires": [
            [
                "7969679a.afc398"
            ],
            [
                "da2008fc.5bb558"
            ]
        ]
    },
    {
        "id": "7969679a.afc398",
        "type": "change",
        "z": "74e34207.b386cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 640,
        "wires": [
            [
                "692e7cc3.d02234"
            ]
        ]
    },
    {
        "id": "da2008fc.5bb558",
        "type": "change",
        "z": "74e34207.b386cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 680,
        "wires": [
            [
                "692e7cc3.d02234"
            ]
        ]
    },
    {
        "id": "cd3a7edd.1945d",
        "type": "ui_slider",
        "z": "74e34207.b386cc",
        "name": "",
        "label": "点滅回数",
        "tooltip": "",
        "group": "66095ad.a851fa4",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": 10,
        "step": 1,
        "x": 200,
        "y": 380,
        "wires": [
            [
                "adbf3f75.9cc69"
            ]
        ]
    },
    {
        "id": "adbf3f75.9cc69",
        "type": "change",
        "z": "74e34207.b386cc",
        "name": "set LED_n",
        "rules": [
            {
                "t": "set",
                "p": "LED_n",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "190b64f4.031efb",
        "type": "ui_button",
        "z": "74e34207.b386cc",
        "name": "",
        "group": "66095ad.a851fa4",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "1-LED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 420,
        "wires": [
            [
                "bfe34a3d.a80158"
            ]
        ]
    },
    {
        "id": "b85b8c1a.26bff",
        "type": "exec",
        "z": "74e34207.b386cc",
        "command": "python3 /home/pi/sensorHAT/breathing_led_sensorHAT.py -LED 27 -start 0 -step 5 ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 950,
        "y": 420,
        "wires": [
            [
                "20198a66.e57e26"
            ],
            [
                "20198a66.e57e26"
            ],
            [
                "20198a66.e57e26"
            ]
        ]
    },
    {
        "id": "bfe34a3d.a80158",
        "type": "template",
        "z": "74e34207.b386cc",
        "name": "回数をセット",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "-stop {{flow.LED_n}}",
        "output": "str",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "b85b8c1a.26bff"
            ]
        ]
    },
    {
        "id": "62b5e6ca.b79048",
        "type": "ui_button",
        "z": "74e34207.b386cc",
        "name": "",
        "group": "66095ad.a851fa4",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "2-LED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 480,
        "wires": [
            [
                "b0e0b6e3.acbbf8"
            ]
        ]
    },
    {
        "id": "a3fbfefd.b67d7",
        "type": "exec",
        "z": "74e34207.b386cc",
        "command": "python3 /home/pi/sensorHAT/breathing_led_sensorHAT.py -LED 17 -start 0 -step 5 ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 950,
        "y": 480,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b0e0b6e3.acbbf8",
        "type": "template",
        "z": "74e34207.b386cc",
        "name": "回数をセット",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "-stop {{flow.LED_n}}",
        "output": "str",
        "x": 470,
        "y": 480,
        "wires": [
            [
                "a3fbfefd.b67d7"
            ]
        ]
    },
    {
        "id": "20198a66.e57e26",
        "type": "debug",
        "z": "74e34207.b386cc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 460,
        "wires": []
    },
    {
        "id": "b3cbfc46.b1456",
        "type": "rpi-gpio in",
        "z": "74e34207.b386cc",
        "name": "",
        "pin": "21",
        "intype": "down",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 200,
        "y": 780,
        "wires": [
            [
                "a3ce3a60.943cc8"
            ]
        ]
    },
    {
        "id": "a3ce3a60.943cc8",
        "type": "switch",
        "z": "74e34207.b386cc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 780,
        "wires": [
            [
                "a00a8760.7e8848"
            ],
            [
                "2b429251.e11a9e"
            ]
        ]
    },
    {
        "id": "a00a8760.7e8848",
        "type": "change",
        "z": "74e34207.b386cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "明るい",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 760,
        "wires": [
            [
                "781e1168.d2b17",
                "5fca9da7.444b14"
            ]
        ]
    },
    {
        "id": "2b429251.e11a9e",
        "type": "change",
        "z": "74e34207.b386cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "暗い",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 800,
        "wires": [
            [
                "781e1168.d2b17",
                "5fca9da7.444b14"
            ]
        ]
    },
    {
        "id": "e77982d8.7c2b",
        "type": "comment",
        "z": "74e34207.b386cc",
        "name": "cds",
        "info": "",
        "x": 170,
        "y": 740,
        "wires": []
    },
    {
        "id": "781e1168.d2b17",
        "type": "ui_text",
        "z": "74e34207.b386cc",
        "group": "66095ad.a851fa4",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "明暗センサー",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 780,
        "wires": []
    },
    {
        "id": "fe7becc2.39e5c",
        "type": "comment",
        "z": "74e34207.b386cc",
        "name": "SW",
        "info": "",
        "x": 170,
        "y": 520,
        "wires": []
    },
    {
        "id": "72e33de9.9a2354",
        "type": "comment",
        "z": "74e34207.b386cc",
        "name": "LED",
        "info": "",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "5fca9da7.444b14",
        "type": "debug",
        "z": "74e34207.b386cc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 820,
        "wires": []
    },
    {
        "id": "c8b7dfcb.741a2",
        "type": "rpi-gpio in",
        "z": "74e34207.b386cc",
        "name": "",
        "pin": "26",
        "intype": "down",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 200,
        "y": 880,
        "wires": [
            [
                "5001298f.a83fa8"
            ]
        ]
    },
    {
        "id": "5001298f.a83fa8",
        "type": "switch",
        "z": "74e34207.b386cc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 880,
        "wires": [
            [
                "e21494f5.624958"
            ],
            [
                "a8cdaa36.07cf48"
            ]
        ]
    },
    {
        "id": "e21494f5.624958",
        "type": "change",
        "z": "74e34207.b386cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "水平",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 860,
        "wires": [
            [
                "6e93b2c9.5fd13c",
                "a5d99ed3.40f16"
            ]
        ]
    },
    {
        "id": "a8cdaa36.07cf48",
        "type": "change",
        "z": "74e34207.b386cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "傾いてる",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 900,
        "wires": [
            [
                "6e93b2c9.5fd13c",
                "a5d99ed3.40f16"
            ]
        ]
    },
    {
        "id": "a2392fd2.1e2f7",
        "type": "comment",
        "z": "74e34207.b386cc",
        "name": "傾きセンサー",
        "info": "",
        "x": 190,
        "y": 840,
        "wires": []
    },
    {
        "id": "6e93b2c9.5fd13c",
        "type": "ui_text",
        "z": "74e34207.b386cc",
        "group": "66095ad.a851fa4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "傾きセンサー",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 880,
        "wires": []
    },
    {
        "id": "a5d99ed3.40f16",
        "type": "debug",
        "z": "74e34207.b386cc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 920,
        "wires": []
    },
    {
        "id": "dfb9c82a.0749a8",
        "type": "ui_button",
        "z": "d96c2049.36e13",
        "name": "",
        "group": "d1845bff.5575e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "測定開始",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "ddd18229.401bf"
            ]
        ]
    },
    {
        "id": "808dc9f6.5ab648",
        "type": "ui_text",
        "z": "d96c2049.36e13",
        "group": "d1845bff.5575e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "測定結果:",
        "format": "{{msg.payload}} cm",
        "layout": "row-spread",
        "x": 920,
        "y": 340,
        "wires": []
    },
    {
        "id": "e9236d6c.4562a",
        "type": "exec",
        "z": "d96c2049.36e13",
        "command": "python3 /home/pi/sensorHAT/SR04_dataSave.py ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "oldrc": false,
        "name": "",
        "x": 590,
        "y": 200,
        "wires": [
            [
                "9a2141e7.8581e",
                "808dc9f6.5ab648",
                "7ca5ae0.303d854",
                "610a8ffb.4ec62"
            ],
            [
                "b587ef01.bc7e5"
            ],
            [
                "21b064a6.4332ac"
            ]
        ]
    },
    {
        "id": "9a2141e7.8581e",
        "type": "debug",
        "z": "d96c2049.36e13",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 140,
        "wires": []
    },
    {
        "id": "21b064a6.4332ac",
        "type": "debug",
        "z": "d96c2049.36e13",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "e8ef74a7.1328c8",
        "type": "template",
        "z": "d96c2049.36e13",
        "name": "測定中",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "測定中",
        "output": "str",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "808dc9f6.5ab648"
            ]
        ]
    },
    {
        "id": "ddd18229.401bf",
        "type": "delay",
        "z": "d96c2049.36e13",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "e9236d6c.4562a",
                "e8ef74a7.1328c8",
                "af60dca4.1335a"
            ]
        ]
    },
    {
        "id": "b587ef01.bc7e5",
        "type": "debug",
        "z": "d96c2049.36e13",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "7ca5ae0.303d854",
        "type": "switch",
        "z": "d96c2049.36e13",
        "name": "emptyだったら",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "9b8931a2.551f4"
            ],
            []
        ]
    },
    {
        "id": "2101d927.7769d6",
        "type": "inject",
        "z": "d96c2049.36e13",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "ddd18229.401bf"
            ]
        ]
    },
    {
        "id": "9b8931a2.551f4",
        "type": "template",
        "z": "d96c2049.36e13",
        "name": "タイムアウト",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "タイムアウト",
        "output": "str",
        "x": 650,
        "y": 300,
        "wires": [
            [
                "808dc9f6.5ab648",
                "610a8ffb.4ec62"
            ]
        ]
    },
    {
        "id": "2bd1859f.6c25aa",
        "type": "rpi-gpio out",
        "z": "d96c2049.36e13",
        "name": "",
        "pin": "27",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1140,
        "y": 480,
        "wires": []
    },
    {
        "id": "bc6b578.30ec1a8",
        "type": "inject",
        "z": "d96c2049.36e13",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 930,
        "y": 440,
        "wires": [
            [
                "2bd1859f.6c25aa"
            ]
        ]
    },
    {
        "id": "657fac8b.6b9924",
        "type": "inject",
        "z": "d96c2049.36e13",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 930,
        "y": 520,
        "wires": [
            [
                "2bd1859f.6c25aa"
            ]
        ]
    },
    {
        "id": "7cc42025.7d591",
        "type": "rpi-gpio out",
        "z": "d96c2049.36e13",
        "name": "",
        "pin": "17",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1140,
        "y": 620,
        "wires": []
    },
    {
        "id": "cdbc1da8.417f6",
        "type": "inject",
        "z": "d96c2049.36e13",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 930,
        "y": 580,
        "wires": [
            [
                "7cc42025.7d591"
            ]
        ]
    },
    {
        "id": "333df505.57e20a",
        "type": "inject",
        "z": "d96c2049.36e13",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 930,
        "y": 660,
        "wires": [
            [
                "7cc42025.7d591"
            ]
        ]
    },
    {
        "id": "af60dca4.1335a",
        "type": "template",
        "z": "d96c2049.36e13",
        "name": "1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 670,
        "y": 460,
        "wires": [
            [
                "2bd1859f.6c25aa"
            ]
        ]
    },
    {
        "id": "610a8ffb.4ec62",
        "type": "template",
        "z": "d96c2049.36e13",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 670,
        "y": 500,
        "wires": [
            [
                "2bd1859f.6c25aa",
                "c57c817e.3c74a"
            ]
        ]
    },
    {
        "id": "861b9e.d7d9b46",
        "type": "inject",
        "z": "d96c2049.36e13",
        "name": "起動時",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 540,
        "wires": [
            [
                "610a8ffb.4ec62",
                "a944cf6.ea3a73"
            ]
        ]
    },
    {
        "id": "70e80823.5870f8",
        "type": "template",
        "z": "d96c2049.36e13",
        "name": "1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 670,
        "y": 600,
        "wires": [
            [
                "7cc42025.7d591"
            ]
        ]
    },
    {
        "id": "a944cf6.ea3a73",
        "type": "template",
        "z": "d96c2049.36e13",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 670,
        "y": 640,
        "wires": [
            [
                "7cc42025.7d591"
            ]
        ]
    },
    {
        "id": "c57c817e.3c74a",
        "type": "delay",
        "z": "d96c2049.36e13",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 450,
        "y": 600,
        "wires": [
            [
                "70e80823.5870f8",
                "daa7f62a.c410c8"
            ]
        ]
    },
    {
        "id": "daa7f62a.c410c8",
        "type": "delay",
        "z": "d96c2049.36e13",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 450,
        "y": 640,
        "wires": [
            [
                "a944cf6.ea3a73"
            ]
        ]
    },
    {
        "id": "b30b8159.eee82",
        "type": "exec",
        "z": "d96c2049.36e13",
        "command": "sudo shutdown now",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1060,
        "y": 780,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5a70f468.5efedc",
        "type": "ui_button",
        "z": "d96c2049.36e13",
        "name": "",
        "group": "d1845bff.5575e8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "シャットダウン",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 780,
        "wires": [
            [
                "d928f460.cec2e8"
            ]
        ]
    },
    {
        "id": "d928f460.cec2e8",
        "type": "ui_toast",
        "z": "d96c2049.36e13",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": true,
        "topic": "シャットダウンします？",
        "name": "",
        "x": 490,
        "y": 780,
        "wires": [
            [
                "de613d5f.ba35e"
            ]
        ]
    },
    {
        "id": "a885ba58.1371d8",
        "type": "debug",
        "z": "d96c2049.36e13",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 880,
        "wires": []
    },
    {
        "id": "de613d5f.ba35e",
        "type": "switch",
        "z": "d96c2049.36e13",
        "name": "OKなら実行",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 780,
        "wires": [
            [
                "a885ba58.1371d8",
                "b30b8159.eee82"
            ]
        ]
    },
    {
        "id": "162638c2.6ee2d7",
        "type": "ui_gauge",
        "z": "dbdf4cec.c5115",
        "name": "",
        "group": "4230db4a.d49bc4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "温 度",
        "label": "units",
        "format": "{{value}}度",
        "min": 0,
        "max": "40",
        "colors": [
            "#1135e8",
            "#28b888",
            "#f21818"
        ],
        "seg1": "20",
        "seg2": "28",
        "x": 1430,
        "y": 340,
        "wires": []
    },
    {
        "id": "10eb87b2.48e088",
        "type": "ui_gauge",
        "z": "dbdf4cec.c5115",
        "name": "",
        "group": "4230db4a.d49bc4",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "気 圧",
        "label": "units",
        "format": "{{value}}hPa",
        "min": "900",
        "max": "1040",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1430,
        "y": 500,
        "wires": []
    },
    {
        "id": "714f2aef.93dec4",
        "type": "ui_gauge",
        "z": "dbdf4cec.c5115",
        "name": "",
        "group": "4230db4a.d49bc4",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "湿 度",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1430,
        "y": 420,
        "wires": []
    },
    {
        "id": "75686c2a.247b04",
        "type": "ui_slider",
        "z": "dbdf4cec.c5115",
        "name": "",
        "label": "　気圧　",
        "tooltip": "",
        "group": "4230db4a.d49bc4",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": "900",
        "max": "1040",
        "step": 1,
        "x": 1030,
        "y": 720,
        "wires": [
            [
                "8dd12fb2.888b4",
                "10eb87b2.48e088"
            ]
        ]
    },
    {
        "id": "c681c11.924994",
        "type": "ui_slider",
        "z": "dbdf4cec.c5115",
        "name": "",
        "label": "温度設定",
        "tooltip": "",
        "group": "4230db4a.d49bc4",
        "order": 18,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": "0",
        "max": "40",
        "step": "0.1",
        "x": 1040,
        "y": 600,
        "wires": [
            [
                "162638c2.6ee2d7",
                "b7da2752.f49f78",
                "1f10d808.e153a8",
                "e15f2966.975808"
            ]
        ]
    },
    {
        "id": "12e408d8.b5a4c7",
        "type": "ui_slider",
        "z": "dbdf4cec.c5115",
        "name": "",
        "label": "湿度設定",
        "tooltip": "",
        "group": "4230db4a.d49bc4",
        "order": 19,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": "0",
        "max": "100",
        "step": 1,
        "x": 1040,
        "y": 660,
        "wires": [
            [
                "714f2aef.93dec4",
                "e3000c8c.99e36",
                "8a9d3fee.1a6f5"
            ]
        ]
    },
    {
        "id": "b7da2752.f49f78",
        "type": "ui_chart",
        "z": "dbdf4cec.c5115",
        "name": "",
        "group": "4230db4a.d49bc4",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "気温トレンド",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1450,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e3000c8c.99e36",
        "type": "ui_chart",
        "z": "dbdf4cec.c5115",
        "name": "",
        "group": "4230db4a.d49bc4",
        "order": 10,
        "width": 0,
        "height": 0,
        "label": "湿度トレンド",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1450,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "8dd12fb2.888b4",
        "type": "ui_chart",
        "z": "dbdf4cec.c5115",
        "name": "",
        "group": "4230db4a.d49bc4",
        "order": 12,
        "width": 0,
        "height": 0,
        "label": "気圧トレンド",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "950",
        "ymax": "1035",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1450,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "dcc8f364.57053",
        "type": "ui_toast",
        "z": "dbdf4cec.c5115",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "topic": "グラフをリセットします。",
        "name": "リセットダイアログ",
        "x": 600,
        "y": 920,
        "wires": [
            [
                "20bd81aa.3b9f0e"
            ]
        ]
    },
    {
        "id": "784fb853.3448b8",
        "type": "inject",
        "z": "dbdf4cec.c5115",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "　",
        "payloadType": "str",
        "x": 410,
        "y": 880,
        "wires": [
            [
                "dcc8f364.57053"
            ]
        ]
    },
    {
        "id": "635f5f90.4d2e6",
        "type": "ui_chart",
        "z": "dbdf4cec.c5115",
        "name": "",
        "group": "4230db4a.d49bc4",
        "order": 14,
        "width": 0,
        "height": 0,
        "label": "温度・湿度",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#4680aa",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#dd3431",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1450,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "1f10d808.e153a8",
        "type": "function",
        "z": "dbdf4cec.c5115",
        "name": "topic 温度",
        "func": "msg.topic = '温度'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1420,
        "y": 920,
        "wires": [
            [
                "635f5f90.4d2e6"
            ]
        ]
    },
    {
        "id": "8a9d3fee.1a6f5",
        "type": "function",
        "z": "dbdf4cec.c5115",
        "name": "topic 湿度",
        "func": "msg.topic = '湿度'\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1420,
        "y": 960,
        "wires": [
            [
                "635f5f90.4d2e6"
            ]
        ]
    },
    {
        "id": "d6f0be87.23364",
        "type": "random",
        "z": "dbdf4cec.c5115",
        "name": "",
        "low": "900",
        "high": "1040",
        "inte": "true",
        "property": "payload",
        "x": 420,
        "y": 820,
        "wires": [
            [
                "e04243ad.7a5ff"
            ]
        ]
    },
    {
        "id": "e01fb779.041068",
        "type": "inject",
        "z": "dbdf4cec.c5115",
        "name": "2秒周期",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "fc2bec03.12feb"
            ]
        ]
    },
    {
        "id": "e04243ad.7a5ff",
        "type": "smooth",
        "z": "dbdf4cec.c5115",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "8",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 580,
        "y": 820,
        "wires": [
            [
                "e40411df.183f1"
            ]
        ]
    },
    {
        "id": "b7a34570.45c008",
        "type": "random",
        "z": "dbdf4cec.c5115",
        "name": "",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 420,
        "y": 780,
        "wires": [
            [
                "2df062f4.f4af6e"
            ]
        ]
    },
    {
        "id": "2df062f4.f4af6e",
        "type": "smooth",
        "z": "dbdf4cec.c5115",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "15",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 580,
        "y": 780,
        "wires": [
            [
                "1017c40d.f2528c"
            ]
        ]
    },
    {
        "id": "e8e436e5.85d478",
        "type": "random",
        "z": "dbdf4cec.c5115",
        "name": "",
        "low": "0",
        "high": "40",
        "inte": "true",
        "property": "payload",
        "x": 420,
        "y": 740,
        "wires": [
            [
                "dfb0b92.d07f548"
            ]
        ]
    },
    {
        "id": "dfb0b92.d07f548",
        "type": "smooth",
        "z": "dbdf4cec.c5115",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "5",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 580,
        "y": 740,
        "wires": [
            [
                "1b6df1fd.ca0e0e"
            ]
        ]
    },
    {
        "id": "1b6df1fd.ca0e0e",
        "type": "calculator",
        "z": "dbdf4cec.c5115",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "avg",
        "constant": "",
        "round": true,
        "decimals": "1",
        "x": 740,
        "y": 740,
        "wires": [
            [
                "c681c11.924994"
            ]
        ]
    },
    {
        "id": "1017c40d.f2528c",
        "type": "calculator",
        "z": "dbdf4cec.c5115",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "trunc",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 750,
        "y": 780,
        "wires": [
            [
                "12e408d8.b5a4c7"
            ]
        ]
    },
    {
        "id": "e40411df.183f1",
        "type": "calculator",
        "z": "dbdf4cec.c5115",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "trunc",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 750,
        "y": 820,
        "wires": [
            [
                "75686c2a.247b04"
            ]
        ]
    },
    {
        "id": "20bd81aa.3b9f0e",
        "type": "change",
        "z": "dbdf4cec.c5115",
        "name": "グラフのリセット",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 920,
        "wires": [
            [
                "b7da2752.f49f78",
                "e3000c8c.99e36",
                "8dd12fb2.888b4",
                "635f5f90.4d2e6",
                "162638c2.6ee2d7",
                "714f2aef.93dec4",
                "10eb87b2.48e088"
            ]
        ]
    },
    {
        "id": "4f63c518.650a9c",
        "type": "inject",
        "z": "dbdf4cec.c5115",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 930,
        "y": 820,
        "wires": [
            [
                "c681c11.924994",
                "12e408d8.b5a4c7",
                "75686c2a.247b04"
            ]
        ]
    },
    {
        "id": "61d6821c.b00c2c",
        "type": "inject",
        "z": "dbdf4cec.c5115",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 930,
        "y": 860,
        "wires": [
            [
                "c681c11.924994",
                "12e408d8.b5a4c7",
                "75686c2a.247b04"
            ]
        ]
    },
    {
        "id": "31a4143e.f0e4cc",
        "type": "change",
        "z": "dbdf4cec.c5115",
        "name": "sensorHAT",
        "rules": [
            {
                "t": "set",
                "p": "folder",
                "pt": "flow",
                "to": "sensorHAT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6c1f8c79.6e4544",
        "type": "comment",
        "z": "dbdf4cec.c5115",
        "name": "user",
        "info": "",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "d2ef111e.d6602",
        "type": "change",
        "z": "dbdf4cec.c5115",
        "name": "pi",
        "rules": [
            {
                "t": "set",
                "p": "user",
                "pt": "flow",
                "to": "pi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "31a4143e.f0e4cc"
            ]
        ]
    },
    {
        "id": "17d8ff53.38a1f1",
        "type": "comment",
        "z": "dbdf4cec.c5115",
        "name": "folder",
        "info": "",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "73603d6d.3c0334",
        "type": "inject",
        "z": "dbdf4cec.c5115",
        "name": "起動時にファイルpath設定",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "d2ef111e.d6602"
            ]
        ]
    },
    {
        "id": "25f76483.79328c",
        "type": "file in",
        "z": "dbdf4cec.c5115",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 530,
        "y": 340,
        "wires": [
            [
                "452329af.543018"
            ]
        ]
    },
    {
        "id": "770f5043.b9368",
        "type": "template",
        "z": "dbdf4cec.c5115",
        "name": "temp_data_last.txt",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/home/{{flow.user}}/{{flow.folder}}/temp_data_last.txt",
        "output": "str",
        "x": 290,
        "y": 360,
        "wires": [
            [
                "25f76483.79328c"
            ]
        ]
    },
    {
        "id": "833569a4.17b298",
        "type": "file in",
        "z": "dbdf4cec.c5115",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "8ad8f02.cdf501"
            ]
        ]
    },
    {
        "id": "5e7dcf55.309b4",
        "type": "template",
        "z": "dbdf4cec.c5115",
        "name": "humdy_data_last.txt",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/home/{{flow.user}}/{{flow.folder}}/humdy_data_last.txt",
        "output": "str",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "833569a4.17b298"
            ]
        ]
    },
    {
        "id": "d2bb9820.13e518",
        "type": "file in",
        "z": "dbdf4cec.c5115",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 530,
        "y": 460,
        "wires": [
            [
                "1130c53e.36dc2b"
            ]
        ]
    },
    {
        "id": "73c539fe.928c88",
        "type": "template",
        "z": "dbdf4cec.c5115",
        "name": "press_data_last.txt",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/home/{{flow.user}}/{{flow.folder}}/press_data_last.txt",
        "output": "str",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "d2bb9820.13e518"
            ]
        ]
    },
    {
        "id": "8e693e5e.a134f",
        "type": "ui_button",
        "z": "dbdf4cec.c5115",
        "name": "",
        "group": "4230db4a.d49bc4",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "グラフのリセット",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 190,
        "y": 920,
        "wires": [
            [
                "f990b4e4.524d38"
            ]
        ]
    },
    {
        "id": "fc2bec03.12feb",
        "type": "ui_switch",
        "z": "dbdf4cec.c5115",
        "name": "",
        "label": "ダミーデータを使用",
        "tooltip": "",
        "group": "4230db4a.d49bc4",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 780,
        "wires": [
            [
                "5d435c5e.a62ad4"
            ]
        ]
    },
    {
        "id": "5d435c5e.a62ad4",
        "type": "switch",
        "z": "dbdf4cec.c5115",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 820,
        "wires": [
            [
                "e8e436e5.85d478",
                "b7a34570.45c008",
                "d6f0be87.23364"
            ],
            []
        ]
    },
    {
        "id": "fbed56b5.0f7f38",
        "type": "comment",
        "z": "dbdf4cec.c5115",
        "name": "周期的にファイルからデータを読み込む",
        "info": "",
        "x": 320,
        "y": 300,
        "wires": []
    },
    {
        "id": "fc5e52b5.e3b81",
        "type": "comment",
        "z": "dbdf4cec.c5115",
        "name": "ダミーデータを使い表示を確認する",
        "info": "",
        "x": 460,
        "y": 700,
        "wires": []
    },
    {
        "id": "ae3d0953.6de058",
        "type": "comment",
        "z": "dbdf4cec.c5115",
        "name": "複数要素のグラフを描画",
        "info": "",
        "x": 1410,
        "y": 880,
        "wires": []
    },
    {
        "id": "e15f2966.975808",
        "type": "mqtt out",
        "z": "dbdf4cec.c5115",
        "name": "",
        "topic": "testmqtt/sensor/temp998",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "724182e9.49bcdc",
        "x": 1490,
        "y": 380,
        "wires": []
    },
    {
        "id": "452329af.543018",
        "type": "calculator",
        "z": "dbdf4cec.c5115",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "10",
        "round": true,
        "decimals": "1",
        "x": 950,
        "y": 340,
        "wires": [
            [
                "162638c2.6ee2d7",
                "b7da2752.f49f78",
                "1f10d808.e153a8",
                "e15f2966.975808"
            ]
        ]
    },
    {
        "id": "f990b4e4.524d38",
        "type": "template",
        "z": "dbdf4cec.c5115",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "　",
        "output": "str",
        "x": 380,
        "y": 920,
        "wires": [
            [
                "dcc8f364.57053"
            ]
        ]
    },
    {
        "id": "6180d9bb.04b448",
        "type": "delay",
        "z": "dbdf4cec.c5115",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "5d54f420.48c94c"
            ]
        ]
    },
    {
        "id": "5b07dd86.d4f1b4",
        "type": "file",
        "z": "dbdf4cec.c5115",
        "name": "",
        "filename": "/home/pi/sensorHAT/temp_data_last.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 740,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "59579ec8.47b7b",
        "type": "file",
        "z": "dbdf4cec.c5115",
        "name": "",
        "filename": "/home/pi/sensorHAT/humdy_data_last.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 760,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "9df9153f.b4b568",
        "type": "file",
        "z": "dbdf4cec.c5115",
        "name": "",
        "filename": "/home/pi/sensorHAT/press_data_last.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 780,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "3b05fa00.1b1ae6",
        "type": "delay",
        "z": "dbdf4cec.c5115",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 390,
        "y": 640,
        "wires": [
            [
                "4f7f8d62.5a73c4"
            ]
        ]
    },
    {
        "id": "69822b9f.93a624",
        "type": "delay",
        "z": "dbdf4cec.c5115",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 370,
        "y": 600,
        "wires": [
            [
                "a2ffff2c.af75a"
            ]
        ]
    },
    {
        "id": "5d54f420.48c94c",
        "type": "template",
        "z": "dbdf4cec.c5115",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 490,
        "y": 560,
        "wires": [
            [
                "5b07dd86.d4f1b4"
            ]
        ]
    },
    {
        "id": "a2ffff2c.af75a",
        "type": "template",
        "z": "dbdf4cec.c5115",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 510,
        "y": 600,
        "wires": [
            [
                "59579ec8.47b7b"
            ]
        ]
    },
    {
        "id": "4f7f8d62.5a73c4",
        "type": "template",
        "z": "dbdf4cec.c5115",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 530,
        "y": 640,
        "wires": [
            [
                "9df9153f.b4b568"
            ]
        ]
    },
    {
        "id": "f7f91c6.efab1e",
        "type": "comment",
        "z": "dbdf4cec.c5115",
        "name": "データ欠損時にデータを0にする",
        "info": "",
        "x": 350,
        "y": 500,
        "wires": []
    },
    {
        "id": "87390b8e.eb3548",
        "type": "inject",
        "z": "dbdf4cec.c5115",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "9",
        "payloadType": "num",
        "x": 1210,
        "y": 280,
        "wires": [
            [
                "162638c2.6ee2d7",
                "714f2aef.93dec4",
                "10eb87b2.48e088",
                "e15f2966.975808"
            ]
        ]
    },
    {
        "id": "8ad8f02.cdf501",
        "type": "calculator",
        "z": "dbdf4cec.c5115",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "1",
        "round": true,
        "decimals": "1",
        "x": 950,
        "y": 400,
        "wires": [
            [
                "714f2aef.93dec4",
                "e3000c8c.99e36",
                "8a9d3fee.1a6f5"
            ]
        ]
    },
    {
        "id": "1130c53e.36dc2b",
        "type": "calculator",
        "z": "dbdf4cec.c5115",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "1",
        "round": true,
        "decimals": "1",
        "x": 950,
        "y": 460,
        "wires": [
            [
                "10eb87b2.48e088",
                "8dd12fb2.888b4"
            ]
        ]
    },
    {
        "id": "6663f500.97001c",
        "type": "watch",
        "z": "dbdf4cec.c5115",
        "name": "",
        "files": "/home/pi/sensorHAT/press_data_last.txt",
        "recursive": "",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "e51815dc.2258e8",
                "3fdd437d.0bc1ec"
            ]
        ]
    },
    {
        "id": "6d785c34.e93424",
        "type": "watch",
        "z": "dbdf4cec.c5115",
        "name": "",
        "files": "/home/pi/sensorHAT/temp_data_last.txt",
        "recursive": "",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "e51815dc.2258e8",
                "3fdd437d.0bc1ec"
            ]
        ]
    },
    {
        "id": "e51815dc.2258e8",
        "type": "delay",
        "z": "dbdf4cec.c5115",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "50",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 520,
        "y": 220,
        "wires": [
            [
                "64e0d9d9.9cc798"
            ]
        ]
    },
    {
        "id": "64e0d9d9.9cc798",
        "type": "delay",
        "z": "dbdf4cec.c5115",
        "name": "",
        "pauseType": "delay",
        "timeout": "40",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "770f5043.b9368",
                "5e7dcf55.309b4",
                "73c539fe.928c88",
                "97d82600.6a7688"
            ]
        ]
    },
    {
        "id": "3fdd437d.0bc1ec",
        "type": "debug",
        "z": "dbdf4cec.c5115",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "a80409e6.cb7998",
        "type": "comment",
        "z": "dbdf4cec.c5115",
        "name": "データファイルに変化があれば、それをキックにフローを流す",
        "info": "",
        "x": 290,
        "y": 160,
        "wires": []
    },
    {
        "id": "97d82600.6a7688",
        "type": "trigger",
        "z": "dbdf4cec.c5115",
        "name": "Watchdog",
        "op1": "",
        "op2": "timeout",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 910,
        "y": 220,
        "wires": [
            [
                "3da16605.bd0aea",
                "770f5043.b9368",
                "5e7dcf55.309b4",
                "73c539fe.928c88"
            ]
        ]
    },
    {
        "id": "3da16605.bd0aea",
        "type": "debug",
        "z": "dbdf4cec.c5115",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1130,
        "y": 220,
        "wires": []
    },
    {
        "id": "810c545.cb901a8",
        "type": "comment",
        "z": "dbdf4cec.c5115",
        "name": "データ欠損時処理を止めています。",
        "info": "",
        "x": 380,
        "y": 540,
        "wires": []
    },
    {
        "id": "dfec41d4.dc045",
        "type": "ui_text",
        "z": "be8e813.ab22c8",
        "group": "b4662c72.2656f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "受信データ：",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "44195928.875398",
        "type": "comment",
        "z": "be8e813.ab22c8",
        "name": "適当なリモコンのボタンを押して...",
        "info": "適当なリモコンのボタンを押してみると\n0101といった数字が出ます。\n押したボタンと0101をどこかに書き留めます。\nその0101をswicthフローで判定すると\n押したボタンを判別できるようにになります。\n\nリモコンによっては信号の時間幅が違いデータを取得で\nきない場合があるので、別のリモコンで試してください。\n\n信号の時間は幅を調整するには\nirrp_data_code04.py\nの294行あたりを改造するとできます。\n\nリモコンの信号は短い幅と長い幅で０と1を区別する\n仕組みです。\n1の幅は０の幅のおおむね3倍程度となっています。\n\n",
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "865df63b.cae848",
        "type": "file in",
        "z": "be8e813.ab22c8",
        "name": "",
        "filename": "/home/pi/sensorHAT/iR_command.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "dfec41d4.dc045",
                "eddea25f.46f9e"
            ]
        ]
    },
    {
        "id": "eddea25f.46f9e",
        "type": "debug",
        "z": "be8e813.ab22c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "e4979d1e.45616",
        "type": "watch",
        "z": "be8e813.ab22c8",
        "name": "",
        "files": "/home/pi/sensorHAT/iR_command.txt",
        "recursive": "",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "865df63b.cae848",
                "53b02eea.ceedd"
            ]
        ]
    },
    {
        "id": "c236ef97.3d71a",
        "type": "ui_text",
        "z": "be8e813.ab22c8",
        "group": "b4662c72.2656f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "赤外線リモコンの信号を '1'  '0' で表示します。",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 320,
        "y": 340,
        "wires": []
    },
    {
        "id": "53b02eea.ceedd",
        "type": "debug",
        "z": "be8e813.ab22c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "41b8fec8072159b3",
        "type": "inject",
        "z": "be8e813.ab22c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "865df63b.cae848"
            ]
        ]
    },
    {
        "id": "d8981611284180dc",
        "type": "comment",
        "z": "be8e813.ab22c8",
        "name": "iR_command.txtは入れておく必要があります。",
        "info": "監視対象のファイルは起動時にないと監視対象から外れます。\nなので、iR_command.txtは入れておく必要があります。",
        "x": 320,
        "y": 420,
        "wires": []
    }
]