タイマー予約_v1_04.txt
[{"id":"d4d22616.d9c7d8","type":"tab","label":"タイマー予約","disabled":false,"info":""},{"id":"f4297bb9.d5d8d8","type":"debug","z":"d4d22616.d9c7d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":840,"wires":[]},{"id":"c52d31cc.373ae","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"sousa","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":840,"wires":[["f4297bb9.d5d8d8","ff5ab80b.ce6288"]]},{"id":"f5cb3189.a8fb6","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"jikan","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":880,"wires":[["f4297bb9.d5d8d8","ff5ab80b.ce6288"]]},{"id":"f772a80.12edb58","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"fun","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":920,"wires":[["f4297bb9.d5d8d8","ff5ab80b.ce6288"]]},{"id":"ff5ab80b.ce6288","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"sousa","pt":"msg","to":"sousa","tot":"flow"},{"t":"set","p":"jikan","pt":"msg","to":"jikan","tot":"flow"},{"t":"set","p":"fun","pt":"msg","to":"fun","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":920,"wires":[["8f97765e.ed6568"]]},{"id":"8e2cc6fc.742c78","type":"comment","z":"d4d22616.d9c7d8","name":"新規タイマー予約する　操作内容　と　時間　分　を指定","info":"","x":330,"y":800,"wires":[]},{"id":"c5513768.8990c8","type":"comment","z":"d4d22616.d9c7d8","name":"操作内容、時間、分を 新規ファイルに保存","info":"","x":280,"y":1000,"wires":[]},{"id":"9d2ca9ad.05ceb8","type":"csv","z":"d4d22616.d9c7d8","name":"データを変数に代入","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"sousa1,jikan1,fun1,sousa2,jikan2,fun2,sousa3,jikan3,fun3,sousa4,jikan4,fun4","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":560,"y":400,"wires":[["c15d79ea.a1bbc8","91c3be41.fb349"]]},{"id":"5bff9c07.a85e14","type":"file in","z":"d4d22616.d9c7d8","name":"予約ファイル読込","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":610,"y":260,"wires":[["9d2ca9ad.05ceb8","ca4241a2.2d199"]]},{"id":"440a4306.6e215c","type":"inject","z":"d4d22616.d9c7d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":260,"wires":[["9afc2984.1e44c8"]]},{"id":"f50fd9d5.ff0298","type":"link out","z":"d4d22616.d9c7d8","name":"","links":["fa1d2623.e9e4a8","aedb0b64.6986f8","925b557b.5920d8"],"x":1395,"y":500,"wires":[]},{"id":"91c3be41.fb349","type":"change","z":"d4d22616.d9c7d8","name":"予約データ1のセット","rules":[{"t":"set","p":"sousa1","pt":"flow","to":"payload.sousa1","tot":"msg"},{"t":"set","p":"jikan1","pt":"flow","to":"payload.jikan1","tot":"msg"},{"t":"set","p":"fun1","pt":"flow","to":"payload.fun1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":400,"wires":[["5a58e626.32f4f8"]]},{"id":"26f86285.41763e","type":"file","z":"d4d22616.d9c7d8","name":"新規予約ファイル書込み","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":888.7500076293945,"y":1125,"wires":[["c53b3fb3.1358b","f38413b.2381cf"]]},{"id":"ba84141b.c4a278","type":"template","z":"d4d22616.d9c7d8","name":"新規追加予約データセット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.sousa}},{{flow.jikan}},{{flow.fun}},","output":"str","x":618.7500076293945,"y":1125,"wires":[["26f86285.41763e"]]},{"id":"6309fdff.8880e4","type":"change","z":"d4d22616.d9c7d8","name":"L_remocon","rules":[{"t":"set","p":"folder","pt":"flow","to":"L_remocon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":100,"wires":[["b25342c0.fb7f5"]]},{"id":"991c69ac.e57628","type":"comment","z":"d4d22616.d9c7d8","name":"user","info":"","x":324.99997329711914,"y":47.4999680519104,"wires":[]},{"id":"3b0d77c4.57fbf8","type":"change","z":"d4d22616.d9c7d8","name":"pi","rules":[{"t":"set","p":"user","pt":"flow","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":100,"wires":[["6309fdff.8880e4"]]},{"id":"a344f603.082dd8","type":"comment","z":"d4d22616.d9c7d8","name":"folder","info":"","x":464.99997329711914,"y":47.4999680519104,"wires":[]},{"id":"57c19d9f.b8df04","type":"inject","z":"d4d22616.d9c7d8","name":"起動時に","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["3b0d77c4.57fbf8"]]},{"id":"ce139f1.bb6f36","type":"template","z":"d4d22616.d9c7d8","name":"yoyaku_new.csv","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/yoyaku_new.csv","output":"str","x":398.75000762939453,"y":1125,"wires":[["ba84141b.c4a278"]]},{"id":"9afc2984.1e44c8","type":"template","z":"d4d22616.d9c7d8","name":"yoyaku.csv","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/yoyaku.csv","output":"str","x":430,"y":260,"wires":[["5bff9c07.a85e14"]]},{"id":"ed6ac0f7.01cc9","type":"catch","z":"d4d22616.d9c7d8","name":"","scope":["9d2ca9ad.05ceb8"],"uncaught":false,"x":530,"y":440,"wires":[["7fb29010.c8d29"]],"info":"予約の1にしかデータがないときに削除すると、\nデータ全てがなくなり、ファイルから読み取ったデータがからになる。\nこれほcsvで読み取るとエラーになるので、\nこのエラーが発生した時は、予約1を空白でセットする。\n"},{"id":"7fb29010.c8d29","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"sousa1","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":440,"wires":[["6dd437fe.aa8898"]]},{"id":"6dd437fe.aa8898","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"jikan1","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":440,"wires":[["bfd1f55b.aee538"]]},{"id":"bfd1f55b.aee538","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"fun1","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":440,"wires":[[]]},{"id":"b25342c0.fb7f5","type":"link out","z":"d4d22616.d9c7d8","name":"","links":["319d7679.0df09a"],"x":675,"y":100,"wires":[]},{"id":"319d7679.0df09a","type":"link in","z":"d4d22616.d9c7d8","name":"","links":["b25342c0.fb7f5"],"x":155,"y":320,"wires":[["9afc2984.1e44c8"]]},{"id":"173a612a.d0ee8f","type":"exec","z":"d4d22616.d9c7d8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"予約ファイル整理","x":930,"y":2080,"wires":[["80c702cb.80b42","1e07a9b4.17b9c6"],["ee5a7b6e.7a40d8","1e07a9b4.17b9c6","c2ce07ad.758ea8"],["d9a9188a.559d58"]],"info":"python3 /home/tk/L_remocon/yoyaku_reload.py\n\nファィルをfilenameで取れない場合は、\n直接指定するしかないのか?\n\nflowではダメだがpayloadなら行けそうだ\n\nexec フローはfilenameを受け取り処理するが、\nflowでは受け取れない\npayloadで渡す必要がある。"},{"id":"7e981ab0.ffa544","type":"template","z":"d4d22616.d9c7d8","name":"yoyaku_del.csv","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/yoyaku_del.csv","output":"str","x":1180,"y":1840,"wires":[["ed381309.4780a"]]},{"id":"ed381309.4780a","type":"file","z":"d4d22616.d9c7d8","name":"予約ファイル削除","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1390,"y":1840,"wires":[["ecca6791.5e2988"]]},{"id":"ba575454.33d0a8","type":"comment","z":"d4d22616.d9c7d8","name":"対象ファィルをfowで指定するとエラーになる","info":"exec フローはfilenameを受け取り処理するが、\nflowでは受け取れない\npayloadで渡す必要がある。\n","x":590,"y":2140,"wires":[]},{"id":"237d7ee9.00a6d2","type":"template","z":"d4d22616.d9c7d8","name":"yoyaku_reload_03.py","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{user}}/{{folder}}/yoyaku_reload_03.py","output":"str","x":700,"y":2080,"wires":[["173a612a.d0ee8f"]]},{"id":"b578c658.efc828","type":"change","z":"d4d22616.d9c7d8","name":"folder","rules":[{"t":"set","p":"folder","pt":"msg","to":"folder","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2080,"wires":[["237d7ee9.00a6d2"]]},{"id":"f260bec8.d839e","type":"change","z":"d4d22616.d9c7d8","name":"user","rules":[{"t":"set","p":"user","pt":"msg","to":"user","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2080,"wires":[["b578c658.efc828"]]},{"id":"b402e9e6.816298","type":"switch","z":"d4d22616.d9c7d8","name":"予約が4つの時は受け付けない","property":"sousa4","propertyType":"flow","rules":[{"t":"null"},{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":551.2500381469727,"y":1057.500015258789,"wires":[["15069046.d6ca3"],["15069046.d6ca3"],["8b61c35f.5cf42"]]},{"id":"51499a2f.069294","type":"ui_button","z":"d4d22616.d9c7d8","name":"","group":"ebdf4025.6ac128","order":5,"width":0,"height":0,"passthru":false,"label":"保存","tooltip":"","color":"","bgcolor":"","icon":"save","payload":"","payloadType":"str","topic":"","topicType":"str","x":173.7500343322754,"y":1057.5000319480896,"wires":[["567de271.a9fb5c"]]},{"id":"a044f08a.7f9ef","type":"ui_button","z":"d4d22616.d9c7d8","name":"","group":"49022d2a.ec3ae4","order":9,"width":6,"height":1,"passthru":true,"label":"全予約 削除","tooltip":"","color":"","bgcolor":"","icon":"delete_forever","payload":"true","payloadType":"bool","topic":"","x":230,"y":1720,"wires":[["ce7995e0.7fe5e8","fab0f1f1.e032e","a8f3bf4b.b8898","e180bf6f.902ff"]]},{"id":"515a9141.5dac","type":"ui_dropdown","z":"d4d22616.d9c7d8","name":"","label":"操作内容","tooltip":"","place":"Select option","group":"ebdf4025.6ac128","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Aircon cool_L on","value":"aircon cool_L","type":"str"},{"label":"Aircon Heat on","value":"aircon heat","type":"str"},{"label":"Aircon off","value":"aircon off","type":"str"},{"label":"TV","value":"TV on-off","type":"str"},{"label":"Light","value":"Light  on-off","type":"str"},{"label":"fan","value":"fan on-off","type":"str"},{"label":"ext no1","value":"ext no1","type":"str"},{"label":"ext no2","value":"ext no2","type":"str"},{"label":"ext no3","value":"ext no3","type":"str"},{"label":"ext no4","value":"ext no4","type":"str"}],"payload":"","topic":"","x":260,"y":840,"wires":[["c52d31cc.373ae"]]},{"id":"2c54edbb.6994e2","type":"ui_slider","z":"d4d22616.d9c7d8","name":"","label":"時間","tooltip":"","group":"ebdf4025.6ac128","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"23","step":1,"x":250,"y":880,"wires":[["f5cb3189.a8fb6"]]},{"id":"8cfdb5e4.5af168","type":"ui_slider","z":"d4d22616.d9c7d8","name":"","label":"　分","tooltip":"","group":"ebdf4025.6ac128","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"59","step":1,"x":250,"y":920,"wires":[["f772a80.12edb58"]]},{"id":"8f97765e.ed6568","type":"ui_text","z":"d4d22616.d9c7d8","group":"ebdf4025.6ac128","order":4,"width":0,"height":0,"name":"","label":"予約内容","format":"{{msg.sousa}} : {{msg.jikan}}時 {{msg.fun}}分","layout":"row-spread","x":940,"y":920,"wires":[]},{"id":"e257efc2.9803e","type":"ui_text","z":"d4d22616.d9c7d8","group":"49022d2a.ec3ae4","order":1,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1210,"y":640,"wires":[]},{"id":"67f29014.fc8c1","type":"ui_text","z":"d4d22616.d9c7d8","group":"49022d2a.ec3ae4","order":3,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1210,"y":680,"wires":[]},{"id":"f93e3af9.3cd188","type":"ui_text","z":"d4d22616.d9c7d8","group":"49022d2a.ec3ae4","order":5,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1210,"y":720,"wires":[]},{"id":"1c79f706.4dab69","type":"ui_text","z":"d4d22616.d9c7d8","group":"49022d2a.ec3ae4","order":7,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1210,"y":760,"wires":[]},{"id":"80c702cb.80b42","type":"debug","z":"d4d22616.d9c7d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":2040,"wires":[]},{"id":"d9a9188a.559d58","type":"debug","z":"d4d22616.d9c7d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1152.500015258789,"y":2121.249993801117,"wires":[]},{"id":"ee5a7b6e.7a40d8","type":"debug","z":"d4d22616.d9c7d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":2079,"wires":[]},{"id":"15069046.d6ca3","type":"switch","z":"d4d22616.d9c7d8","name":"操作内容 not null","property":"sousa","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":1040,"wires":[["48ab8168.a5844"],["8740f974.d023a8"]]},{"id":"48ab8168.a5844","type":"switch","z":"d4d22616.d9c7d8","name":"時間  not null","property":"jikan","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":1040,"wires":[["ace689e2.ea8578"],["8740f974.d023a8"]]},{"id":"ace689e2.ea8578","type":"switch","z":"d4d22616.d9c7d8","name":"分  not null","property":"fun","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":1040,"wires":[["ce139f1.bb6f36"],["8740f974.d023a8"]]},{"id":"d00e6868.b61758","type":"ui_text","z":"d4d22616.d9c7d8","group":"ebdf4025.6ac128","order":6,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1090,"y":600,"wires":[]},{"id":"22d6c4bd.59601c","type":"ui_text","z":"d4d22616.d9c7d8","group":"ebdf4025.6ac128","order":8,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1090,"y":640,"wires":[]},{"id":"ae9fa8b8.e05a68","type":"ui_text","z":"d4d22616.d9c7d8","group":"ebdf4025.6ac128","order":10,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1090,"y":680,"wires":[]},{"id":"4570fb93.2e3234","type":"ui_text","z":"d4d22616.d9c7d8","group":"ebdf4025.6ac128","order":12,"width":5,"height":1,"name":"","label":"","format":"{{payload}} ","layout":"row-spread","x":1090,"y":720,"wires":[]},{"id":"fa1d2623.e9e4a8","type":"link in","z":"d4d22616.d9c7d8","name":"","links":["f50fd9d5.ff0298"],"x":695,"y":680,"wires":[["91aa005b.d7ede","cd6c8bd4.7cc3d8","bdcd0af.290e0f8","6e6a4752.469498"]]},{"id":"40b73a00.74c048","type":"ui_switch","z":"d4d22616.d9c7d8","name":"","label":"sw1","tooltip":"","group":"ebdf4025.6ac128","order":7,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":910,"y":1300,"wires":[["e38f1cb4.d5057"]]},{"id":"d69838d8.8e5c48","type":"ui_switch","z":"d4d22616.d9c7d8","name":"","label":"sw2","tooltip":"","group":"ebdf4025.6ac128","order":9,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":910,"y":1380,"wires":[["8bc3a7e9.bfabc8"]]},{"id":"60bf4ded.bf5084","type":"ui_switch","z":"d4d22616.d9c7d8","name":"","label":"sw3","tooltip":"","group":"ebdf4025.6ac128","order":11,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":910,"y":1460,"wires":[["ea591174.de3ea"]]},{"id":"7ce83596.214f1c","type":"ui_switch","z":"d4d22616.d9c7d8","name":"","label":"sw4","tooltip":"","group":"ebdf4025.6ac128","order":13,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":910,"y":1540,"wires":[["c5835434.a47a18"]]},{"id":"c53b3fb3.1358b","type":"debug","z":"d4d22616.d9c7d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1168.7500076293945,"y":1165,"wires":[]},{"id":"e38f1cb4.d5057","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1300,"wires":[["96320961.763ff8"],["def170e2.90b68"]]},{"id":"96320961.763ff8","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"sw1","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1280,"wires":[["2a45b1e.4d1704e"]]},{"id":"64256e8.f8b139","type":"template","z":"d4d22616.d9c7d8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\"1\"","output":"str","x":340,"y":1400,"wires":[["91a0feb7.bcdbe","5da71c16.800f34","7f8dafec.0ae47","d54eddb5.2eb27"]]},{"id":"fc90fb9a.b300a8","type":"change","z":"d4d22616.d9c7d8","name":"sw全削除","rules":[{"t":"set","p":"sw1","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"sw2","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"sw3","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"sw4","pt":"flow","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1820,"wires":[[]]},{"id":"21530519.95572a","type":"comment","z":"d4d22616.d9c7d8","name":"予約の活殺","info":"","x":180,"y":1280,"wires":[]},{"id":"2c8f37e3.6cbfd8","type":"change","z":"d4d22616.d9c7d8","name":"予約データ1の削除","rules":[{"t":"set","p":"sousa1","pt":"flow","to":"","tot":"str"},{"t":"set","p":"jikan1","pt":"flow","to":"","tot":"str"},{"t":"set","p":"fun1","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1660,"wires":[[]]},{"id":"d7bd27b4.ea6a28","type":"comment","z":"d4d22616.d9c7d8","name":"全ファイルのデータを読み込み　変数に設定","info":"","x":290,"y":200,"wires":[]},{"id":"3c00c38f.295c1c","type":"template","z":"d4d22616.d9c7d8","name":"yoyaku_sw.csv","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/yoyaku_sw.csv","output":"str","x":540,"y":500,"wires":[["a4820e9e.dabcd"]]},{"id":"a4820e9e.dabcd","type":"file in","z":"d4d22616.d9c7d8","name":"予約ファイル読込","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":750,"y":500,"wires":[["42e86fb5.92f52"]]},{"id":"42e86fb5.92f52","type":"csv","z":"d4d22616.d9c7d8","name":"データを変数に代入","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"sw1,sw2,sw3,sw4","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":980,"y":500,"wires":[["254bed87.1eb322"]]},{"id":"254bed87.1eb322","type":"change","z":"d4d22616.d9c7d8","name":"sw - > flow.swにセット","rules":[{"t":"set","p":"sw1","pt":"flow","to":"payload.sw1","tot":"msg"},{"t":"set","p":"sw2","pt":"flow","to":"payload.sw2","tot":"msg"},{"t":"set","p":"sw3","pt":"flow","to":"payload.sw3","tot":"msg"},{"t":"set","p":"sw4","pt":"flow","to":"payload.sw4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":500,"wires":[["f50fd9d5.ff0298","7a007e.c810df84"]]},{"id":"5a58e626.32f4f8","type":"change","z":"d4d22616.d9c7d8","name":"予約データ2のセット","rules":[{"t":"set","p":"sousa2","pt":"flow","to":"payload.sousa2","tot":"msg"},{"t":"set","p":"jikan2","pt":"flow","to":"payload.jikan2","tot":"msg"},{"t":"set","p":"fun2","pt":"flow","to":"payload.fun2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":400,"wires":[["fa1d7bab.2356d8"]]},{"id":"fa1d7bab.2356d8","type":"change","z":"d4d22616.d9c7d8","name":"予約データ3のセット","rules":[{"t":"set","p":"sousa3","pt":"flow","to":"payload.sousa3","tot":"msg"},{"t":"set","p":"jikan3","pt":"flow","to":"payload.jikan3","tot":"msg"},{"t":"set","p":"fun3","pt":"flow","to":"payload.fun3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":400,"wires":[["e0a49a81.e20988"]]},{"id":"e0a49a81.e20988","type":"change","z":"d4d22616.d9c7d8","name":"予約データ4のセット","rules":[{"t":"set","p":"sousa4","pt":"flow","to":"payload.sousa4","tot":"msg"},{"t":"set","p":"jikan4","pt":"flow","to":"payload.jikan4","tot":"msg"},{"t":"set","p":"fun4","pt":"flow","to":"payload.fun4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":400,"wires":[[]]},{"id":"ca4241a2.2d199","type":"delay","z":"d4d22616.d9c7d8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":500,"wires":[["3c00c38f.295c1c"]]},{"id":"ff1a102d.7d9b3","type":"comment","z":"d4d22616.d9c7d8","name":"操作内容を反映したので、pythonでよろしくやっといてね","info":"","x":330,"y":2020,"wires":[]},{"id":"c15d79ea.a1bbc8","type":"debug","z":"d4d22616.d9c7d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":360,"wires":[]},{"id":"8cb534de.b84d98","type":"change","z":"d4d22616.d9c7d8","name":"no削除","rules":[{"t":"set","p":"no","pt":"flow","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1860,"wires":[[]]},{"id":"71b5f879.497138","type":"template","z":"d4d22616.d9c7d8","name":"全削除　コード9","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"9","output":"str","x":930,"y":1840,"wires":[["7e981ab0.ffa544"]]},{"id":"4457d173.6a6ec","type":"ui_button","z":"d4d22616.d9c7d8","name":"","group":"49022d2a.ec3ae4","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"delete_forever","payload":"1","payloadType":"str","topic":"","x":870,"y":1660,"wires":[["2106b249.6c221e"]]},{"id":"fd088391.d8587","type":"ui_button","z":"d4d22616.d9c7d8","name":"","group":"49022d2a.ec3ae4","order":4,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"delete_forever","payload":"2","payloadType":"str","topic":"","x":890,"y":1700,"wires":[["3928ec59.630814"]]},{"id":"579ed1de.2c208","type":"ui_button","z":"d4d22616.d9c7d8","name":"","group":"49022d2a.ec3ae4","order":6,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"delete_forever","payload":"3","payloadType":"str","topic":"","topicType":"str","x":910,"y":1740,"wires":[["90593bef.c322a8"]]},{"id":"82b3f650.c92e88","type":"ui_button","z":"d4d22616.d9c7d8","name":"","group":"49022d2a.ec3ae4","order":8,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"delete_forever","payload":"4","payloadType":"str","topic":"","topicType":"str","x":930,"y":1780,"wires":[["adddbec7.0b9a"]]},{"id":"23ed53ee.5c504c","type":"comment","z":"d4d22616.d9c7d8","name":"予約データの削除","info":"","x":210,"y":1660,"wires":[]},{"id":"91beb662.2ec838","type":"change","z":"d4d22616.d9c7d8","name":"予約データ2の削除","rules":[{"t":"set","p":"sousa2","pt":"flow","to":"","tot":"str"},{"t":"set","p":"jikan2","pt":"flow","to":"","tot":"str"},{"t":"set","p":"fun2","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1700,"wires":[[]]},{"id":"7c79979c.d7dc98","type":"change","z":"d4d22616.d9c7d8","name":"予約データ3の削除","rules":[{"t":"set","p":"sousa3","pt":"flow","to":"","tot":"str"},{"t":"set","p":"jikan3","pt":"flow","to":"","tot":"str"},{"t":"set","p":"fun3","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1740,"wires":[[]]},{"id":"3a3cddd.c591e22","type":"change","z":"d4d22616.d9c7d8","name":"予約データ4の削除","rules":[{"t":"set","p":"sousa4","pt":"flow","to":"","tot":"str"},{"t":"set","p":"jikan4","pt":"flow","to":"","tot":"str"},{"t":"set","p":"fun4","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1780,"wires":[["71b5f879.497138"]]},{"id":"91aa005b.d7ede","type":"template","z":"d4d22616.d9c7d8","name":"データ1セット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.sousa1}} : {{flow.jikan1}}時{{flow.fun1}}分","output":"str","x":900,"y":620,"wires":[["d00e6868.b61758","e257efc2.9803e"]]},{"id":"cd6c8bd4.7cc3d8","type":"template","z":"d4d22616.d9c7d8","name":"データ2セット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.sousa2}} : {{flow.jikan2}}時{{flow.fun2}}分","output":"str","x":900,"y":660,"wires":[["22d6c4bd.59601c","67f29014.fc8c1"]]},{"id":"bdcd0af.290e0f8","type":"template","z":"d4d22616.d9c7d8","name":"データ3セット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.sousa3}} : {{flow.jikan3}}時{{flow.fun3}}分","output":"str","x":900,"y":700,"wires":[["ae9fa8b8.e05a68","f93e3af9.3cd188"]]},{"id":"6e6a4752.469498","type":"template","z":"d4d22616.d9c7d8","name":"データ4セット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.sousa4}} : {{flow.jikan4}}時{{flow.fun4}}分","output":"str","x":900,"y":740,"wires":[["4570fb93.2e3234","1c79f706.4dab69"]]},{"id":"66156807.e18508","type":"comment","z":"d4d22616.d9c7d8","name":"予約活殺の表示","info":"","x":1080,"y":560,"wires":[]},{"id":"89d2802.bb69b8","type":"comment","z":"d4d22616.d9c7d8","name":"予約削除の表示","info":"","x":1280,"y":600,"wires":[]},{"id":"7a007e.c810df84","type":"debug","z":"d4d22616.d9c7d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1450,"y":540,"wires":[]},{"id":"925b557b.5920d8","type":"link in","z":"d4d22616.d9c7d8","name":"","links":["f50fd9d5.ff0298"],"x":195,"y":1440,"wires":[["64256e8.f8b139"]]},{"id":"f38413b.2381cf","type":"link out","z":"d4d22616.d9c7d8","name":"","links":["2b574d6d.3cd7e2","962c731.af5169"],"x":1393.7500076293945,"y":1125,"wires":[]},{"id":"2b574d6d.3cd7e2","type":"link in","z":"d4d22616.d9c7d8","name":"","links":["f38413b.2381cf","ecca6791.5e2988"],"x":235,"y":2080,"wires":[["f260bec8.d839e"]]},{"id":"ecca6791.5e2988","type":"link out","z":"d4d22616.d9c7d8","name":"","links":["2b574d6d.3cd7e2","962c731.af5169"],"x":1535,"y":1840,"wires":[]},{"id":"1e07a9b4.17b9c6","type":"link out","z":"d4d22616.d9c7d8","name":"","links":["c268bfe.ca52e4"],"x":1035,"y":2000,"wires":[]},{"id":"c268bfe.ca52e4","type":"link in","z":"d4d22616.d9c7d8","name":"","links":["1e07a9b4.17b9c6"],"x":155,"y":380,"wires":[["9afc2984.1e44c8"]]},{"id":"ae0c3178.ac281","type":"inject","z":"d4d22616.d9c7d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":2160,"wires":[["f260bec8.d839e"]]},{"id":"4aaae5d1.b571ec","type":"debug","z":"d4d22616.d9c7d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":1680,"wires":[]},{"id":"fe345435.27b158","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"sousa1","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":1660,"wires":[["7e981ab0.ffa544"],[]]},{"id":"fdf8b892.cead48","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"sousa2","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":1700,"wires":[["7e981ab0.ffa544"],[]]},{"id":"4614410.56f19c","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"sousa3","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":1740,"wires":[["7e981ab0.ffa544"],[]]},{"id":"a36fc6b6.491df8","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"sousa4","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":1780,"wires":[["7e981ab0.ffa544"],[]]},{"id":"e51abe1.58f094","type":"inject","z":"d4d22616.d9c7d8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":890,"y":1260,"wires":[["40b73a00.74c048"]]},{"id":"a1975f31.9827e","type":"inject","z":"d4d22616.d9c7d8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":890,"y":1220,"wires":[["40b73a00.74c048"]]},{"id":"def170e2.90b68","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"sw1","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1320,"wires":[["2a45b1e.4d1704e"]]},{"id":"8bc3a7e9.bfabc8","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1380,"wires":[["c5fa0121.cbff2"],["95c773b8.681d3"]]},{"id":"c5fa0121.cbff2","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"sw2","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1360,"wires":[["2a45b1e.4d1704e"]]},{"id":"95c773b8.681d3","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"sw2","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1400,"wires":[["2a45b1e.4d1704e"]]},{"id":"ea591174.de3ea","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1460,"wires":[["e7d10b30.b6daf8"],["3866ce6c.a53ed2"]]},{"id":"e7d10b30.b6daf8","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"sw3","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1440,"wires":[["2a45b1e.4d1704e"]]},{"id":"3866ce6c.a53ed2","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"sw3","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1480,"wires":[["2a45b1e.4d1704e"]]},{"id":"c5835434.a47a18","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1540,"wires":[["4023857c.4ca03c"],["4fef5f95.4fa8d"]]},{"id":"4023857c.4ca03c","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"sw4","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1520,"wires":[["2a45b1e.4d1704e"]]},{"id":"4fef5f95.4fa8d","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"sw4","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1560,"wires":[["2a45b1e.4d1704e"]]},{"id":"d54eddb5.2eb27","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"sw4","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1540,"wires":[["3c4b094e.994106"],["b603dabe.56f1b8"]]},{"id":"3c4b094e.994106","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1520,"wires":[["7ce83596.214f1c"]]},{"id":"b603dabe.56f1b8","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1560,"wires":[["7ce83596.214f1c"]]},{"id":"7f8dafec.0ae47","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"sw3","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1460,"wires":[["b166c4f2.204428"],["e62f2851.a218f8"]]},{"id":"b166c4f2.204428","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1440,"wires":[["60bf4ded.bf5084"]]},{"id":"e62f2851.a218f8","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1480,"wires":[["60bf4ded.bf5084"]]},{"id":"5da71c16.800f34","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"sw2","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1380,"wires":[["cd3f90ed.a2b36"],["7383530.3aab1ac"]]},{"id":"cd3f90ed.a2b36","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1360,"wires":[["d69838d8.8e5c48"]]},{"id":"7383530.3aab1ac","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1400,"wires":[["d69838d8.8e5c48"]]},{"id":"91a0feb7.bcdbe","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"sw1","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1300,"wires":[["eeccacf0.b98b5"],["22ca98bc.2b2048"]]},{"id":"eeccacf0.b98b5","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1280,"wires":[["40b73a00.74c048"]]},{"id":"22ca98bc.2b2048","type":"change","z":"d4d22616.d9c7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1320,"wires":[["40b73a00.74c048"]]},{"id":"d09bc839.6a9928","type":"inject","z":"d4d22616.d9c7d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":1320,"wires":[["64256e8.f8b139"]]},{"id":"e2091820.ce5a58","type":"file","z":"d4d22616.d9c7d8","name":"swファイル書込み","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1570,"y":1440,"wires":[["27a0fdbb.795872"]]},{"id":"ea835bb0.38a258","type":"template","z":"d4d22616.d9c7d8","name":"swデータセット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.sw1}},{{flow.sw2}},{{flow.sw3}},{{flow.sw4}},","output":"str","x":1520,"y":1400,"wires":[["e2091820.ce5a58"]]},{"id":"1511b43c.22d5ec","type":"template","z":"d4d22616.d9c7d8","name":"yoyaku_sw.csv","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/yoyaku_sw.csv","output":"str","x":1460,"y":1360,"wires":[["ea835bb0.38a258"]]},{"id":"fa88960a.3983f8","type":"template","z":"d4d22616.d9c7d8","name":"iR_command.txt","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/iR_command.txt","output":"str","x":1460,"y":1520,"wires":[["c35fc259.c9cf7"]]},{"id":"c35fc259.c9cf7","type":"template","z":"d4d22616.d9c7d8","name":"reload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"reload","output":"str","x":1490,"y":1560,"wires":[["aaad4327.496a1"]]},{"id":"aaad4327.496a1","type":"file","z":"d4d22616.d9c7d8","name":"reload書込み","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1550,"y":1600,"wires":[["4aaae5d1.b571ec"]]},{"id":"d1ba81f4.ce2a","type":"catch","z":"d4d22616.d9c7d8","name":"","scope":["173a612a.d0ee8f"],"uncaught":false,"x":850,"y":2160,"wires":[["c2ce07ad.758ea8"]]},{"id":"308e0158.fa135e","type":"debug","z":"d4d22616.d9c7d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":2160,"wires":[]},{"id":"2a45b1e.4d1704e","type":"delay","z":"d4d22616.d9c7d8","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1460,"y":1300,"wires":[["1511b43c.22d5ec"]]},{"id":"ba243d33.57cec","type":"ui_text","z":"d4d22616.d9c7d8","group":"ebdf4025.6ac128","order":13,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1408.7500076293945,"y":925,"wires":[]},{"id":"8b61c35f.5cf42","type":"template","z":"d4d22616.d9c7d8","name":"既に一杯です。","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"既に一杯です。","output":"str","x":1178.7500076293945,"y":925,"wires":[["ba243d33.57cec","ef8cca49.6d30b8"]]},{"id":"ef8cca49.6d30b8","type":"delay","z":"d4d22616.d9c7d8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1278.7500076293945,"y":885,"wires":[["7e5a9729.6421b8"]]},{"id":"7e5a9729.6421b8","type":"template","z":"d4d22616.d9c7d8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"　","output":"str","x":1418.7500076293945,"y":885,"wires":[["ba243d33.57cec"]]},{"id":"8740f974.d023a8","type":"template","z":"d4d22616.d9c7d8","name":"データが足りません。","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"データが足りません。","output":"str","x":1198.7500076293945,"y":965,"wires":[["ef8cca49.6d30b8","ba243d33.57cec"]]},{"id":"2106b249.6c221e","type":"delay","z":"d4d22616.d9c7d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1030,"y":1660,"wires":[["fe345435.27b158"]]},{"id":"3928ec59.630814","type":"delay","z":"d4d22616.d9c7d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1050,"y":1700,"wires":[["fdf8b892.cead48"]]},{"id":"90593bef.c322a8","type":"delay","z":"d4d22616.d9c7d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1070,"y":1740,"wires":[["4614410.56f19c"]]},{"id":"adddbec7.0b9a","type":"delay","z":"d4d22616.d9c7d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1090,"y":1780,"wires":[["a36fc6b6.491df8"]]},{"id":"567de271.a9fb5c","type":"delay","z":"d4d22616.d9c7d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":323.75000762939453,"y":1057.5000162124634,"wires":[["b402e9e6.816298"]]},{"id":"fbc8abe3.d2c978","type":"delay","z":"d4d22616.d9c7d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":1840,"wires":[["2c8f37e3.6cbfd8","91beb662.2ec838","7c79979c.d7dc98","3a3cddd.c591e22","fc90fb9a.b300a8","8cb534de.b84d98"]]},{"id":"ce7995e0.7fe5e8","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"sousa1","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1660,"wires":[["fbc8abe3.d2c978"],[]]},{"id":"fab0f1f1.e032e","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"sousa2","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":1700,"wires":[["fbc8abe3.d2c978"],[]]},{"id":"a8f3bf4b.b8898","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"sousa3","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":1740,"wires":[["fbc8abe3.d2c978"],[]]},{"id":"e180bf6f.902ff","type":"switch","z":"d4d22616.d9c7d8","name":"","property":"sousa4","propertyType":"flow","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1780,"wires":[["fbc8abe3.d2c978"],[]]},{"id":"e7c76e8.52cf59","type":"catch","z":"d4d22616.d9c7d8","name":"","scope":["5bff9c07.a85e14"],"uncaught":false,"x":810,"y":260,"wires":[["1a6a8044.93ab4"]]},{"id":"fb9c3f33.b184a","type":"template","z":"d4d22616.d9c7d8","name":"reload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":1090,"y":260,"wires":[["ff06c508.64dfd8"]]},{"id":"ff06c508.64dfd8","type":"file","z":"d4d22616.d9c7d8","name":"reload書込み","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1230,"y":260,"wires":[["70217d8b.cad324"]]},{"id":"1a6a8044.93ab4","type":"template","z":"d4d22616.d9c7d8","name":"yoyaku.csv","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/yoyaku.csv","output":"str","x":950,"y":260,"wires":[["fb9c3f33.b184a"]]},{"id":"70217d8b.cad324","type":"debug","z":"d4d22616.d9c7d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":260,"wires":[]},{"id":"3d812d15.a250f2","type":"template","z":"d4d22616.d9c7d8","name":"reload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1070,"y":2240,"wires":[["29d30ec2.c262f2"]]},{"id":"29d30ec2.c262f2","type":"file","z":"d4d22616.d9c7d8","name":"reload書込み","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1210,"y":2240,"wires":[["c693dcf.dc18f2"]]},{"id":"c2ce07ad.758ea8","type":"template","z":"d4d22616.d9c7d8","name":"yoyaku_no.csv","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/yoyaku_no.csv","output":"str","x":920,"y":2240,"wires":[["3d812d15.a250f2"]]},{"id":"c693dcf.dc18f2","type":"debug","z":"d4d22616.d9c7d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":2240,"wires":[]},{"id":"27a0fdbb.795872","type":"delay","z":"d4d22616.d9c7d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1480,"y":1480,"wires":[["fa88960a.3983f8"]]},{"id":"ebdf4025.6ac128","type":"ui_group","name":"タイマー予約","tab":"652fc399.133f8c","order":1,"disp":false,"width":6,"collapse":false},{"id":"49022d2a.ec3ae4","type":"ui_group","name":"予約削除","tab":"652fc399.133f8c","order":2,"disp":true,"width":6,"collapse":true},{"id":"652fc399.133f8c","type":"ui_tab","name":"タイマー予約","icon":"dashboard","order":4,"disabled":false,"hidden":false}]