リモコン学習送信_B_v1_01.txt
[{"id":"3656ea08.e66c36","type":"tab","label":"リモコン操作","disabled":false,"info":""},{"id":"d84bb85d.3feff8","type":"exec","z":"3656ea08.e66c36","command":"","addpay":true,"append":" ","useSpawn":"false","timer":"60","oldrc":false,"name":"赤外線信号送出","x":880,"y":480,"wires":[["55302481.cb009c"],["e80842f8.538cb"],["2b7a2b97.e520a4"]]},{"id":"4846f54d.6f594c","type":"inject","z":"3656ea08.e66c36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["9d1906e3.f3b5d8"]]},{"id":"1f88571f.eb1bd9","type":"template","z":"3656ea08.e66c36","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{user}}/{{folder}}/irrp_long.py -p -g22 -f /home/{{user}}/{{folder}}/{{payload}}","output":"str","x":660,"y":480,"wires":[["d84bb85d.3feff8","1f652c6a.515444"]]},{"id":"81486dad.8c7fc","type":"change","z":"3656ea08.e66c36","name":"L_remocon","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"folder","pt":"msg","to":"L_remocon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":400,"wires":[["4aa13116.e5f0d","ccc08f55.52391"]]},{"id":"f2c6b2d8.1ac7a","type":"link out","z":"3656ea08.e66c36","name":"","links":["5b00f051.c12cc"],"x":315,"y":460,"wires":[]},{"id":"5b00f051.c12cc","type":"link in","z":"3656ea08.e66c36","name":"","links":["f2c6b2d8.1ac7a"],"x":335,"y":300,"wires":[["fb80f47b.4d5458"]]},{"id":"f330c6b5.fa70c8","type":"comment","z":"3656ea08.e66c36","name":"制御モードと学習モードを1画面で実現。","info":"","x":699,"y":85,"wires":[]},{"id":"a9878c03.c655f","type":"comment","z":"3656ea08.e66c36","name":"folder","info":"","x":650,"y":360,"wires":[]},{"id":"960c1999.e0f098","type":"comment","z":"3656ea08.e66c36","name":"user","info":"","x":530,"y":360,"wires":[]},{"id":"9e72c744.5427a8","type":"change","z":"3656ea08.e66c36","name":"pi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"user","pt":"msg","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":400,"wires":[["81486dad.8c7fc"]]},{"id":"9d1906e3.f3b5d8","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":3,"width":3,"height":1,"passthru":true,"label":"aircon cool_H","tooltip":"","color":"","bgcolor":"","icon":"","payload":"aircon cool_H","payloadType":"str","topic":"","topicType":"str","x":140,"y":100,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"9af4bbca.f3f338","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":4,"width":3,"height":1,"passthru":true,"label":"aircon cool_L","tooltip":"","color":"","bgcolor":"","icon":"","payload":"aircon cool_L","payloadType":"str","topic":"","topicType":"str","x":140,"y":140,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"adacc354.d54e9","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":5,"width":3,"height":1,"passthru":true,"label":"aircon heat","tooltip":"","color":"","bgcolor":"","icon":"","payload":"aircon heat","payloadType":"str","topic":"","topicType":"str","x":130,"y":180,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"8e44f372.aadbe","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":6,"width":3,"height":1,"passthru":true,"label":"aircon off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"aircon off","payloadType":"str","topic":"","topicType":"str","x":120,"y":220,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"285dee18.4341d2","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":8,"width":2,"height":2,"passthru":true,"label":"tv on-off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tv on-off","payloadType":"str","topic":"","topicType":"str","x":120,"y":260,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"cc5f34d4.c09628","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":7,"width":2,"height":1,"passthru":true,"label":"ch_up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tv ch_up","payloadType":"str","topic":"","topicType":"str","x":110,"y":300,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"4d9c0753.efc338","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":10,"width":2,"height":1,"passthru":true,"label":"ch_down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tv ch_down","payloadType":"str","topic":"","topicType":"str","x":120,"y":340,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"695efbd1.d1b244","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":12,"width":0,"height":0,"passthru":true,"label":"light on-off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"light on-off","payloadType":"str","topic":"","topicType":"str","x":130,"y":460,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"42f568cd.2c16f8","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":13,"width":0,"height":0,"passthru":true,"label":"fan on-off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fan on-off","payloadType":"str","topic":"","topicType":"str","x":120,"y":500,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"86b3d35a.a9f73","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":14,"width":3,"height":1,"passthru":true,"label":"ext no1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ext no1","payloadType":"str","topic":"","topicType":"str","x":120,"y":540,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"73f0956f.f8a95c","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":15,"width":3,"height":1,"passthru":true,"label":"ext no2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ext no2","payloadType":"str","topic":"","topicType":"str","x":120,"y":580,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"5c945554.523f5c","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":16,"width":3,"height":1,"passthru":true,"label":"ext no3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ext no3","payloadType":"str","topic":"","topicType":"str","x":120,"y":620,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"173bde71.a6d7f2","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":17,"width":3,"height":1,"passthru":true,"label":"ext no4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ext no4","payloadType":"str","topic":"","topicType":"str","x":120,"y":660,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"ec580950.02f768","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":9,"width":2,"height":1,"passthru":true,"label":"vol_up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tv vol_up","payloadType":"str","topic":"","topicType":"str","x":110,"y":380,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"acfea8af.8d0588","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":11,"width":2,"height":1,"passthru":true,"label":"vol_down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tv vol_down","payloadType":"str","topic":"","topicType":"str","x":120,"y":420,"wires":[["f2c6b2d8.1ac7a"]]},{"id":"c1629703.c6ca98","type":"ui_switch","z":"3656ea08.e66c36","name":"","label":"モード","tooltip":"","group":"d0ddd7c4.f67588","order":2,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":469,"y":165,"wires":[["ab914186.9861b"]]},{"id":"a9d21b88.f25398","type":"ui_text","z":"3656ea08.e66c36","group":"d0ddd7c4.f67588","order":1,"width":5,"height":1,"name":"","label":"リモコン画面　","format":"{{msg.payload}}","layout":"row-right","x":1059,"y":165,"wires":[]},{"id":"ab914186.9861b","type":"switch","z":"3656ea08.e66c36","name":"モード設定","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":609,"y":165,"wires":[["e79b7569.58edf8","8ec49c4c.b5af2"],["f8aa59f5.d95b88","4f7d84a1.49d1ac"]]},{"id":"f8aa59f5.d95b88","type":"template","z":"3656ea08.e66c36","name":"学習モード","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"学習モード","output":"str","x":829,"y":205,"wires":[["a9d21b88.f25398"]]},{"id":"e79b7569.58edf8","type":"template","z":"3656ea08.e66c36","name":"制御モード","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"制御モード","output":"str","x":829,"y":125,"wires":[["a9d21b88.f25398"]]},{"id":"4f7d84a1.49d1ac","type":"change","z":"3656ea08.e66c36","name":"set:学習","rules":[{"t":"set","p":"mode","pt":"flow","to":"学習","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":819,"y":245,"wires":[[]]},{"id":"8ec49c4c.b5af2","type":"change","z":"3656ea08.e66c36","name":"set:制御","rules":[{"t":"set","p":"mode","pt":"flow","to":"制御","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":819,"y":165,"wires":[[]]},{"id":"4aa13116.e5f0d","type":"switch","z":"3656ea08.e66c36","name":"モード判定","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"制御","vt":"str"},{"t":"eq","v":"学習","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":455,"y":512,"wires":[["1f88571f.eb1bd9"],["dff3fc98.83c75"]]},{"id":"5f010737.6a8f88","type":"exec","z":"3656ea08.e66c36","command":"","addpay":true,"append":" ","useSpawn":"false","timer":"20","oldrc":false,"name":"赤外線信号受信","x":880,"y":540,"wires":[["55302481.cb009c","92119571.de9ac8"],["e80842f8.538cb"],["2b7a2b97.e520a4","92119571.de9ac8","792aecd0.cf90b4"]]},{"id":"55302481.cb009c","type":"debug","z":"3656ea08.e66c36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":460,"wires":[]},{"id":"4c9c1c8e.0dd844","type":"rpi-gpio out","z":"3656ea08.e66c36","name":"表示LED","pin":"29","set":true,"level":"0","freq":"","out":"out","x":1100,"y":660,"wires":[]},{"id":"b58b2758.989bf8","type":"delay","z":"3656ea08.e66c36","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":660,"wires":[["1d3fd86.4216b28"]]},{"id":"9cef96cc.54b3d8","type":"inject","z":"3656ea08.e66c36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":910,"y":700,"wires":[["4c9c1c8e.0dd844"]]},{"id":"8fa5444.34e82b8","type":"inject","z":"3656ea08.e66c36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":910,"y":740,"wires":[["4c9c1c8e.0dd844"]]},{"id":"e80842f8.538cb","type":"debug","z":"3656ea08.e66c36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1151,"y":508,"wires":[]},{"id":"2b7a2b97.e520a4","type":"debug","z":"3656ea08.e66c36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1151,"y":555,"wires":[]},{"id":"1d3fd86.4216b28","type":"change","z":"3656ea08.e66c36","name":"LED点灯","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":660,"wires":[["4c9c1c8e.0dd844"]]},{"id":"92119571.de9ac8","type":"change","z":"3656ea08.e66c36","name":"LED消灯","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":620,"wires":[["4c9c1c8e.0dd844","792aecd0.cf90b4"]]},{"id":"dff3fc98.83c75","type":"template","z":"3656ea08.e66c36","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{user}}/{{folder}}/irrp.py -r -g4 -f /home/{{user}}/{{folder}}/{{payload}}  --no-confirm --post 130","output":"str","x":660,"y":540,"wires":[["5f010737.6a8f88","b58b2758.989bf8"]]},{"id":"25b6f0d1.83c9","type":"inject","z":"3656ea08.e66c36","name":"起動時設定 制御on  学習off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":459,"y":125,"wires":[["c1629703.c6ca98"]]},{"id":"e6b95e9.4f5d7a","type":"ui_template","z":"3656ea08.e66c36","group":"d0ddd7c4.f67588","name":"押されたボタンを表示","order":18,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1160,"y":360,"wires":[[]]},{"id":"1f652c6a.515444","type":"delay","z":"3656ea08.e66c36","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":400,"wires":[["792aecd0.cf90b4"]]},{"id":"792aecd0.cf90b4","type":"template","z":"3656ea08.e66c36","name":"表示を消去","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":1110,"y":400,"wires":[["e6b95e9.4f5d7a"]]},{"id":"ccc08f55.52391","type":"template","z":"3656ea08.e66c36","name":"押されたボタン","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"コマンド :  {{payload}} ","output":"str","x":860,"y":360,"wires":[["e6b95e9.4f5d7a"]]},{"id":"c665974.0c5a068","type":"inject","z":"3656ea08.e66c36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":740,"wires":[["173bde71.a6d7f2"]]},{"id":"fb80f47b.4d5458","type":"delay","z":"3656ea08.e66c36","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":300,"wires":[["9e72c744.5427a8"]]},{"id":"d0ddd7c4.f67588","type":"ui_group","name":"Group 1","tab":"82af5ff3.61c89","order":1,"disp":false,"width":"6","collapse":false},{"id":"82af5ff3.61c89","type":"ui_tab","name":"リモコン操作","icon":"dashboard","order":3,"disabled":false,"hidden":false}]