リモコン学習送信_B_v1_01.txt
[{"id":"606889c5.3bf318","type":"tab","label":"リモコン操作","disabled":false,"info":""},{"id":"f2dabd41.1cc87","type":"exec","z":"606889c5.3bf318","command":"","addpay":true,"append":" ","useSpawn":"false","timer":"60","oldrc":false,"name":"赤外線信号送出","x":880,"y":480,"wires":[["f75144e3.30eb28"],["1652eefe.46df11"],["bebe3b45.4a1828"]]},{"id":"924dae02.6d5a1","type":"inject","z":"606889c5.3bf318","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["36704350.1e6aec"]]},{"id":"d65c9f6d.c11be","type":"template","z":"606889c5.3bf318","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{user}}/{{folder}}/irrp_long.py -p -g22 -f /home/{{user}}/{{folder}}/{{payload}}","output":"str","x":660,"y":480,"wires":[["f2dabd41.1cc87","d3465d72.e5158"]]},{"id":"e579bb42.ebd668","type":"change","z":"606889c5.3bf318","name":"L_remocon","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"folder","pt":"msg","to":"L_remocon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":400,"wires":[["d8ecbf80.91c99","6b73c2e9.1879ac"]]},{"id":"fd7abf9c.c1897","type":"link out","z":"606889c5.3bf318","name":"","links":["82cc8d36.1c3f1"],"x":315,"y":460,"wires":[]},{"id":"82cc8d36.1c3f1","type":"link in","z":"606889c5.3bf318","name":"","links":["fd7abf9c.c1897"],"x":335,"y":300,"wires":[["65a3e197.053da"]]},{"id":"b19c8f9c.a369","type":"comment","z":"606889c5.3bf318","name":"制御モードと学習モードを1画面で実現。","info":"","x":699,"y":85,"wires":[]},{"id":"65a7c6ae.8a1338","type":"comment","z":"606889c5.3bf318","name":"folder","info":"","x":650,"y":360,"wires":[]},{"id":"2b59c9ff.9a7bc6","type":"comment","z":"606889c5.3bf318","name":"user","info":"","x":530,"y":360,"wires":[]},{"id":"ba83afe9.408be","type":"change","z":"606889c5.3bf318","name":"pi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"user","pt":"msg","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":400,"wires":[["e579bb42.ebd668"]]},{"id":"36704350.1e6aec","type":"ui_button","z":"606889c5.3bf318","name":"","group":"d0ddd7c4.f67588","order":3,"width":3,"height":1,"passthru":true,"label":"aircon cool_H","tooltip":"","color":"","bgcolor":"","icon":"","payload":"aircon cool_H","payloadType":"str","topic":"","x":140,"y":100,"wires":[["fd7abf9c.c1897"]]},{"id":"87477c17.e266","type":"ui_button","z":"606889c5.3bf318","name":"","group":"d0ddd7c4.f67588","order":4,"width":3,"height":1,"passthru":true,"label":"aircon cool_L","tooltip":"","color":"","bgcolor":"","icon":"","payload":"aircon cool_L","payloadType":"str","topic":"","x":140,"y":140,"wires":[["fd7abf9c.c1897"]]},{"id":"65ac0ba9.d12c84","type":"ui_button","z":"606889c5.3bf318","name":"","group":"d0ddd7c4.f67588","order":5,"width":3,"height":1,"passthru":true,"label":"aircon heat","tooltip":"","color":"","bgcolor":"","icon":"","payload":"aircon heat","payloadType":"str","topic":"","x":130,"y":180,"wires":[["fd7abf9c.c1897"]]},{"id":"20334986.906b56","type":"ui_button","z":"606889c5.3bf318","name":"","group":"d0ddd7c4.f67588","order":6,"width":3,"height":1,"passthru":true,"label":"aircon off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"aircon off","payloadType":"str","topic":"","x":120,"y":220,"wires":[["fd7abf9c.c1897"]]},{"id":"4132100a.19afb","type":"ui_button","z":"606889c5.3bf318","name":"","group":"d0ddd7c4.f67588","order":8,"width":2,"height":2,"passthru":true,"label":"tv on-off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tv on-off","payloadType":"str","topic":"","x":120,"y":260,"wires":[["fd7abf9c.c1897"]]},{"id":"b76093ad.0c94d","type":"ui_button","z":"606889c5.3bf318","name":"","group":"d0ddd7c4.f67588","order":7,"width":2,"height":1,"passthru":true,"label":"ch_up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tv ch_up","payloadType":"str","topic":"","x":110,"y":300,"wires":[["fd7abf9c.c1897"]]},{"id":"92f488c9.b9ec48","type":"ui_button","z":"606889c5.3bf318","name":"","group":"d0ddd7c4.f67588","order":10,"width":2,"height":1,"passthru":true,"label":"ch_down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tv ch_down","payloadType":"str","topic":"","x":120,"y":340,"wires":[["fd7abf9c.c1897"]]},{"id":"6615f087.9ddc2","type":"ui_button","z":"606889c5.3bf318","name":"","group":"d0ddd7c4.f67588","order":12,"width":0,"height":0,"passthru":true,"label":"light on-off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"light on-off","payloadType":"str","topic":"","x":130,"y":460,"wires":[["fd7abf9c.c1897"]]},{"id":"b4797c81.7c83c","type":"ui_button","z":"606889c5.3bf318","name":"","group":"d0ddd7c4.f67588","order":13,"width":0,"height":0,"passthru":true,"label":"fan on-off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fan on-off","payloadType":"str","topic":"","x":120,"y":500,"wires":[["fd7abf9c.c1897"]]},{"id":"ea0c8a70.d6d248","type":"ui_button","z":"606889c5.3bf318","name":"","group":"d0ddd7c4.f67588","order":14,"width":3,"height":1,"passthru":true,"label":"ext no1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ext no1","payloadType":"str","topic":"","x":120,"y":540,"wires":[["fd7abf9c.c1897"]]},{"id":"d7bb6513.c5be58","type":"ui_button","z":"606889c5.3bf318","name":"","group":"d0ddd7c4.f67588","order":15,"width":3,"height":1,"passthru":true,"label":"ext no2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ext no2","payloadType":"str","topic":"","x":120,"y":580,"wires":[["fd7abf9c.c1897"]]},{"id":"c4922df2.8726c","type":"ui_button","z":"606889c5.3bf318","name":"","group":"d0ddd7c4.f67588","order":16,"width":3,"height":1,"passthru":true,"label":"ext no3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ext no3","payloadType":"str","topic":"","x":120,"y":620,"wires":[["fd7abf9c.c1897"]]},{"id":"aaf8f573.f86f68","type":"ui_button","z":"606889c5.3bf318","name":"","group":"d0ddd7c4.f67588","order":17,"width":3,"height":1,"passthru":true,"label":"ext no4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ext no4","payloadType":"str","topic":"","x":120,"y":660,"wires":[["fd7abf9c.c1897"]]},{"id":"161cfef1.d605d1","type":"ui_button","z":"606889c5.3bf318","name":"","group":"d0ddd7c4.f67588","order":9,"width":2,"height":1,"passthru":true,"label":"vol_up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tv vol_up","payloadType":"str","topic":"","x":110,"y":380,"wires":[["fd7abf9c.c1897"]]},{"id":"9954524b.c6bb2","type":"ui_button","z":"606889c5.3bf318","name":"","group":"d0ddd7c4.f67588","order":11,"width":2,"height":1,"passthru":true,"label":"vol_down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tv vol_down","payloadType":"str","topic":"","x":120,"y":420,"wires":[["fd7abf9c.c1897"]]},{"id":"6a1bf9cb.3c09e8","type":"ui_switch","z":"606889c5.3bf318","name":"","label":"モード","tooltip":"","group":"d0ddd7c4.f67588","order":2,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":469,"y":165,"wires":[["be3b5f2e.1ad09"]]},{"id":"42cc3763.c4fe78","type":"ui_text","z":"606889c5.3bf318","group":"d0ddd7c4.f67588","order":1,"width":5,"height":1,"name":"","label":"リモコン画面　","format":"{{msg.payload}}","layout":"row-right","x":1059,"y":165,"wires":[]},{"id":"be3b5f2e.1ad09","type":"switch","z":"606889c5.3bf318","name":"モード設定","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":609,"y":165,"wires":[["970c2e43.17572","90fe3a08.744ec8"],["8601bea.25bbc4","45a98db6.464584"]]},{"id":"8601bea.25bbc4","type":"template","z":"606889c5.3bf318","name":"学習モード","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"学習モード","output":"str","x":829,"y":205,"wires":[["42cc3763.c4fe78"]]},{"id":"970c2e43.17572","type":"template","z":"606889c5.3bf318","name":"制御モード","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"制御モード","output":"str","x":829,"y":125,"wires":[["42cc3763.c4fe78"]]},{"id":"45a98db6.464584","type":"change","z":"606889c5.3bf318","name":"set:学習","rules":[{"t":"set","p":"mode","pt":"flow","to":"学習","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":819,"y":245,"wires":[[]]},{"id":"90fe3a08.744ec8","type":"change","z":"606889c5.3bf318","name":"set:制御","rules":[{"t":"set","p":"mode","pt":"flow","to":"制御","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":819,"y":165,"wires":[[]]},{"id":"d8ecbf80.91c99","type":"switch","z":"606889c5.3bf318","name":"モード判定","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"制御","vt":"str"},{"t":"eq","v":"学習","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":455,"y":512,"wires":[["d65c9f6d.c11be"],["485b983d.825868"]]},{"id":"5e29a62d.17e588","type":"exec","z":"606889c5.3bf318","command":"","addpay":true,"append":" ","useSpawn":"false","timer":"20","oldrc":false,"name":"赤外線信号受信","x":880,"y":540,"wires":[["f75144e3.30eb28","94dda5d1.6cfb08"],["1652eefe.46df11"],["bebe3b45.4a1828","94dda5d1.6cfb08","cc746688.e012c8"]]},{"id":"f75144e3.30eb28","type":"debug","z":"606889c5.3bf318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":460,"wires":[]},{"id":"cabad4c7.ba0a38","type":"rpi-gpio out","z":"606889c5.3bf318","name":"表示LED","pin":"29","set":true,"level":"0","freq":"","out":"out","x":1100,"y":660,"wires":[]},{"id":"2175d03a.1b47e","type":"delay","z":"606889c5.3bf318","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":660,"wires":[["c2e34cd4.5cb71"]]},{"id":"6294f313.546f0c","type":"inject","z":"606889c5.3bf318","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":910,"y":700,"wires":[["cabad4c7.ba0a38"]]},{"id":"a68b094.08fbef8","type":"inject","z":"606889c5.3bf318","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":910,"y":740,"wires":[["cabad4c7.ba0a38"]]},{"id":"1652eefe.46df11","type":"debug","z":"606889c5.3bf318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1151,"y":508,"wires":[]},{"id":"bebe3b45.4a1828","type":"debug","z":"606889c5.3bf318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1151,"y":555,"wires":[]},{"id":"c2e34cd4.5cb71","type":"change","z":"606889c5.3bf318","name":"LED点灯","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":660,"wires":[["cabad4c7.ba0a38"]]},{"id":"94dda5d1.6cfb08","type":"change","z":"606889c5.3bf318","name":"LED消灯","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":620,"wires":[["cabad4c7.ba0a38","cc746688.e012c8"]]},{"id":"485b983d.825868","type":"template","z":"606889c5.3bf318","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{user}}/{{folder}}/irrp_long.py -r -g4 -f /home/{{user}}/{{folder}}/{{payload}}  --no-confirm --post 130","output":"str","x":660,"y":540,"wires":[["5e29a62d.17e588","2175d03a.1b47e"]]},{"id":"317e79dc.bed646","type":"inject","z":"606889c5.3bf318","name":"起動時設定 制御on  学習off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":459,"y":125,"wires":[["6a1bf9cb.3c09e8"]]},{"id":"5b643c45.285e34","type":"ui_template","z":"606889c5.3bf318","group":"d0ddd7c4.f67588","name":"押されたボタンを表示","order":18,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1160,"y":360,"wires":[[]]},{"id":"d3465d72.e5158","type":"delay","z":"606889c5.3bf318","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":400,"wires":[["cc746688.e012c8"]]},{"id":"cc746688.e012c8","type":"template","z":"606889c5.3bf318","name":"表示を消去","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":1110,"y":400,"wires":[["5b643c45.285e34"]]},{"id":"6b73c2e9.1879ac","type":"template","z":"606889c5.3bf318","name":"押されたボタン","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"コマンド :  {{payload}} ","output":"str","x":860,"y":360,"wires":[["5b643c45.285e34"]]},{"id":"c5e504c6.000168","type":"inject","z":"606889c5.3bf318","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":740,"wires":[["aaf8f573.f86f68"]]},{"id":"65a3e197.053da","type":"delay","z":"606889c5.3bf318","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":300,"wires":[["ba83afe9.408be"]]},{"id":"d0ddd7c4.f67588","type":"ui_group","name":"Group 1","tab":"82af5ff3.61c89","order":1,"disp":false,"width":"6","collapse":false},{"id":"82af5ff3.61c89","type":"ui_tab","name":"リモコン操作","icon":"dashboard","order":3,"disabled":false,"hidden":false}]