温度制御.txt
[{"id":"becd009d.22055","type":"tab","label":"温度制御","disabled":false,"info":""},{"id":"e00d6aac.8f04f8","type":"change","z":"becd009d.22055","name":"L_remocon","rules":[{"t":"set","p":"folder","pt":"flow","to":"L_remocon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":100,"wires":[[]]},{"id":"79262f0.4f5a7d","type":"comment","z":"becd009d.22055","name":"user","info":"","x":410,"y":60,"wires":[]},{"id":"3b8abc9.4be7d44","type":"change","z":"becd009d.22055","name":"pi","rules":[{"t":"set","p":"user","pt":"flow","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":100,"wires":[["e00d6aac.8f04f8"]]},{"id":"6a00b4dc.eaff1c","type":"comment","z":"becd009d.22055","name":"folder","info":"","x":550,"y":60,"wires":[]},{"id":"491de642.027d38","type":"inject","z":"becd009d.22055","name":"起動時に","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":100,"wires":[["3b8abc9.4be7d44","17e71051.19d9e","1f9aee47.8a8e42","c7df5599.9b1608"]]},{"id":"c6470dca.ee568","type":"debug","z":"becd009d.22055","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":300,"wires":[]},{"id":"13304b39.c29e05","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T1-sousa","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":300,"wires":[["c6470dca.ee568"]]},{"id":"155b1f81.430c7","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T1-temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":340,"wires":[["c6470dca.ee568"]]},{"id":"825605a4.918b28","type":"comment","z":"becd009d.22055","name":"温度制御の条件指定　1","info":"","x":420,"y":260,"wires":[]},{"id":"60b5ab50.6d6a14","type":"ui_dropdown","z":"becd009d.22055","name":"","label":"操作内容","tooltip":"","place":"Select option","group":"260efeb3.289722","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Aircon cool_L on","value":"aircon cool_L","type":"str"},{"label":"Aircon Heat on","value":"aircon heat","type":"str"},{"label":"Aircon off","value":"aircon off","type":"str"},{"label":"TV","value":"TV on-off","type":"str"},{"label":"Light","value":"Light  on-off","type":"str"},{"label":"fan","value":"fan on-off","type":"str"},{"label":"ext no1","value":"ext no1","type":"str"},{"label":"ext no2","value":"ext no2","type":"str"},{"label":"ext no3","value":"ext no3","type":"str"},{"label":"ext no4","value":"ext no4","type":"str"},{"label":"","value":"指定なし","type":"str"}],"payload":"","topic":"","topicType":"str","x":460,"y":300,"wires":[["13304b39.c29e05","83677fa.7a6618"]]},{"id":"688f3515.7145ec","type":"ui_slider","z":"becd009d.22055","name":"","label":"温度","tooltip":"","group":"260efeb3.289722","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"40","step":1,"x":450,"y":340,"wires":[["155b1f81.430c7","83677fa.7a6618"]]},{"id":"9c0c616c.3c0fb","type":"debug","z":"becd009d.22055","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":400,"wires":[]},{"id":"e7bfcc75.d15a6","type":"ui_text_input","z":"becd009d.22055","name":"","label":"","tooltip":"","group":"260efeb3.289722","order":4,"width":5,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":1160,"y":400,"wires":[["9c0c616c.3c0fb"]]},{"id":"80cd95f7.7b3c78","type":"ui_template","z":"becd009d.22055","group":"260efeb3.289722","name":"","order":3,"width":0,"height":0,"format":"<div ng-init=\"model_b=超えたら\">\n   <label> <input type=\"radio\" ng-model=\"model_a\" name=\"model_a\" value=\"超えたら\" /> 超えたら </label>\n   <label> <input type=\"radio\" ng-model=\"model_a\" name=\"model_a\" value=\"下回れば\" /> 下回れば </label>\n   <md-button ng-click=\"send({payload:model_a})\">   決定  </md-button>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":520,"wires":[["fdbf9181.c938e","cacf3b79.498288","92fcc189.63f84","63859101.00a3"]],"info":"<div ng-init=\"model_b=2\">\n   <label> <input type=\"radio\" ng-model=\"model_b\" name=\"model_b\" value=\"超えたら\" /> 超えたら </label>\n   <label> <input type=\"radio\" ng-model=\"model_b\" name=\"model_b\" value=\"下回れば\" /> 下回れば </label>\n   <md-button ng-click=\"send({payload:model_b})\"> 決定 {{model_b}}</md-button>\n</div>"},{"id":"743ad627.1d3d98","type":"template","z":"becd009d.22055","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"温度 {{flow.T1-temp}} 度を  {{flow.T1-ctl}} ","output":"str","x":880,"y":440,"wires":[["e7bfcc75.d15a6"]]},{"id":"83677fa.7a6618","type":"template","z":"becd009d.22055","name":"クリア","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"　","output":"str","x":650,"y":400,"wires":[["e7bfcc75.d15a6","e33c60df.5a6e3","aa8bc917.54a798"]]},{"id":"e33c60df.5a6e3","type":"ui_text_input","z":"becd009d.22055","name":"","label":"","tooltip":"","group":"260efeb3.289722","order":7,"width":5,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":940,"y":540,"wires":[[]]},{"id":"fdbf9181.c938e","type":"template","z":"becd009d.22055","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" {{flow.T1-sousa}} を操作します。","output":"str","x":640,"y":540,"wires":[["e33c60df.5a6e3"]]},{"id":"4c98f8f9.b2d878","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T2-sousa","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":680,"wires":[[]]},{"id":"14bad8b4.2856a7","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T2-temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":720,"wires":[[]]},{"id":"3d76b0cb.6c027","type":"comment","z":"becd009d.22055","name":"温度制御の条件指定　2","info":"","x":420,"y":640,"wires":[]},{"id":"585dbae3.cb2f24","type":"ui_dropdown","z":"becd009d.22055","name":"","label":"操作内容","tooltip":"","place":"Select option","group":"367a7b24.1ca594","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Aircon cool_L on","value":"aircon cool_L","type":"str"},{"label":"Aircon Heat on","value":"aircon heat","type":"str"},{"label":"Aircon off","value":"aircon off","type":"str"},{"label":"TV","value":"TV on-off","type":"str"},{"label":"Light","value":"Light  on-off","type":"str"},{"label":"fan","value":"fan on-off","type":"str"},{"label":"ext no1","value":"ext no1","type":"str"},{"label":"ext no2","value":"ext no2","type":"str"},{"label":"ext no3","value":"ext no3","type":"str"},{"label":"ext no4","value":"ext no4","type":"str"},{"label":"","value":"指定なし","type":"str"}],"payload":"","topic":"","topicType":"str","x":460,"y":680,"wires":[["4c98f8f9.b2d878","2a39242f.dd354c"]]},{"id":"ad6bdf90.d4629","type":"ui_slider","z":"becd009d.22055","name":"","label":"温度","tooltip":"","group":"367a7b24.1ca594","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"40","step":1,"x":450,"y":720,"wires":[["14bad8b4.2856a7","2a39242f.dd354c"]]},{"id":"21b6d777.8f2958","type":"ui_text_input","z":"becd009d.22055","name":"","label":"","tooltip":"","group":"367a7b24.1ca594","order":4,"width":5,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":1160,"y":780,"wires":[[]]},{"id":"f63b51c0.1b34f","type":"ui_template","z":"becd009d.22055","group":"367a7b24.1ca594","name":"","order":3,"width":0,"height":0,"format":"<div ng-init=\"model_b=超えたら\">\n   <label> <input type=\"radio\" ng-model=\"model_b\" name=\"model_b\" value=\"超えたら\" /> 超えたら </label>\n   <label> <input type=\"radio\" ng-model=\"model_b\" name=\"model_b\" value=\"下回れば\" /> 下回れば </label>\n   <md-button ng-click=\"send({payload:model_b})\">   決定  </md-button>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":880,"wires":[["97fdf2c5.4aeed","bf604230.3fd2c","8b54055c.037be8","b3b2efc5.a5653"]],"info":"<div ng-init=\"model_b=2\">\n   <label> <input type=\"radio\" ng-model=\"model_b\" name=\"model_b\" value=\"超えたら\" /> 超えたら </label>\n   <label> <input type=\"radio\" ng-model=\"model_b\" name=\"model_b\" value=\"下回れば\" /> 下回れば </label>\n   <md-button ng-click=\"send({payload:model_b})\"> 決定 {{model_b}}</md-button>\n</div>"},{"id":"cb81dc38.4ce1","type":"template","z":"becd009d.22055","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"温度 {{flow.T2-temp}} 度を  {{payload}} ","output":"str","x":880,"y":820,"wires":[["21b6d777.8f2958"]]},{"id":"2a39242f.dd354c","type":"template","z":"becd009d.22055","name":"クリア","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"　","output":"str","x":650,"y":780,"wires":[["21b6d777.8f2958","dfb5da7c.3aef98","9505899e.044828"]]},{"id":"dfb5da7c.3aef98","type":"ui_text_input","z":"becd009d.22055","name":"","label":"","tooltip":"","group":"367a7b24.1ca594","order":7,"width":5,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":940,"y":920,"wires":[[]]},{"id":"97fdf2c5.4aeed","type":"template","z":"becd009d.22055","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" {{flow.T2-sousa}} を操作します。","output":"str","x":640,"y":920,"wires":[["dfb5da7c.3aef98"]]},{"id":"38200328.46b79c","type":"switch","z":"becd009d.22055","name":"T1チェック","property":"temp","propertyType":"global","rules":[{"t":"gt","v":"T1-temp","vt":"flow"},{"t":"lt","v":"T1-temp","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1240,"wires":[["3b89a795.9784a8"],["b695699c.b014f8"]]},{"id":"3b89a795.9784a8","type":"switch","z":"becd009d.22055","name":"超えたら","property":"T1-ctl","propertyType":"flow","rules":[{"t":"eq","v":"超えたら","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":1220,"wires":[["958aef76.066f3","1d07ee8d.2d8c71"],["8717096f.e45ea8"]]},{"id":"b695699c.b014f8","type":"switch","z":"becd009d.22055","name":"下回れば","property":"T1-ctl","propertyType":"flow","rules":[{"t":"eq","v":"下回れば","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":1260,"wires":[["1d07ee8d.2d8c71"],[]]},{"id":"b0dd71d9.bb59a","type":"exec","z":"becd009d.22055","command":"","addpay":true,"append":" ","useSpawn":"false","timer":"60","oldrc":false,"name":"赤外線信号送出","x":1240,"y":1760,"wires":[[],[],[]]},{"id":"597ae874.b33a58","type":"template","z":"becd009d.22055","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{user}}/{{folder}}/irrp_long.py -p -g22 -f /home/{{user}}/{{folder}}/{{payload}}","output":"str","x":1000,"y":1760,"wires":[["b0dd71d9.bb59a","84250b17.715a88"]]},{"id":"54761e46.a0637","type":"change","z":"becd009d.22055","name":"T1-操作内容","rules":[{"t":"set","p":"payload","pt":"msg","to":"T1-sousa","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1400,"wires":[["b0f720bf.d142e"]]},{"id":"84250b17.715a88","type":"debug","z":"becd009d.22055","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":1700,"wires":[]},{"id":"90ae18f.05729e8","type":"switch","z":"becd009d.22055","name":"T2チェック","property":"temp","propertyType":"global","rules":[{"t":"gt","v":"T2-temp","vt":"flow"},{"t":"lt","v":"T2-temp","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1540,"wires":[["e6e5075a.7591b8"],["80d2b2de.f974d"]]},{"id":"e6e5075a.7591b8","type":"switch","z":"becd009d.22055","name":"超えたら","property":"T2-ctl","propertyType":"flow","rules":[{"t":"eq","v":"超えたら","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":1520,"wires":[["2c42e374.812c0c"],[]]},{"id":"80d2b2de.f974d","type":"switch","z":"becd009d.22055","name":"下回れば","property":"T2-ctl","propertyType":"flow","rules":[{"t":"eq","v":"下回れば","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":1560,"wires":[["2c42e374.812c0c"],[]]},{"id":"3c7a052c.06d4aa","type":"comment","z":"becd009d.22055","name":"1分に1度、温度をチッェクして条件が整えば制御","info":"","x":340,"y":1180,"wires":[]},{"id":"2ad2c1cf.d6e60e","type":"inject","z":"becd009d.22055","name":"","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1380,"wires":[["38200328.46b79c","90ae18f.05729e8"]]},{"id":"958aef76.066f3","type":"debug","z":"becd009d.22055","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":1160,"wires":[]},{"id":"8717096f.e45ea8","type":"debug","z":"becd009d.22055","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":1200,"wires":[]},{"id":"cacf3b79.498288","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T1-ctl","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":500,"wires":[[]]},{"id":"bf604230.3fd2c","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T2-ctl","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":880,"wires":[[]]},{"id":"e58a638c.3b581","type":"change","z":"becd009d.22055","name":"L_remocon","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"folder","pt":"msg","to":"L_remocon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1700,"wires":[["597ae874.b33a58"]]},{"id":"1271c764.6df259","type":"comment","z":"becd009d.22055","name":"folder","info":"","x":950,"y":1660,"wires":[]},{"id":"470ba162.99f14","type":"comment","z":"becd009d.22055","name":"user","info":"","x":830,"y":1660,"wires":[]},{"id":"f55c9f40.584b3","type":"change","z":"becd009d.22055","name":"pi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"user","pt":"msg","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1700,"wires":[["e58a638c.3b581"]]},{"id":"57e87b46.82edc4","type":"change","z":"becd009d.22055","name":"T2-操作内容","rules":[{"t":"set","p":"payload","pt":"msg","to":"T2-sousa","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1700,"wires":[["f55c9f40.584b3"]]},{"id":"17e71051.19d9e","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T1-sousa","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":160,"wires":[["5b639462.551fec"]]},{"id":"aa8bc917.54a798","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"delete","p":"T1-ctl","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":360,"wires":[[]]},{"id":"5b639462.551fec","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"set","p":"T2-sousa","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":160,"wires":[[]]},{"id":"9505899e.044828","type":"change","z":"becd009d.22055","name":"","rules":[{"t":"delete","p":"T2-ctl","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":720,"wires":[[]]},{"id":"302d3f15.2d702","type":"delay","z":"becd009d.22055","name":"10分に一度のみ制御","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1180,"y":1300,"wires":[["54761e46.a0637"]]},{"id":"1d07ee8d.2d8c71","type":"switch","z":"becd009d.22055","name":"T1-sousa　設定ずみか?","property":"T1-sousa","propertyType":"flow","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":1240,"wires":[["2f27775f.1f5078","ceaca5d8.8a8fe8"],[]]},{"id":"2f27775f.1f5078","type":"switch","z":"becd009d.22055","name":"T1-ctl　設定ずみか?","property":"T1-ctl","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":1300,"wires":[["e2d41b2d.a073b8","302d3f15.2d702"],[]]},{"id":"2c42e374.812c0c","type":"switch","z":"becd009d.22055","name":"T2-sousa　設定ずみか?","property":"T2-sousa","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":1540,"wires":[["3ef2e6f4.ad96fa"],[]]},{"id":"3ef2e6f4.ad96fa","type":"switch","z":"becd009d.22055","name":"T2-ctl　設定ずみか?","property":"T2-ctl","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":1600,"wires":[["e4700743.482068"],[]]},{"id":"ceaca5d8.8a8fe8","type":"debug","z":"becd009d.22055","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":1180,"wires":[]},{"id":"e2d41b2d.a073b8","type":"debug","z":"becd009d.22055","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":1220,"wires":[]},{"id":"e4700743.482068","type":"delay","z":"becd009d.22055","name":"10分に一度のみ制御","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1180,"y":1600,"wires":[["57e87b46.82edc4"]]},{"id":"bf715a09.733b08","type":"exec","z":"becd009d.22055","command":"","addpay":true,"append":" ","useSpawn":"false","timer":"60","oldrc":false,"name":"赤外線信号送出","x":1240,"y":1460,"wires":[[],[],[]]},{"id":"8fcd9412.bdac18","type":"template","z":"becd009d.22055","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{user}}/{{folder}}/irrp_long.py -p -g22 -f /home/{{user}}/{{folder}}/{{payload}}","output":"str","x":1000,"y":1460,"wires":[["bf715a09.733b08","ebd757b6.eb2c48"]]},{"id":"ebd757b6.eb2c48","type":"debug","z":"becd009d.22055","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":1400,"wires":[]},{"id":"31fd02ac.9de96e","type":"change","z":"becd009d.22055","name":"L_remocon","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"folder","pt":"msg","to":"L_remocon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1400,"wires":[["8fcd9412.bdac18"]]},{"id":"9abeba7.f9fb548","type":"comment","z":"becd009d.22055","name":"folder","info":"","x":950,"y":1360,"wires":[]},{"id":"e69da1bd.b00b9","type":"comment","z":"becd009d.22055","name":"user","info":"","x":830,"y":1360,"wires":[]},{"id":"b0f720bf.d142e","type":"change","z":"becd009d.22055","name":"pi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"user","pt":"msg","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1400,"wires":[["31fd02ac.9de96e"]]},{"id":"66c53ff6.afce3","type":"delay","z":"becd009d.22055","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":400,"wires":[["83677fa.7a6618"]]},{"id":"1aaefcee.e4c013","type":"delay","z":"becd009d.22055","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":780,"wires":[["2a39242f.dd354c"]]},{"id":"c7df5599.9b1608","type":"ui_button","z":"becd009d.22055","name":"","group":"260efeb3.289722","order":8,"width":0,"height":0,"passthru":true,"label":"設定削除","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":260,"y":340,"wires":[["60b5ab50.6d6a14","688f3515.7145ec","66c53ff6.afce3"]]},{"id":"1f9aee47.8a8e42","type":"ui_button","z":"becd009d.22055","name":"","group":"367a7b24.1ca594","order":8,"width":0,"height":0,"passthru":true,"label":"設定削除","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":260,"y":720,"wires":[["585dbae3.cb2f24","ad6bdf90.d4629","1aaefcee.e4c013"]]},{"id":"92fcc189.63f84","type":"switch","z":"becd009d.22055","name":"空です","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":460,"wires":[["743ad627.1d3d98"],["83677fa.7a6618","5f6584e.756637c"]]},{"id":"91949b29.c56998","type":"template","z":"becd009d.22055","name":"ちゃんと選択してね","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ちゃんと選択してね","output":"str","x":1100,"y":480,"wires":[["e7bfcc75.d15a6"]]},{"id":"5f6584e.756637c","type":"delay","z":"becd009d.22055","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":480,"wires":[["91949b29.c56998"]]},{"id":"4ffaacae.0500e4","type":"template","z":"becd009d.22055","name":"ちゃんと選択してね","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ちゃんと選択してね","output":"str","x":1100,"y":860,"wires":[["21b6d777.8f2958"]]},{"id":"ac25b91a.45ced8","type":"delay","z":"becd009d.22055","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":860,"wires":[["4ffaacae.0500e4"]]},{"id":"8b54055c.037be8","type":"switch","z":"becd009d.22055","name":"空です","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":840,"wires":[["cb81dc38.4ce1"],["2a39242f.dd354c","ac25b91a.45ced8"]]},{"id":"63859101.00a3","type":"switch","z":"becd009d.22055","name":"T1-sousaが空です。","property":"T1-sousa","propertyType":"flow","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":580,"wires":[["83677fa.7a6618","5f6584e.756637c"],[]]},{"id":"b3b2efc5.a5653","type":"switch","z":"becd009d.22055","name":"T2-sousaが空です。","property":"T2-sousa","propertyType":"flow","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":960,"wires":[["ac25b91a.45ced8","2a39242f.dd354c"],[]]},{"id":"260efeb3.289722","type":"ui_group","name":"温度制御-1","tab":"90344612.5fb458","order":1,"disp":true,"width":"6","collapse":true},{"id":"367a7b24.1ca594","type":"ui_group","name":"温度制御-2","tab":"90344612.5fb458","order":2,"disp":true,"width":"6","collapse":true},{"id":"90344612.5fb458","type":"ui_tab","name":"温度制御","icon":"dashboard","order":8,"disabled":false,"hidden":false}]