状態表示_v1_01.txt
[{"id":"11d07f7.c803581","type":"tab","label":"状態表示","disabled":false,"info":""},{"id":"99e0bb2a.8b5728","type":"mqtt out","z":"11d07f7.c803581","name":"","topic":"testmqtt/remocon/temp004","qos":"0","retain":"","broker":"e5a3bdc8.169cc","x":1140,"y":280,"wires":[]},{"id":"62c8d3e.9ccee2c","type":"file in","z":"11d07f7.c803581","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":300,"wires":[["e29622e0.fb93","e249cb28.31f7b8","99e0bb2a.8b5728","60860d84.e972f4","b69f6637.390fb8","d6ac612.42841a"]]},{"id":"94d5f216.9e41d","type":"inject","z":"11d07f7.c803581","name":"1分周期","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/home/tk","payloadType":"str","x":180,"y":100,"wires":[["15c0d603.97ee9a"]]},{"id":"e29622e0.fb93","type":"function","z":"11d07f7.c803581","name":"温度を取り出す。","func":"var outputMsgs = [];\nvar lastMsg = [];\nvar words = msg.payload.split(\" \");\nfor (var w in words) {\n    outputMsgs.push({payload:words[w]});\n}\nlastMsg.push({payload:words[w]});\nreturn [lastMsg]","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":160,"wires":[[]],"info":"ファィルの中身が\n2021/01/07 14:19  :摂氏: 12.937\nであるので、\nスペースで切り出し、最後の温度だけを出力します。"},{"id":"e249cb28.31f7b8","type":"debug","z":"11d07f7.c803581","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":240,"wires":[]},{"id":"a2b60345.311fb","type":"comment","z":"11d07f7.c803581","name":"1分周期に温度を取得する。エラーがあっても1分後にデータを取得できる。","info":"1分周期にデータを取得していると\nエラーをキャッチしてリトライしなくても、ファィルがあればデータを取得できる。\nテイル読み込みよりエラーに強い。","x":690,"y":100,"wires":[]},{"id":"14d7eca9.3b3133","type":"file in","z":"11d07f7.c803581","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":460,"wires":[["4ad8268f.ce6378"]]},{"id":"19835160.ac47af","type":"file in","z":"11d07f7.c803581","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":520,"wires":[["ddfdf91d.6f50e8"]]},{"id":"4ad8268f.ce6378","type":"csv","z":"11d07f7.c803581","name":"cpu_temp","sep":":","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"time,null,null1,cpu_temp","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":680,"y":460,"wires":[["aff5c825.7fa588"]]},{"id":"ddfdf91d.6f50e8","type":"csv","z":"11d07f7.c803581","name":"cpu_rate","sep":":","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"time,null,cpu_rate","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":680,"y":520,"wires":[["d576873.f562d78"]]},{"id":"b23f5c4a.83519","type":"debug","z":"11d07f7.c803581","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":540,"wires":[]},{"id":"365870b3.ff6be","type":"change","z":"11d07f7.c803581","name":"L_remocon","rules":[{"t":"set","p":"folder","pt":"msg","to":"L_remocon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":220,"wires":[["86d51606.01e9a8","dd66c36.978344","15c8ad3e.815c63"]]},{"id":"22ce7b4e.2f5c94","type":"comment","z":"11d07f7.c803581","name":"user","info":"","x":190,"y":180,"wires":[]},{"id":"15c0d603.97ee9a","type":"change","z":"11d07f7.c803581","name":"pi","rules":[{"t":"set","p":"user","pt":"msg","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":220,"wires":[["365870b3.ff6be"]]},{"id":"91d1dd4e.2d052","type":"comment","z":"11d07f7.c803581","name":"folder","info":"","x":350,"y":180,"wires":[]},{"id":"86d51606.01e9a8","type":"template","z":"11d07f7.c803581","name":"temp_data.txt","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{user}}/{{folder}}/temp_data_last.txt\n","output":"str","x":320,"y":300,"wires":[["62c8d3e.9ccee2c"]]},{"id":"dd66c36.978344","type":"template","z":"11d07f7.c803581","name":"cpu_temp_data.txt","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{user}}/{{folder}}/cpu_temp_data.txt\n","output":"str","x":330,"y":460,"wires":[["14d7eca9.3b3133"]]},{"id":"15c8ad3e.815c63","type":"template","z":"11d07f7.c803581","name":"cpu_temp_data.txt","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{user}}/{{folder}}/cpu_rate_data.txt\n","output":"str","x":330,"y":520,"wires":[["19835160.ac47af"]]},{"id":"2685667e.10d18a","type":"comment","z":"11d07f7.c803581","name":"filenameプロパティでファイルネームを渡す。","info":"","x":410,"y":580,"wires":[]},{"id":"2641bc2a.f29bc4","type":"mqtt out","z":"11d07f7.c803581","name":"","topic":"testmqtt/remocon/temp004","qos":"","retain":"","broker":"dfd49bd6.cc2368","x":1160,"y":180,"wires":[]},{"id":"9b23e738.335628","type":"inject","z":"11d07f7.c803581","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":970,"y":180,"wires":[["2641bc2a.f29bc4"]]},{"id":"aff5c825.7fa588","type":"calculator","z":"11d07f7.c803581","name":"1:1","inputMsgField":"payload.cpu_temp","outputMsgField":"payload","operation":"div","constant":"1","round":false,"decimals":0,"x":852,"y":460,"wires":[["1ebab2e7.b9090d","b23f5c4a.83519"]]},{"id":"d576873.f562d78","type":"calculator","z":"11d07f7.c803581","name":"1:1","inputMsgField":"payload.cpu_rate","outputMsgField":"payload","operation":"div","constant":"1","round":false,"decimals":0,"x":851,"y":519,"wires":[["b352559b.2a5968","b23f5c4a.83519"]]},{"id":"60860d84.e972f4","type":"ui_gauge","z":"11d07f7.c803581","name":"","group":"e7db4c84.3f1de","order":1,"width":0,"height":0,"gtype":"gage","title":"現在温度","label":"units","format":"{{value}}度","min":"0","max":"40","colors":["#3d48e1","#41ec7d","#e7440d"],"seg1":"22","seg2":"28","x":960,"y":320,"wires":[]},{"id":"1ebab2e7.b9090d","type":"ui_gauge","z":"11d07f7.c803581","name":"","group":"e7db4c84.3f1de","order":4,"width":0,"height":0,"gtype":"gage","title":"CPU温度","label":"units","format":"{{value}}度","min":"0","max":"80","colors":["#3d48e1","#e3f11e","#e7440d"],"seg1":"40","seg2":"60","x":1048,"y":459,"wires":[]},{"id":"b352559b.2a5968","type":"ui_gauge","z":"11d07f7.c803581","name":"","group":"e7db4c84.3f1de","order":5,"width":0,"height":0,"gtype":"gage","title":"CPU使用率","label":"units","format":"{{value}}%","min":"0","max":"100","colors":["#3d48e1","#41ec7d","#e7440d"],"seg1":"20","seg2":"50","x":1050,"y":500,"wires":[]},{"id":"b69f6637.390fb8","type":"ui_chart","z":"11d07f7.c803581","name":"","group":"e7db4c84.3f1de","order":2,"width":0,"height":0,"label":"温度トレンド","chartType":"line","legend":"false","xformat":"HH","interpolate":"linear","nodata":"計測準備中","dot":false,"ymin":"10","ymax":"30","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#65d44e","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":970,"y":360,"wires":[[]]},{"id":"d6ac612.42841a","type":"ui_chart","z":"11d07f7.c803581","name":"","group":"e7db4c84.3f1de","order":3,"width":0,"height":0,"label":"長期温度トレンド","chartType":"line","legend":"false","xformat":"M/D","interpolate":"linear","nodata":"計測準備中","dot":false,"ymin":"0","ymax":"40","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#22aa22","#52dd36","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":990,"y":400,"wires":[[]]},{"id":"e5a3bdc8.169cc","type":"mqtt-broker","name":"Free Public MQTT 5 Broker Server","broker":"broker.emqx.io","port":"1883","tls":"4ad98a91.f81c14","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dfd49bd6.cc2368","type":"mqtt-broker","name":"Free Public MQTT 5 Broker Server","broker":"broker.emqx.io","port":"1883","tls":"544a6b04.86de24","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e7db4c84.3f1de","type":"ui_group","name":"状態表示","tab":"dc755b72.c0f8a8","order":1,"disp":false,"width":"6","collapse":false},{"id":"4ad98a91.f81c14","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"544a6b04.86de24","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"dc755b72.c0f8a8","type":"ui_tab","name":"状態表示","icon":"dashboard","order":5,"disabled":false,"hidden":false}]